<div class="flex flex-grow-1 h-screen p-3">
    <full-calendar [events]="taskEvent" [options]="calendarOptions" class="flex-grow-1"></full-calendar>
</div>

<p-overlayPanel #taskPanel [dismissable]="true" appendTo="body">
    <app-task-list-element [style]="{width:'40vw',minWidth:'min-content'}" [isHover]="false"
                           [item]="previewTask"></app-task-list-element>
</p-overlayPanel>

<p-contextMenu #eventMenu [model]="eventMenuModel" appendTo="body"></p-contextMenu>

<app-task-selecting-dialog #scheduleTaskDialog header="Запланировать задачу" [onlyMy]="true" (onSelected)="confirmScheduleTask($event)"></app-task-selecting-dialog>
