<!--Диалог для установки даты и времени актуальности задачи-->
<p-dialog [(visible)]="visible" (visibleChange)="visibleChange.emit($event)"
          [dismissableMask]="true" appendTo="body" (onHide)="resetDate()"
          [draggable]="false" [modal]="true" [resizable]="false"
          contentStyleClass="flex flex-column gap-3 pt-1"
          [header]="title">
    <ng-template pTemplate="content">
        <span></span>
        <p-calendar [firstDayOfWeek]="1" [formControl]="dateControl"
                    [inline]="true" [selectOtherMonths]="true" class="w-fit align-self-center"></p-calendar>
        <app-time-picker [formControl]="dateTimeControl"></app-time-picker>
        <app-button (onClick)="setDateTimeOfTaskRelevance()"
                    [loading]="changingTaskDateTime"
                    [label]="buttonLabel + (dateTimeControl.value | date:'dd-MM-yyyy HH:mm')"></app-button>
    </ng-template>
</p-dialog>
