<div [pTooltip]="'Файлов загружено ' + filesLoaded+'/'+filesCatching +'\n' + 'Последний загруженный: \n' + lastFileName"
     [tooltipDisabled]="!hasFiles" class="button-wrapper" tooltipPosition="left">
    <p-button (onClick)="hasFiles ? menu.toggle($event) : openFileManager()"
              [disabled]="disabled || loading" [label]="label"
              [styleClass]="style" icon="mdi-attach_file"
    ></p-button>
    <p-badge *ngIf="hasFiles" [style]="{fontSize:'.65rem', minWidth:'1.2rem', height:'1.2rem'}" [value]="filesLoaded.toString()"
             class="ur-badge"></p-badge>
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
</div>
<input #fileManager (change)="catchFiles($event)" [multiple]="true" [style.display]="'none'" type="file">
