<div class="p-2 flex gap-2 border-top-1 border-left-1 border-right-1 border-bluegray-100 border-round">
    <p-button (onClick)="undo()" [disabled]="!hasPreviousAction()" icon="mdi-undo"
              label="Отменить" pTooltip="Ctrl+Z" styleClass="p-button-sm p-button-text"
              tooltipPosition="bottom"></p-button>
    <p-button (onClick)="redo()" [disabled]="!hasNextAction()" icon="mdi-redo" iconPos="right"
              label="Применить" pTooltip="Ctrl+Shift+Z" styleClass="p-button-sm p-button-text"
              tooltipPosition="bottom"></p-button>
    <p-button (onClick)="unfoldAll()" icon="mdi-unfold_more" label="Развернуть все"
              styleClass="p-button-sm p-button-text"></p-button>
    <p-button (onClick)="foldAll()" icon="mdi-unfold_less" label="Свернуть все"
              styleClass="p-button-sm p-button-text"></p-button>
    <p-button (onClick)="handleCopy()" icon="mdi-copy" label="Копировать" [disabled]="!hasSelectedNode()"
              styleClass="p-button-sm p-button-text p-button-success"></p-button>
    <p-button (onClick)="handlePaste()" icon="mdi-paste" label="Вставить" [disabled]="!hasClipboard()"
              styleClass="p-button-sm p-button-text p-button-info"></p-button>
    <div class="flex-1"></div>
    <p-button (onClick)="saveToServer()" [disabled]="!isAllValid || !hasPreviousAction()" [loading]="isSaving"
              icon="mdi-save"
              label="Сохранить" styleClass="p-button-sm p-button-success"></p-button>
</div>
<p-splitter [panelSizes]="[80,20]" [style]="{'height': '900px'}" class="flex-1" styleClass="flex">
    <ng-template pTemplate>
        <div class="flex relative flex-1">
            <div *ngIf="editorMode === EditorMode.PICK_NODE"
                 class="flex justify-content-between absolute w-full h-full p-3 border-2 border-round border-orange-400 text-orange-400 font-bold pointer-events-none">
                <span>Выберите ноду</span>
            </div>
            <p-organizationChart #graph (onNodeSelect)="handleNodeSelect($event.node)"
                                 (onNodeUnselect)="handleNodeUnselect($event.node)" [hidden]="!mainNodeData"
                                 [ngClass]="{'pointer-events-none': isSaving}" [preserveSpace]="false"
                                 [value]="[mainNodeVisual]" class="flex-1 p-3 absolute w-full h-full display-grid"
                                 selectionMode="single"
                                 styleClass="styled-org-chart block overflow-hidden select-none">
                <ng-template let-treeNode pTemplate="default">
                    <div (onDragEnd)="endDragNode(node)" (onDragStart)="startDragNode(node)"
                         (onDrop)="handleDropNode(node)" *ngIf="toNode(treeNode.data) as node"
                         [ngClass]="{'pointer-events-none opacity-30 cursor-default': isShadedNode(node), 'border-2 border-red-600':!node.isValid}"
                         [ngStyle]="selectedTreeNode === treeNode ? leafSelectedStyle[node.type] : leafStyle[node.type]"
                         [pDraggableDisabled]="editorMode !== EditorMode.SELECT"
                         class="select-none flex gap-2 align-items-center"
                         pDraggable="node"
                         pDroppable="node">
                        <span [ngClass]="icon[node.type]"></span>
                        <span class="white-space-nowrap">
                            {{ node.name ? node.name : 'Без названия' }}
                        </span>
                    </div>
                </ng-template>
            </p-organizationChart>
            <p-button (onClick)="createRootNode()" *ngIf="!mainNodeData && !isLoading"
                      class="absolute top-50 left-50 -translate-50"
                      icon="mdi-auto_awesome"
                      label="Создать корневой узел" styleClass="p-button-help"></p-button>
            <p-progressSpinner *ngIf="isLoading"
                               class="custom-spinner custom-spinner-8xl custom-spinner-primary absolute top-50 left-50 -translate-50"
                               strokeWidth="1"></p-progressSpinner>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="flex flex-1 flex-column gap-3 p-3">
            <div *ngIf="!!selectedTreeNode" [formGroup]="selectedNodeSettingsForm" class="flex flex-column gap-3">
                <app-label label="ID ноды">
                    <span>{{ selectedNodeSettingsForm.value.id }}</span>
                </app-label>
                <app-label label="Название">
                    <input formControlName="name" pInputText type="text"/>
                </app-label>
                <app-label label="Тип ноды">
                    <p-dropdown [options]="(nodeTypes$ | async) ?? []" appendTo="body"
                                formControlName="type"></p-dropdown>
                </app-label>
                <app-label *ngIf="isShowFormControl([NodeType.REDIRECT], selectedTreeNode.data?.type)"
                           label="Целевая нода">
                    <ng-container
                            *ngTemplateOutlet="nodePickerTemplate; context: {control:selectedNodeSettingsForm.controls['redirectId'], targets: 'all'}"></ng-container>
                </app-label>
                <app-label *ngIf="isShowFormControl([NodeType.NORMAL, NodeType.INPUT], selectedTreeNode.data?.type)"
                           label="Препроцессоры">
                    <p-multiSelect [options]="(preprocessorTypes$ | async) ?? []" appendTo="body"
                                   formControlName="preprocessorTypes"
                                   placeholder="Выбрать препроцессор"></p-multiSelect>
                </app-label>
                <app-label *ngIf="isShowFormControl([NodeType.PREDICATE], selectedTreeNode.data?.type)"
                           label="Утверждение">
                    <p-dropdown [options]="(predicateTypes$ | async)?? []" appendTo="body"
                                formControlName="predicateType" placeholder="Выбрать тип утверждения"></p-dropdown>
                </app-label>
                <ng-container
                        *ngIf="selectedNodeSettingsForm.value.predicateType && isShowFormControl([NodeType.PREDICATE], selectedTreeNode.data?.type)">
                    <div class="flex flex-column gap-2 border-round border-1 border-bluegray-100 p-2">
                        <span class="text-xl text-bluegray-300 font-bold">Входные аргументы</span>
                        <div class="flex flex-column gap-2" formGroupName="predicateArgumentsToTokensMap">
                            <app-label
                                    *ngFor="let arg of Object.keys(selectedNodeSettingsForm.controls.predicateArgumentsToTokensMap.controls)"
                                    [label]="arg">
                                <p-dropdown [formControlName]="arg"
                                            [options]="valuesTokensList"
                                            appendTo="body" optionLabel="name" optionValue="token"
                                            placeholder="Выбрать значение аргумента"></p-dropdown>
                            </app-label>
                        </div>
                    </div>
                    <app-label label="Истина">
                        <ng-container
                                *ngTemplateOutlet="nodePickerTemplate; context: {control:selectedNodeSettingsForm.controls.predicateRedirection.controls['1'], targets: 'child'}"></ng-container>
                    </app-label>
                    <app-label label="Ложь">
                        <ng-container
                                *ngTemplateOutlet="nodePickerTemplate; context: {control:selectedNodeSettingsForm.controls.predicateRedirection.controls['0'], targets: 'child'}"></ng-container>
                    </app-label>
                </ng-container>

                <app-label
                        *ngIf="isShowFormControl([NodeType.NORMAL, NodeType.INPUT, NodeType.TICKET], selectedTreeNode.data?.type)"
                        label="Шаблон сообщения">
                    <div class="flex flex-column">
                        <textarea [autoResize]="true" formControlName="messageTemplate" pInputTextarea
                                  type="text"></textarea>
                        <span class="text-bluegray-400 mt-3 mb-2">Доступные переменные</span>
                        <div class="flex flex-wrap gap-2">
                            <ng-container *ngFor="let token of valuesTokensList" [ngTemplateOutletContext]="{token, control: selectedNodeSettingsForm.controls.messageTemplate}"
                                          [ngTemplateOutlet]="tokenTemplate"></ng-container>
                        </div>
                    </div>
                </app-label>

                <app-label
                        *ngIf="isShowFormControl([NodeType.TICKET], selectedTreeNode.data?.type)"
                        label="Название заявки">
                    <input formControlName="ticketTitle" pInputText type="text"/>
                </app-label>

                <app-label
                        *ngIf="isShowFormControl([NodeType.TICKET], selectedTreeNode.data?.type)"
                        label="Шаблон описания заявки">
                    <div class="flex flex-column">
                        <textarea [autoResize]="true" formControlName="ticketTemplate" pInputTextarea
                                  type="text"></textarea>
                        <span class="text-bluegray-400 mt-3 mb-2">Доступные переменные</span>
                        <div class="flex flex-wrap gap-2">
                            <ng-container *ngFor="let token of valuesTokensList" [ngTemplateOutletContext]="{token, control: selectedNodeSettingsForm.controls.ticketTemplate}"
                                          [ngTemplateOutlet]="tokenTemplate"></ng-container>
                        </div>
                    </div>
                </app-label>

                <ng-container
                        *ngIf="isShowFormControl([NodeType.PREDICATE, NodeType.INPUT, NodeType.NORMAL, NodeType.TRUNK], selectedTreeNode.data?.type)">
                    <p-button (onClick)="addSubNode()" *ngIf="isAcceptAppendChild(selectedTreeNode.data)"
                              icon="mdi-add"
                              label="Добавить дочернюю ноду"
                              styleClass="p-button-success"></p-button>
                </ng-container>
                <p-button (onClick)="removeNode()" *ngIf="!isRootNode(selectedTreeNode.data)" icon="mdi-delete"
                          label="Удалить эту ноду"
                          styleClass="p-button-danger"></p-button>
            </div>
        </div>
    </ng-template>
</p-splitter>

<ng-template #tokenTemplate let-token="token" let-control="control">
    <span (click)="appendValueTokenToMessageTemplate(token, control)"
          class="flex gap-2 align-items-center px-3 py-1 border-round bg-primary-50 text-primary white-space-nowrap hover:bg-primary hover:text-white select-none cursor-pointer">
        {{ token.name }}
    </span>
</ng-template>

<ng-template #nodePickerTemplate let-control="control" let-targets="targets">
    <div class="flex gap-2">
        <p-button (onClick)="changeToPickMode(control, targets)"
                  [disabled]="editorMode === EditorMode.PICK_NODE"
                  [label]="findNodeNameById(control.value) ?? 'Выбрать ноду'"
                  styleClass="p-button-outlined p-button-info"></p-button>
        <p-button (onClick)="changeToSelectMode()" *ngIf="editorMode === EditorMode.PICK_NODE" icon="mdi-close"
                  label="Отмена"
                  styleClass="p-button-danger p-button-text"></p-button>
    </div>
</ng-template>
