<ng-container  [ngSwitch]="item.wireframeFieldType" *ngIf="item">
    <ng-container *ngSwitchCase="'BOOLEAN'">
        {{item.booleanData?'Да':'Нет'}}
    </ng-container>
    <ng-container *ngSwitchCase="'SMALL_TEXT'">
        {{item.stringData ?? "Пусто"}}
    </ng-container>
    <ng-container *ngSwitchCase="'LARGE_TEXT'">
        {{item.stringData ?? "Пусто"}}
    </ng-container>
    <ng-container *ngSwitchCase="'INTEGER'">
        {{item.integerData}}
    </ng-container>
    <ng-container *ngSwitchCase="'FLOAT'">
        {{item.floatData}}
    </ng-container>
    <ng-container *ngSwitchCase="'ADDRESS'">
        {{address}}
    </ng-container>
    <ng-container *ngSwitchCase="'PHONE_ARRAY'">
        <span *ngFor="let phone of item.phoneData | keyvalue">
            {{phone.value}}
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'LOGIN'">
        {{item.stringData}}
    </ng-container>
    <ng-container *ngSwitchDefault [style.background-color]="'red'"></ng-container>
</ng-container>
<ng-container *ngIf="!item">
    Нет данных
</ng-container>
