.chat-view {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: .5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5rem 1rem 1.5rem 1rem;
  overscroll-behavior-y: none;
  background-color: var(--bgc-001);
  border-top: 1px solid var(--bgc-200);

  &.unread {
    box-shadow: inset 0 0 2px var(--warm-500);
  }

  .message-wrapper {
    display: grid;
    grid: 100%/ min-content 1fr;
    gap: 0.5rem;
    width: 100%;
    align-items: flex-end;
    cursor: pointer;

    &.shaded {
      z-index: 1;
    }

    .chat-message {
      display: grid;
      grid: min-content 1fr / 1fr;
      padding: .7rem 1rem;
      background-color: var(--bgc-200);
      box-shadow: 0 0 1px 1px var(--tc-300);
      border-radius: 1rem 1rem 1rem .3rem;
      width: fit-content;
      max-width: 100%;

      &.reply{
        grid: min-content min-content 1fr / 1fr;
      }

      &.my {
        background-color: var(--mc-100);
        box-shadow: 0 0 1px 1px var(--mc-300);

        .message-header {
          color: var(--mc-400);
        }

        .message-text {
          color: var(--mc);

          .message-footer {
            color: var(--mc-300);
          }
        }
      }

      &.unread {
        background-color: var(--warm-100);
        box-shadow: 0 0 1px 1px var(--warm-300);

        .message-header {
          color: var(--warm-500);
        }

        .message-text {
          color: var(--warm-700);

          .message-footer {
            color: var(--warm-500);
          }
        }
      }

      &.media-group {
        overflow: hidden;
        //width: max-content;
        //max-width: 30rem;
        //aspect-ratio: .8;

        .media-grid {
          padding: .4rem;
          display: grid;
          gap: .3rem;
          width: 100%;
          height: 100%;
          max-width: 20rem;
          top: 0;
          left: 0;

          &.g {
            width: 100%;
            height: 100%;

            &2 {
              //grid: 100%/repeat(2, 1fr);
              grid-template-areas: 'a b';
            }

            &3 {
              //grid: minmax(128px,.6fr) minmax(128px,.4fr)/repeat(2, 1fr);
              grid-template-areas: 'a a'
                                    'b c';
            }

            &4 {
              //grid: .6fr .4fr/repeat(3, 1fr);
              grid-template-areas: 'a a a'
                                    'b c d';
            }

            &5 {
              //grid: .5fr .25fr .25fr/repeat(2, 1fr);
              grid-template-areas: 'a a'
                                    'b c'
                                    'd e';
            }

            &6 {
              //grid: .5fr .25fr .25fr/repeat(3, 1fr);
              grid-template-areas: 'a a a'
                                    'b b c'
                                    'd e f';
            }

            &7 {
              //grid: minmax(.5fr,128px) repeat(2, minmax(.25fr,128px))/repeat(3, minmax(.33fr,64px));
              grid-template-areas: 'a b c'
                                    'd d d'
                                    'e f g';
            }

            &8 {
              //grid: repeat(4, minmax(.25fr,128px))/repeat(2, minmax(.5fr,128px));
              grid-template-areas: 'a b'
                                    'c d'
                                    'e f'
                                    'g h';
            }

            &9 {
              //grid: .25fr .25fr .25fr .25fr/repeat(3, 1fr);
              grid-template-areas: 'a a b'
                                    'c d e'
                                    'f g g'
                                    'h h i';
            }

            &10 {
              //grid: .25fr .25fr .25fr .25fr/repeat(3, 1fr);
              grid-template-areas: 'a b c'
                                    'd d e'
                                    'f g h'
                                    'i j j';
            }
          }

          .media-item {
            overflow: hidden;
            border-radius: .3rem;
            cursor: pointer;


            &.i0 {
              grid-area: a;
            }

            &.i1 {
              grid-area: b;
            }

            &.i2 {
              grid-area: c;
            }

            &.i3 {
              grid-area: d;
            }

            &.i4 {
              grid-area: e;
            }

            &.i5 {
              grid-area: f;
            }

            &.i6 {
              grid-area: g;
            }

            &.i7 {
              grid-area: h;
            }

            &.i8 {
              grid-area: i;
            }

            &.i9 {
              grid-area: j;
            }

            .img-container, .vid-container {
              position: relative;
              width: 100%;
              height: 100%;
              //aspect-ratio: 1;
              overflow: hidden;
              filter: brightness(.9);
              cursor: pointer;
              transition: filter .2s ease-in-out;

              img, video {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                border-radius: .3rem;
              }

              &:hover {
                filter: brightness(1);
              }


            }
          }
        }
      }

      &.single-media {

        .img-container, .vid-container {
          padding: .4rem;
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 20rem;
          min-width: 5rem;
          aspect-ratio: 1;
          overflow: hidden;
          filter: brightness(.9);
          cursor: pointer;
          transition: filter .2s ease-in-out;

          img, video {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: .3rem;
          }

          &:hover {
            filter: brightness(1);
          }
        }

        .aud-container {
          padding: .4rem;
        }
      }

      .message-header {
        color: var(--tc-600);
        font-size: .85rem;
        font-weight: bold;
        margin-bottom: .2rem;
      }

      .message-text {
        color: var(--tc-700);
        font-size: 1rem;
        //margin-left: .3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        overflow: hidden;

        .content {
          flex-grow: 1;
          flex-basis: 0;
          max-width: 100%;
        }

        .message-footer {
          display: flex;
          transform: translateY(.3rem);
          align-items: flex-end;
          color: var(--tc-400);
          font-size: .8rem;
          font-weight: bold;
          margin-left: .5rem;
        }
      }
    }
  }
}

.scroll-to-start-button {
  position: absolute;
  bottom: 1rem;
  right: .5rem;
  z-index: 1;
  cursor: pointer;
  color: white;
  background-color: var(--bgc-400);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  font-size: 1.2rem;
  box-shadow: 0px 0px 0.7px rgba(0, 0, 0, 0.024),
  0px 0px 1.9px rgba(0, 0, 0, 0.035),
  0px 0px 4.5px rgba(0, 0, 0, 0.046),
  0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.message-preview {
  display: grid;
  grid: repeat(2, min-content) / min-content 1fr;
  grid-template-areas: 'avatar name'
                        'avatar message';
  height: max-content;
  row-gap: 0;
  column-gap: .5rem;
  flex: 1;
  margin-left: .7rem;

  .avatar {
    grid-area: avatar;
  }

  .author-name {
    grid-area: name;
    font-size: .8rem;
    font-weight: bold;
    color: var(--tc-600);
  }

  .message-text {
    grid-area: message;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--tc-700);
    font-size: .9rem;
    font-weight: 500;
  }
}

.chat-input {
  display: grid;
  grid: repeat(2, min-content) / 100%;
  height: max-content;
  z-index: 1;
  box-shadow: 0px 0px 0.3px rgba(0, 0, 0, 0.02),
  0px 0px 0.8px rgba(0, 0, 0, 0.028),
  0px 0px 1.5px rgba(0, 0, 0, 0.035),
  0px 0px 2.7px rgba(0, 0, 0, 0.042),
  0px 0px 5px rgba(0, 0, 0, 0.05),
  0px 0px 12px rgba(0, 0, 0, 0.07);

  .preview-message-wrapper {
    display: grid;
    gap: .3rem;
    padding: .5rem;
    border-bottom: 1px solid var(--bgc-200);
  }

  .input-wrapper {
    display: flex;
    align-items: flex-end;
    gap: .3rem;
    height: max-content;
  }

  &.unread {
    box-shadow: 0px 0px 0.3px rgba(255, 150, 31, 0.02),
    0px 0px 0.8px rgba(255, 150, 31, 0.028),
    0px 0px 1.5px rgba(255, 150, 31, 0.035),
    0px 0px 2.7px rgba(255, 150, 31, 0.042),
    0px 0px 5px rgba(255, 150, 31, 0.05),
    0px 0px 12px rgba(255, 150, 31, 0.07);
  }

  textarea {
    padding: 1.4rem;
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .button-block {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
  }
}

.shader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  pointer-events: none;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000080;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.reply-message{
  display: grid;
  grid: repeat(2, min-content) / 100%;
  border-left: 2px solid var(--mc-300);
  padding: .1rem .5rem;
  border-radius: .2rem;
  margin-bottom: .4rem;
}
