.placeholder-text{
    color: var(--tc-400);
}

.wrapper{
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: text;

    &.disabled{
        cursor: default;
    }

    &:not(.disabled):hover{
        border-color: var(--mc-500);
    }
}
