<div class="flex flex-column gap-3">
    <div *ngFor="let empWlItem of workLogs" class="relative w-fit p-overlay-badge">
        <app-avatar (click)="openPanel($event, overlayPanelEl, empWlItem)" [name]="empWlItem.employees[0].fullName"
                    [size]="3" [src]="empWlItem.employees[0].avatar"
                    class="cursor-pointer"></app-avatar>
        <p-badge *ngIf="!empWlItem.active" severity="danger" [value]="empWlItem.unactive.length+''"></p-badge>
    </div>
</div>

<p-overlayPanel #overlayPanelEl [baseZIndex]="2000" appendTo="body" styleClass="flex flex-column gap-2">
    <ng-template pTemplate="content">
        <div *ngIf="activeWorkLog" class="flex flex-column">
            <span class="font-bold text-orange-400 text-lg">Активная <app-time-elapsed [startTime]="activeWorkLog.lastAcceptedTimestamp"></app-time-elapsed></span>
            <ng-container *ngTemplateOutlet="activeWorkLogTemplate; context: {activeWorkLog}"></ng-container>
        </div>
        <div *ngIf="unactiveWorkLogs.length>0" class="flex flex-column">
            <span class="font-bold text-bluegray-400 text-lg">Не принятые</span>
            <div class="flex flex-column gap-3">
                <ng-container *ngFor="let workLog of unactiveWorkLogs; trackBy: trackByWorkLog">
                    <ng-container *ngTemplateOutlet="unactiveWorkLogTemplate; context: {workLog}"></ng-container>
                </ng-container>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<ng-template #activeWorkLogTemplate let-activeWorkLog="activeWorkLog">
    <div class="flex terminated p-3">
        <div class="flex flex-column gap-2">
            <app-task-link [taskId]="activeWorkLog.task.taskId"></app-task-link>
            <app-label label="Монтажники" styleClass="translate-x-0">
                <app-avatar-list [employees]="activeWorkLog.employees" [size]="2"></app-avatar-list>
            </app-label>
            <app-label label="Отдана" styleClass="translate-x-0">
                <span>{{activeWorkLog.created | date: 'dd-MM-yyyy HH:mm'}}</span>
            </app-label>
        </div>
        <ng-container *ngTemplateOutlet="targetDescriptionTemplate; context: {workLog: activeWorkLog}"></ng-container>
        <div class="flex-grow-1"></div>
        <p-button label="Принудительно забрать" class="ml-3" styleClass="p-button-danger p-button-outlined"
                  (onClick)="forceCloseWorkLog(activeWorkLog.task.taskId)"></p-button>
    </div>
</ng-template>

<ng-template #unactiveWorkLogTemplate let-workLog="workLog">
    <div class="flex terminated p-3">
        <div class="flex flex-column gap-2">
            <app-task-link [taskId]="workLog.task.taskId"></app-task-link>
            <app-label label="Монтажники" styleClass="translate-x-0">
                <app-avatar-list [employees]="workLog.employees" [size]="2"></app-avatar-list>
            </app-label>
            <app-label label="Отдана" styleClass="translate-x-0">
                <span>{{workLog.created | date: 'dd-MM-yyyy HH:mm'}}</span>
            </app-label>
        </div>
        <ng-container *ngTemplateOutlet="targetDescriptionTemplate; context: {workLog}"></ng-container>
        <div class="flex-grow-1"></div>
        <p-button label="Принудительно забрать" class="ml-3" styleClass="p-button-danger p-button-outlined"
                  (onClick)="forceCloseWorkLog(workLog.task.taskId)"></p-button>
    </div>
</ng-template>

<ng-template #targetDescriptionTemplate let-workLog="workLog">
    <app-label *ngIf="workLog.targetDescription || workLog.targetImages.length > 0" label="Цель задачи" class="ml-3" styleClass="translate-x-0">
        <div class="max-w-30rem flex flex-column gap-2">
            <span>{{workLog.targetDescription}}</span>
            <div class="flex flex-column">
                <app-attachment-link *ngFor="let targetFile of workLog.targetImages;"
                                     [attachment]="targetFile"></app-attachment-link>
            </div>
        </div>
    </app-label>
</ng-template>

<app-force-close-dialog [taskId]="targetTaskId" [(visible)]="forceCloseDialogVisible"></app-force-close-dialog>
