:host{
    flex-grow: 1;
}
.stage-view{
  display: flex;
  flex-grow: 1;
  //flex-direction: column;
  //width: 100%;
  //min-width: max-content;
  //max-width: 54rem;
  //align-self: center;
}
.stub-when-creating-a-task{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
