<p-dialog [(visible)]="isShow" [breakpoints]="{'960px': '90vw', '640px': '100vw'}"
          [draggable]="false" [modal]="true" [resizable]="false" [contentStyle]="dialogContentStyle"
          [style]="{width: '80vw'}" (onHide)="closeHandler()" [header]="header">
    <ng-template pTemplate="content">
        <ng-container [ngSwitch]="loadingState">
            <ng-container *ngSwitchCase="'LOADING'">
                <div class="list flexed hcenter vcenter">
                    <p-progressSpinner class="primary-spinner" strokeWidth="1"></p-progressSpinner>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ERROR'">
                <div class="list flexed hcenter vcenter flexed hcenter gap3">
                    <div class="caption-common-error">
                        <i class="mdi-error"></i>
                        <span>Ошибка загрузки</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'READY'">
                <ng-container *ngIf="linkingMode === 'single'; then parentTaskList else childTaskList"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'EMPTY'">
                <div class="list flexed hcenter vcenter">
                    <div class="caption-common-message flexed hcenter gap3">
                        <i class="mdi-search_off"></i>
                        <span>Не найдено задач</span>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="filter"></ng-container>
        <ng-container *ngTemplateOutlet="paginator"></ng-container>
        <p-button *ngIf="linkingMode==='multiply'" styleClass="p-button-success" class="float-button"
                  (onClick)="selectChild()" label="Выбрать" icon="mdi-check" [disabled]="selectedChildTask.length === 0"></p-button>
        <div class="loading-shader" *ngIf="linkingInProgress">
            <app-circle-loading-indicator></app-circle-loading-indicator>
        </div>
    </ng-template>
</p-dialog>

<!--Список задач для выбора родительской задачи-->
<ng-template #parentTaskList>
    <div class="list">
        <app-task-list-element (onClick)="this.selectParent(task.taskId)" [item]="task" *ngFor="let task of pageOfTasks?.content"
                               [customClickHandler]="true" [inlined]="true"></app-task-list-element>
    </div>
</ng-template>

<!--Список задач для выбора дочерних задач-->
<ng-template #childTaskList>
    <div class="list">
        <app-task-list-element [(check)]="selectedChildTask" checkGroup="childTasks" [item]="task" *ngFor="let task of pageOfTasks?.content"
                               [customClickHandler]="true" [inlined]="true" [isHover]="false"></app-task-list-element>
    </div>
</ng-template>

<!--Фильтрация задач-->
<ng-template #filter>
    <div class="filters" [formGroup]="mainFilterForm">
        <app-task-template-multi-selector [inline]="true" formControlName="template"></app-task-template-multi-selector>
        <app-task-status-chooser formControlName="status" *ngIf="!onlyMy"></app-task-status-chooser>
        <input pInputText formControlName="searchPhrase" placeholder="Общий поиск"/>
        <app-employee-selector formControlName="author"></app-employee-selector>
        <app-data-range-input formControlName="dateOfCreation"></app-data-range-input>
        <app-task-tag-filter-input class="full-width" formControlName="tags"></app-task-tag-filter-input>
    </div>
</ng-template>

<!--Выбор страницы с задачами-->
<ng-template #paginator>
    <p-paginator (onPageChange)="changePage($event)" [alwaysShow]="true"
                 [rows]="25" [showCurrentPageReport]="true"
                 [totalRecords]="pageOfTasks?.totalElements ?? 0"
                 currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} задач"
                  class="paginator"></p-paginator>
</ng-template>


