<p-dialog [(visible)]="dialogVisible" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [contentStyle]="{display: 'grid'}" [draggable]="false" [modal]="true"
          [resizable]="false" [dismissableMask]="true"
          [style]="{maxWidth:'50vw', width: 'fit-content', maxHeight: '60vh', minHeight: '10rem'}"
          appendTo="body"
          header="Работы и отчеты по задаче">
    <ng-template pTemplate="content">
        <div class="flexed column hcenter vcenter p10" *ngIf="!isLoading && !workLogs.length">
            <span class="caption size-big wt-bold f-color-500 flexed hcenter gap2">
                <i class="mdi-playlist_remove"></i>
                <span>
                    Нет журналов работ
                </span>
            </span>
        </div>
        <div class="flexed gap5 column list-view" *ngIf="!isLoading && workLogs.length">
            <div *ngFor="let workLog of workLogs; trackBy: trackByWorkLog" class="work-log-element">
                <ng-container *ngTemplateOutlet="statusCaption; context: {$implicit: workLog.status}"></ng-container>
                <span class="flexed gap10">
                    <span>
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i
                                class="mdi-groups"></i><span>Назначены:</span></span>
                        <app-avatar-list [employees]="workLog.employees"></app-avatar-list>
                    </span>
                    <span>
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i
                                class="mdi-groups"></i><span>Приняли:</span></span>
                        <app-avatar-list [employees]="workLog.whoAccepted"></app-avatar-list>
                    </span>
                    <span>
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i
                                class="mdi-groups"></i><span>Завершили:</span></span>
                        <app-avatar-list [employees]="workLog.whoClosed"></app-avatar-list>
                    </span>
                    <span>
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i
                                class="mdi-person"></i><span>Создал:</span></span>
                        <app-employee-label [employee]="workLog.creator" [size]="2"></app-employee-label>
                    </span>
                </span>
                <span class="flexed gap10 caption size-small">
                    <span class="flexed column">
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i class="mdi-schedule_send"></i><span>Создан:</span></span>
                        <span>{{workLog.created | date:'dd-MM-yyyy HH:mm'}}</span>
                    </span>
                    <span class="flexed column">
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i
                                class="mdi-cancel_schedule_send"></i><span>Закрыт:</span></span>
                        <span>{{workLog.closed | date:'dd-MM-yyyy HH:mm'}}</span>
                    </span>
                    <span class="flexed column">
                        <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i class="mdi-timelapse"></i><span>Затрачено времени:</span></span>
                        <span>{{workLog.leadTime| elapsedTime:"":"":true}}</span>
                    </span>
                </span>
                <span class="flexed gap10">
                    <p-button (onClick)="chatService.open.emit(workLog.chat.chatId)" icon="mdi-history" label="Чат"
                              styleClass="p-button-secondary p-button-outlined"></p-button>
<!--                    <p-button icon="mdi-summarize" label="Отчеты"-->
<!--                              styleClass="p-button-secondary p-button-outlined"></p-button>-->
                </span>
                <span *ngIf="workLog.report" class="report">
                    <span class="flexed gap3 hcenter caption size-small wt-bold f-color-500"><i class="mdi-summarize"></i><span>Отчет</span></span>
                    <span class="report-text">{{workLog.report}}</span>
                </span>
            </div>
        </div>
        <ng-container *ngIf="isLoading">
            <ng-container *ngTemplateOutlet="loadingPlaceholderEl"></ng-container>
        </ng-container>
    </ng-template>
</p-dialog>

<ng-template #statusCaption let-status>
    <ng-container [ngSwitch]="status">
        <span *ngSwitchCase="'ACTIVE'" [style]="{color: 'var(--warm-600)'}"
              class="caption size-small f-color-500 flexed hcenter gap3">
            <i class="mdi-engineering"></i>
            <span>
                В работе
            </span>
        </span>
        <span *ngSwitchCase="'CLOSE'" [style]="{color: 'var(--green-400)'}"
              class="caption size-small f-color-500 flexed hcenter gap3">
            <i class="mdi-verified"></i>
            <span>
                Закрыт
            </span>
        </span>
        <span *ngSwitchCase="'FORCE_CLOSE'" [style]="{color: 'var(--red-400)'}"
              class="caption size-small f-color-500 flexed hcenter gap3">
            <i class="mdi-close"></i>
            <span>
                Закрыт принудительно
            </span>
        </span>
    </ng-container>
</ng-template>

<ng-template #loadingPlaceholderEl>
    <div class="flexed gap5 column list-view">
        <div *ngFor="let ph of loadingPlaceholders" class="work-log-element">
            <p-skeleton height=".9rem" width="10rem"></p-skeleton>
            <span class="flexed gap10">
                    <span>
                        <p-skeleton height="3.5rem" width="5rem"></p-skeleton>
                    </span>
                    <span>
                        <p-skeleton height="3.5rem" width="5rem"></p-skeleton>
                    </span>
                    <span>
                        <p-skeleton height="3.5rem" width="5rem"></p-skeleton>
                    </span>
                    <span>
                        <p-skeleton height="3.5rem" width="5rem"></p-skeleton>
                    </span>
                </span>
            <span class="flexed gap10 caption size-small">
                <span class="flexed column">
                    <p-skeleton height="2rem" width="7rem"></p-skeleton>
                </span>
                <span class="flexed column">
                    <p-skeleton height="2rem" width="7rem"></p-skeleton>
                </span>
                <span class="flexed column">
                    <p-skeleton height="2rem" width="7rem"></p-skeleton>
                </span>
            </span>
            <span class="flexed gap10">
                <p-skeleton height="2.5rem" width="5rem"></p-skeleton>
                <p-skeleton height="2.5rem" width="6rem"></p-skeleton>
            </span>
            <p-skeleton height="5rem" width="25rem"></p-skeleton>
        </div>
    </div>
</ng-template>
