.item-example {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.step-enumerator-wrapper {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 40rem;
}


.stage-list-panel {
  min-width: 30rem;
}

.inline-input {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--tc-600);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--tc-900);
  }
}

.drag-icon {
  color: var(--tc-300)
}
