<div [ngSwitch]="constructStage" appExtendPageHeight class="flexed vcenter column gap15" [style.padding-bottom]="'2rem'">
    <ng-container *ngSwitchCase="'FIELDS'">
        <div class="flexed column gap10 panel p10">
            <div class="flexed gap5">
                <p-button label="Выйти" icon="mdi-close" (onClick)="nav.backOrDefault(['/'])" styleClass="p-button-secondary p-button-text"></p-button>
                <p-button label="Далее: Настройка стадий задачи" icon="mdi-navigate_next" (onClick)="changeStagesSettingsStep()" [disabled]="!wireframe.name"></p-button>
            </div>
            <div class="gap10 flexed hend">
                <div class="input-label-wrapper">
                    <label>Название шаблона задачи</label>
                    <input [(ngModel)]="wireframe.name" [disabled]="editingId!==undefined" pInputText>
                </div>
            </div>
            <div class="input-label-wrapper">
                <label>Наблюдатели по умолчанию</label>
                <app-observer-selector-input [(ngModel)]="wireframe.defaultObservers"></app-observer-selector-input>
            </div>
            <div class="flexed">
                <div class="input-label-wrapper stretched">
                    <label>Описание шаблона задачи</label>
                    <textarea [(ngModel)]="wireframe.description" [autoResize]="true" pInputTextarea></textarea>
                </div>
            </div>

            <p-button label="Добавить этап" icon="mdi-add" (onClick)="createStep()" styleClass="p-button-success" class="self-center"></p-button>
            <div class="flex justify-content-around align-items-center gap-3">
                <div class="flex flex-column align-items-center justify-content-center gap-1 relative p-2 border-round-lg overflow-hidden" (click)="activeStepIndex!==i && (activeStepIndex=i)"
                     *ngFor="let step of stepsArray; let i = index; trackBy:trackByStep"
                     [ngClass]="{'cursor-pointer hover:text-primary-400':activeStepIndex!==i, 'cursor-default font-bold':activeStepIndex===i}">
                    <div class="flex align-items-center justify-content-center border-circle border-1 border-bluegray-100 text-lg w-2rem h-2rem">{{i+1}}</div>
                    <div class="flex align-items-center gap-1">
                        <span>{{step.label}}</span>
                        <span class="mdi-close text-red-400 hover:text-red-600 cursor-pointer text-lg z-1" (click)="removeStep(i)" *ngIf="i>0"></span>
                    </div>
                    <div class="opacity-25 absolute top-0 left-0 w-full h-full" [ngClass]="{'bg-primary':stageHoverTarget===i}"
                         pDroppable="field" (onDragEnter)="dragEnterStage($event, i)" (onDragLeave)="dragLeaveStage($event, i)" (onDrop)="dropToStage($event, i)">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column align-items-center flex-grow-1 bg-white">
            <div class="w-max border-round-lg shadow-5" [style.min-width]="'40rem'">
                <div class="flex p-3 gap-2 align-items-center border-bottom-1 border-bluegray-100">
                    <span class="font-bold text-bluegray-400">Этап {{activeStepIndex + 1}}:</span>
                    <app-editing-caption
                            (captionChange)="stepsPanelCaptionUpdate($event)"
                            (onStopEditing)="fillingEmptyStepName()"
                            [(caption)]="this.wireframe.steps[activeStepIndex].name"
                            class="font-bold text-bluegray-400">
                    </app-editing-caption>
                </div>
                <div class="flex flex-column px-3 pt-1 pb-3">
                    <div class="flex gap-2 align-items-center relative py-2" [ngClass]="{'opacity-50':draggedField === field}"
                         *ngFor="let field of wireframe.steps[activeStepIndex].fields; let i = index"
                         pDraggable="field" dragHandle=".dg" dragEffect="linkMove"
                         (onDragStart)="dragStart($event, field)" (onDrag)="drag($event, field)" (onDragEnd)="dragEnd($event, field)">
                        <div class="absolute w-full top-0 z-1" [ngClass]="{'pointer-events-none':!draggedField}" pDroppable="field"
                             *ngIf="draggedField !== field"
                             (onDrop)="drop($event, i, 'up')" (onDragEnter)="dragEnter($event, i, 'top')" (onDragLeave)="dragLeave($event, i, 'top')" [style.height]="'50%'"></div>
                        <span class="mdi-drag_indicator text-4xl text-bluegray-400 mt-4 dg cursor-move"></span>
                        <app-task-template-input [field]="field" [isExample]="true"
                                                             class="stretched"></app-task-template-input>
                        <p-button (click)="deleteField(field.id)" styleClass="p-button-text p-button-danger mt-4"
                                         icon="mdi-delete"></p-button>
                        <div class="absolute w-full bottom-0 z-1" [ngClass]="{'pointer-events-none':!draggedField}" pDroppable="field"
                             *ngIf="draggedField !== field"
                             (onDrop)="drop($event, i, 'down')" (onDragEnter)="dragEnter($event, i, 'bottom')" (onDragLeave)="dragLeave($event, i, 'bottom')" [style.height]="'50%'"></div>
                    </div>
                    <app-button (onClick)="chooseFieldTypeDialogVisible = true" icon="add" label="Добавить поле"
                                model="p-button-success" class="pt-2"></app-button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'STAGES'">
        <div class="flexed column gap10">
            <div class="gap15 flexed hend panel p10">
                <app-button (onClick)="this.constructStage = 'FIELDS'" [disabled]="!wireframe.name"
                            icon="arrow_back_ios" label="Назад"
                            model="p-button-secondary p-button-text"></app-button>
                <app-button (onClick)="changeViewSettingsStep()" [disabled]="!wireframe.name" icon="navigate_next"
                            label="Далее: Отображение и документация"></app-button>
            </div>
        </div>
        <div class="flexed hcenter column stretched">
            <p-panel class="stage-list-panel" header="Типы задачи">
                <div class="flexed column gap10">
                    <app-button (onClick)="createStage()" icon="add" label="Добавить тип"
                                model="p-button-success"></app-button>
                    <p-orderList (onReorder)="reorderStages()" [dragdrop]="true" [value]="this.wireframe.stages??[]">
                        <ng-template let-stage pTemplate="item">
                            <div class="flexed hcenter gap5 caption">
                                <span class="material-icons-round drag-icon">drag_indicator</span>
                                <span class="caption size-small f-color-500">{{stage.orderIndex+1}}.</span>
                                <input #taskTypeInput (mousedown)="mouseDown($event)" (focus)="taskTypeInput.select()"
                                       [(ngModel)]="stage.label" class="inline-input">
                                <div class="stretched"></div>
                                <p-button icon="mdi-link" styleClass="p-button-warning p-button-icon p-button-text"
                                          (onClick)="openOldTrackerStageBind(stage)" (mousedown)="$event.stopPropagation()"
                                          pTooltip="Настроить интеграцию со старым трекером"></p-button>
                                <p-button icon="mdi-delete" styleClass="p-button-danger p-button-icon p-button-text"
                                          (onClick)="removeStage(stage.stageId)" (mousedown)="$event.stopPropagation()"
                                          pTooltip="Удалить тип задачи"></p-button>
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
            </p-panel>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'VIEW'">
        <div class="flexed column gap20 panel p10">
            <div class="gap15 flexed hend vend">
                <app-button (onClick)="this.constructStage = 'STAGES'" [disabled]="!wireframe.name"
                            icon="arrow_back_ios" label="Назад"
                            model="p-button-secondary p-button-text"></app-button>
                <app-button (onClick)="createWireframe()" *ngIf="editingId===undefined" [disabled]="!wireframe.name"
                            icon="save"
                            label="Сохранить шаблон задачи"></app-button>
                <app-button (onClick)="updateWireframe()" *ngIf="editingId!==undefined" icon="edit"
                            label="Редактировать шаблон задачи"></app-button>
            </div>
<!--            <div class="gap5 flexed column p10">-->
<!--                <span class="header400">-->
<!--                    Элемент списка-->
<!--                </span>-->
<!--                <div class="gap10 flexed column">-->
<!--                    <div class="input-label-wrapper">-->
<!--                        <label>-->
<!--                            Вариант отображения-->
<!--                        </label>-->
<!--                        <p-dropdown [(ngModel)]="_wireframe.listViewType" [options]="listItemViewOptions"></p-dropdown>-->
<!--                    </div>-->
<!--                    <app-task-list-element (selectFieldToView)="selectFieldToView($event)" [item]="taskItemForView()"-->
<!--                                           [viewExample]="true" [isHover]="false"-->
<!--                                           [wireframeFieldsList]="wireframeFieldsList"></app-task-list-element>-->
<!--                </div>-->
<!--            </div>-->
            <div class="flex flex-column p-3 gap-2">
                <span class="header400">
                    Порядок полей
                </span>
                <div class="flex flex-column overflow-hidden gap-2">
                    <p-orderList (onReorder)="reorderFields()" [dragdrop]="true" [value]="wireframeFieldsList">
                        <ng-template let-field pTemplate="item">
                            <div>
                                {{field.label}}
                            </div>
                        </ng-template>
                    </p-orderList>
                </div>
            </div>
            <div class="flex flex-column p-3 gap-2">
                <span class="header400">
                    Документация
                </span>
                <div class="flex flex-column overflow-hidden gap-2">
                    <p-listbox [options]="wireframe.documentTemplates ?? []" dataKey="temporalId" (onClick)="openEditDocumentDialog($event.option)">
                        <ng-template pTemplate="header">
                            <p-button icon="mdi-add" label="Добавить" (onClick)="openAppendDocumentDialog()"
                                      styleClass="p-button-success"></p-button>
                        </ng-template>
                        <ng-template pTemplate="item" let-item let-index="index">
                            <div class="flex justify-content-between align-items-center w-full">
                                <span>{{item.name}}</span>
                                <p-button icon="mdi-delete" (mousedown)="$event.stopPropagation()" (onClick)="$event.stopPropagation(); deleteDocumentTemplate(index)"
                                          styleClass="p-button-icon p-button-text p-button-danger"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="empty">
                            <span>Нет документов</span>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<p-dialog [(visible)]="documentDialogVisible" [modal]="true" contentStyleClass="flex flex-column gap-3 pt-1"
          [dismissableMask]="true" [header]="documentDialogHeader">
    <ng-template pTemplate="content" [formGroup]="documentDialogForm">
        <div class="input-label-wrapper">
            <label>Тип документа</label>
            <p-dropdown [options]="(documentTypesOptions$ | async) ?? []" placeholder="Выбрать" formControlName="type"
                        [disabled]="documentDialogMode==='edit'" appendTo="body"></p-dropdown>
        </div>
        <ng-container [ngSwitch]="documentDialogForm.value.type">
            <ng-container *ngSwitchCase="'ConnectionAgreementTemplate'">
                <ng-container *ngTemplateOutlet="connectionAgreementFieldsTemplate; context:{$implicit: documentDialogForm}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div class="w-30rem h-20rem flex flex-column align-items-center justify-content-center text-3xl text-bluegray-300 font-bold">
                    <span class="mds-check_circle"></span>
                    <span>Выберите тип документа</span>
                </div>
            </ng-container>
            <ng-container *ngIf="documentDialogForm.value.type">
                <ng-container *ngIf="documentDialogMode === 'new' then createDocumentButtonTemplate else editDocumentButtonTemplate"></ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
</p-dialog>

<ng-template #createDocumentButtonTemplate>
    <p-button (onClick)="createDocumentTemplate()" class="align-self-end" label="Добавить документ"></p-button>
</ng-template>

<ng-template #editDocumentButtonTemplate>
    <p-button (onClick)="editDocumentTemplate()" class="align-self-end" label="Редактировать документ"></p-button>
</ng-template>

<ng-template #connectionAgreementFieldsTemplate let-form>
    <div class="flex flex-column gap-3 px-3" [formGroup]="form">
        <div class="flex gap-3">
            <div class="input-label-wrapper">
                <label>Поле логина</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="loginFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле пароля</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="passwordFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле ФИО</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="fullNameFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле дата рождения</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="dateOfBirthFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле регион рождения</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="regionOfBirthFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="flex gap-3">
            <div class="input-label-wrapper">
                <label>Поле город рождения</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="cityOfBirthFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле данные паспорта</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="passportDetailsFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле адрес подключения</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="addressFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле телефон</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="phoneFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
            <div class="input-label-wrapper">
                <label>Поле тариф</label>
                <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="tariffFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
            </div>
        </div>
    </div>
</ng-template>

<p-menu #stepsContextMenuElem [model]="stepsContextMenu" [popup]="true"></p-menu>
<p-dialog [(visible)]="chooseFieldTypeDialogVisible" [modal]="true"
          [dismissableMask]="true" [style]="{width:'30vw'}" header="Выбор типа данных">
    <ng-template pTemplate="content">
        <div class="flexed column p10 gap10">
            <p-dropdown [(ngModel)]="createFieldType" [options]="(fieldTypeOptions | async) ?? []" appendTo="body"
                        styleClass="full-width"></p-dropdown>
            <app-button (onClick)="createField(createFieldType)" icon="add" label="Добавить"></app-button>
        </div>
    </ng-template>
</p-dialog>

<ng-template #listElementTemplate>
    <ng-container [ngSwitch]="wireframe.listViewType">
        <div *ngSwitchCase="'SIMPLE'" class="flexed p8 hcenter item-example">
            <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                             [fields]="wireframeFieldsList"
                                             [index]="1"
                                             classes="caption"></app-select-field-to-view-button>
            <div class="stretched"></div>
            <div class="flexed gap5">
                <app-avatar [size]="1.8"></app-avatar>
                <span class="caption">Creator</span>
            </div>
        </div>
        <div *ngSwitchCase="'COMPOSITE'" class="flexed p8 hcenter item-example">
            <div class="flexed column gap5">
                <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                                 [fields]="wireframeFieldsList"
                                                 [index]="1"
                                                 classes="caption"></app-select-field-to-view-button>
                <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                                 [fields]="wireframeFieldsList"
                                                 [index]="2"
                                                 classes="caption size-small wt-bold f-color-500"></app-select-field-to-view-button>
            </div>
            <div class="stretched"></div>
            <div class="flexed gap5">
                <app-avatar [size]="1.8"></app-avatar>
                <span class="caption">Creator</span>
            </div>
        </div>
        <div *ngSwitchCase="'DETAILED'" class="flexed p8 hcenter item-example">
            <div class="flexed column gap5">
                <div class="flexed gap5 hcenter">
                    <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                                     [fields]="wireframeFieldsList"
                                                     [index]="1"
                                                     classes="caption"></app-select-field-to-view-button>
                    <span class="caption">-</span>
                    <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                                     [fields]="wireframeFieldsList"
                                                     [index]="2"
                                                     classes="caption size-small"></app-select-field-to-view-button>
                </div>
                <app-select-field-to-view-button (selectView)="selectFieldToView($event)"
                                                 [fields]="wireframeFieldsList"
                                                 [index]="3"
                                                 classes="caption size-small wt-bold f-color-500"></app-select-field-to-view-button>
            </div>
            <div class="stretched"></div>
            <div class="flexed gap5">
                <app-avatar [size]="1.8"></app-avatar>
                <span class="caption">Creator</span>
            </div>
        </div>
    </ng-container>
</ng-template>

<p-dialog [(visible)]="oldTrackerIntegrationDialogVisible" [modal]="true" contentStyleClass="flex flex-column gap-3 pt-1"
          [dismissableMask]="true" header="Настроить интеграцию со старым трекером">
    <ng-template pTemplate="content" [formGroup]="oldTrackerIntegrationForm">
        <div class="input-label-wrapper">
            <label>Целевой класс задачи</label>
            <p-dropdown formControlName="classId" optionLabel="name" optionValue="id" placeholder="Выбрать"
                        [options]="(oldTrackerTaskClasses$ | async) ?? []" appendTo="body"></p-dropdown>
        </div>
        <ng-container *ngIf="selectedTaskClass$ | async as selectedTaskClass">
            <div class="flex gap-3">
                <div class="input-label-wrapper">
                    <label>Начальный этап задачи</label>
                    <p-dropdown [options]="selectedTaskClass.stages" formControlName="initialStageId" optionLabel="name" optionValue="id"
                                placeholder="Выбрать" appendTo="body"></p-dropdown>
                </div>
                <div class="input-label-wrapper">
                    <label>Этап задачи в работе</label>
                    <p-dropdown [options]="selectedTaskClass.stages" formControlName="processingStageId" optionLabel="name" optionValue="id"
                                placeholder="Выбрать" appendTo="body"></p-dropdown>
                </div>
                <div class="input-label-wrapper">
                    <label>Этап задачи закрыт в ручную</label>
                    <p-dropdown [options]="selectedTaskClass.stages" formControlName="manualCloseStageId" optionLabel="name" optionValue="id"
                                placeholder="Выбрать" appendTo="body"></p-dropdown>
                </div>
                <div class="input-label-wrapper">
                    <label>Этап задачи закрыт автоматически</label>
                    <p-dropdown [options]="selectedTaskClass.stages" formControlName="autoCloseStageId" optionLabel="name" optionValue="id"
                                placeholder="Выбрать" appendTo="body"></p-dropdown>
                </div>
            </div>
            <div class="flex flex-column gap-2 px-3">
                <p-button (onClick)="openAppendBindToIntegrationDialog()" label="Добавить соединение" class="align-self-center"
                          styleClass="p-button-success p-button-outlined" icon="mdi-add"></p-button>
                <div class="flex flex-column gap-3">
                    <ng-container *ngFor="let bind of oldTrackerIntegrationForm.controls.fieldDataBinds.controls" [ngSwitch]="bind.value.type">
                        <ng-container *ngSwitchCase="'AddressFieldDataBind'">
                            <ng-container *ngTemplateOutlet="addressBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'PassportDetailsFieldDataBind'">
                            <ng-container *ngTemplateOutlet="passportBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'AdSourceFieldDataBind'">
                            <ng-container *ngTemplateOutlet="adSourceBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'ConnectionTypeFieldDataBind'">
                            <ng-container *ngTemplateOutlet="connectionTypeBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateFieldDataBind'">
                            <ng-container *ngTemplateOutlet="dateBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateTimeFieldDataBind'">
                            <ng-container *ngTemplateOutlet="dateTimeBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DefaultFieldDataBind'">
                        </ng-container>
                        <ng-container *ngSwitchCase="'InstallersHardAssignFieldDataBind'">
                        </ng-container>
                        <ng-container *ngSwitchCase="'InstallersSimpleAssignFieldDataBind'">
                        </ng-container>
                        <ng-container *ngSwitchCase="'TextFieldDataBind'">
                            <ng-container *ngTemplateOutlet="simpleTextBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'FullNameFieldDataBind'">
                            <ng-container *ngTemplateOutlet="fullNameBindTemp; context:{$implicit:bind}"></ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <p-button (onClick)="saveOldTrackerIntegration()" label="Сохранить"
                      icon="mdi-save" class="align-self-end"></p-button>
        </ng-container>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="appendBindToIntegrationDialogVisible" [modal]="true" contentStyleClass="flex flex-column gap-3 pt-1"
          [dismissableMask]="true" header="Добавить соединение">
    <ng-template pTemplate="content">
        <p-dropdown [options]="dataBindFieldOptions" appendTo="body" [(ngModel)]="selectedDataBind"></p-dropdown>
        <p-button (onClick)="appendBindToIntegration()" label="Добавить"></p-button>
    </ng-template>
</p-dialog>

<ng-template #fieldSelectorTemp let-fGroup>
    <div class="input-label-wrapper" [formGroup]="fGroup">
        <label>Поле в задаче</label>
        <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="fieldItemId" placeholder="Выбрать" optionValue="id"></p-dropdown>
    </div>
</ng-template>

<ng-template #removeButtonTemp let-fGroup>
    <div class="flex-grow-1"></div>
    <p-button (onClick)="removeBind(fGroup)" class="align-self-end" icon="mdi-delete" styleClass="p-button-danger p-button-outlined p-button-icon"></p-button>
</ng-template>

<ng-template #simpleTextBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Текстовое поле трекера</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="textFieldId"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #addressBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле выбора улицы</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="streetFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле номера дома</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="houseFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле номера квартиры</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="apartmentFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле номера подъезда</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="entranceFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле этажа</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="floorFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Запасное поле</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="backupFieldId"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #passportBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле серии паспорта</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="passportSeriesFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле номера паспорта</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="passportNumberFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле кем выдан паспорт</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="passportIssuedByFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле даты выдачи паспорта</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="passportIssuedDateFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле адреса регистрации</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="registrationAddressFieldId"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #fullNameBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле фамилии</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="lastNameFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле имени</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="firstNameFieldId"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле отчества</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="patronymicFieldId"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #adSourceBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле выбора рекламного источника</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="adSourceFieldId"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #connectionTypeBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле в задаче выбора сервисов</label>
            <p-dropdown [options]="wireframeFieldsList" appendTo="body" formControlName="connectionServicesInnerFieldId" placeholder="Выбрать" optionValue="id"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label>Поле выбора типа подключения</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="ctFieldDataBind"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #dateBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле выбора даты</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="dateFieldDataBind"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>

<ng-template #dateTimeBindTemp let-fGroup>
    <div class="flex gap-3" *ngIf="selectedClassFields$ | async as fields" [formGroup]="fGroup">
        <ng-container *ngTemplateOutlet="fieldSelectorTemp; context:{$implicit: fGroup}"></ng-container>
        <div class="input-label-wrapper">
            <label>Поле выбора даты и времени</label>
            <p-dropdown [options]="fields" appendTo="body" formControlName="dateTimeFieldDataBind"></p-dropdown>
        </div>
        <ng-container *ngTemplateOutlet="removeButtonTemp; context:{$implicit: fGroup}"></ng-container>
    </div>
</ng-template>
