<div class="flex flex-column flex-grow-1">
    <div class="flex flex-column border-bottom-1 border-bluegray-100">
        <div class="flex p-4 justify-content-between align-items-center">
            <span class="text-bluegray-500 text-2xl font-semibold">Поиск абонентов</span>
            <div class="flex gap-2 align-items-center">
                <span class="text-bluegray-500 font-bold">Подсчет живых</span>
                <app-address-input-alt [isAcpConnected]="true" [isHouseOnly]="true" [formControl]="busService.aliveCountingControl"></app-address-input-alt>
            </div>
        </div>
        <div [formGroup]="busService.filtrationForm" class="flex flex-column gap-1 p-4 border-top-1 border-bluegray-100">
            <div class="flex gap-3 align-items-end">
<!--                <app-label label="Режим поиска">-->
<!--                    <p-selectButton [options]="filterModeItems" formControlName="mode"></p-selectButton>-->
<!--                </app-label>-->
                <p-toggleButton formControlName="isActive" offLabel="Только активные" onLabel="Все"></p-toggleButton>
                <div class="p-inputgroup w-fit flex-grow-1">
                    <input #mainInput (keydown.enter)="busService.enterSearch.next(true)" (focus)="mainInput.select()"
                           [appPreventInput]="busService.userLoadingState === 'LOADING'" placeholder="Поиск..."
                           formControlName="query" pInputText type="text"/>
                    <button (click)="busService.enterSearch.next(true)" icon="mdi-search" pButton pRipple
                            type="button"></button>
                </div>
                <p-button (onClick)="clearSearchQuery()" [disabled]="busService.userLoadingState==='LOADING'"
                          icon="mdi-cancel"
                          label="Очистить" styleClass="p-button-outlined p-button-secondary"></p-button>
            </div>
        </div>
    </div>
    <p-table [loading]="busService.userLoadingState==='LOADING'" [value]="busService.users" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Логин</th>
                <th>Адрес</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Тариф</th>
                <th>Статус</th>
                <th>Комментарий</th>
            </tr>
        </ng-template>
        <ng-template let-user pTemplate="body">
            <tr [routerLink]="['/clients','billing','user',user.uname]" class="cursor-pointer hover:bg-bluegray-50">
                <td>{{user.uname}}</td>
                <td>{{user.addr}}</td>
                <td>{{user.fio}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.tarif ? user.tarif : 'Не установлен'}}</td>
                <td>
                    <app-colored-tag [caption]="user.stateName"
                            [color]="user.stateColor"></app-colored-tag>
                    <app-colored-tag *ngIf="user.utype === '11'"
                                     caption="Бизнес" color="var(--warm-600)"></app-colored-tag>
                </td>
                <td class="max-w-0">
                    <div appTicker class="white-space-nowrap overflow-hidden w-full">
                        {{user.coment}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-scrollTop></p-scrollTop>
