<p-dialog (onHide)="clearAppointInstallers()" [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false" (onShow)="loadAppointInstallers()"
          [autoZIndex]="false" [baseZIndex]="2101" appendTo="body"
          [style]="{width: '50vw'}" contentStyleClass="flex flex-column gap-3" header="Назначение монтажников">
    <ng-template pTemplate="content">
        <p-pickList (onMoveAllToSource)="updateGangLeaders()" (onMoveAllToTarget)="updateGangLeaders()" (onMoveToSource)="updateGangLeaders()"
                    (onMoveToTarget)="updateGangLeaders()" [dragdrop]="true"
                    [showSourceControls]="false" [showTargetControls]="false"
                    [sourceStyle]="{height: '40vh', maxHeight: '15rem'}" [source]="sourceInstallers"
                    [targetStyle]="{height:'40vh', maxHeight: '15rem'}"
                    [target]="targetInstallers" sourceHeader="Доступные"
                    targetHeader="Назначенные">
            <ng-template let-installer pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <app-employee-label [employee]="installer" [size]="1.9"></app-employee-label>
                </div>
            </ng-template>
        </p-pickList>
        <div [style]="{minHeight: '8rem'}" class="flex flex-column gap-2">
            <div class="flex flex-column">
                <div class="text-bluegray-500 text-sm">Текущая цель (необязательно)</div>
                <textarea [(ngModel)]="targetDescription" [autoResize]="true" [rows]="3" class="stretched"
                          pInputTextarea (paste)="fileInputComponent.appendFiles($event)"></textarea>
            </div>
            <div class="flex gap-2 align-items-center justify-content-end">
                <p-button label="Комментарии" styleClass="p-button-info p-button-outlined"
                        (click)="commentsSelectDialogVisible = true" [badge]="selectedTaskComments.length.toString()"></p-button>
                <app-server-documents-input [(ngModel)]="serverFiles"></app-server-documents-input>
                <app-file-input #fileInputComponent [(files)]="loadingFiles"></app-file-input>
            </div>
        </div>
        <div class="flex gap-3 align-items-end justify-content-end">
            <div class="input-label-wrapper">
                <label>Бригадир</label>
                <p-dropdown [(ngModel)]="gangLeader" [options]="gangLeaders" appendTo="body"></p-dropdown>
            </div>
            <div class="flex gap-2 text-bluegray-500 font-bold align-items-center h-3rem">
                <span>Отложенный отчет</span>
                <p-checkbox [(ngModel)]="deferredReport" [binary]="true"></p-checkbox>
            </div>
            <app-button (onClick)="resetListAppointedInstallers()"
                        [disabled]="targetInstallers.length === 0 || appointmentRequested"
                        icon="delete" label="Сбросить" model="p-button-text p-button-secondary"></app-button>
            <p-splitButton (onClick)="sendListAppointedInstallers()"
                           [disabled]="targetInstallers.length === 0 || appointmentRequested"
                           [model]="appointedInstallersOptions"
                           appendTo="body" icon="mdi-assignment" label="Назначить"></p-splitButton>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="commentsSelectDialogVisible" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="true" [modal]="true" [resizable]="false"
          appendTo="body" [style]="{width: '50vw'}" contentStyleClass="flex flex-column gap-3" header="Выбор комментариев для отправки">
    <ng-template pTemplate="content">
            <p-listbox [options]="taskComments" [(ngModel)]="selectedTaskComments" [multiple]="true"
                       [checkbox]="true" optionValue="commentId">
                <ng-template let-comment pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <span>
                            {{comment.simpleText}}
                        </span>
                    </div>
                </ng-template>
            </p-listbox>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="scheduleAppointDialogVisible" header="Отложенное назначение задачи"
          [dismissableMask]="true" [draggable]="true" [modal]="true" [resizable]="false" (onHide)="resetDate()"
          appendTo="body" contentStyleClass="flex flex-column gap-3 pt-1">
    <ng-template pTemplate="content">
        <p-calendar [firstDayOfWeek]="1" [formControl]="scheduleDateControl"
                    [inline]="true" [selectOtherMonths]="true" class="w-fit align-self-center"></p-calendar>
        <app-time-picker [formControl]="scheduleTimeControl"></app-time-picker>
        <app-button (onClick)="sendListAppointedInstallers(scheduleTimeControl.value)"
                    [loading]="appointmentRequested"
                    [label]="'Отдать в ' + (scheduleTimeControl.value | date:'dd-MM-yyyy HH:mm')"></app-button>
    </ng-template>
</p-dialog>
