<div class="flex flex-column bg-white w-full h-full text-bluegray-500">
    <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</div>

<ng-template #titleTemplate>
    <div class="flex align-items-center pl-4 pt-2 pr-2 pb-2 gap-2 border-bottom-1 border-bluegray-100">
        <span class="mdi-work_history"></span>
        <span class="text-xl font-semibold">
            Статистика по работам монтажников за период
        </span>
        <div class="flex-grow-1"></div>
        <ng-container *ngTemplateOutlet="periodStatisticsFormTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #contentTemplate>
    <div class="flex flex-column gap-2 flex-grow-1">
        <ng-container *ngTemplateOutlet="statisticsTableTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #statisticsTableTemplate>
    <div class="flex flex-column gap-3" *ngIf="statisticsTable; else emptyTableTemplate">
        <p-table [value]="statisticsTable.rows">
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2">Монтажник</th>
                    <th colspan="5">Задача</th>
                    <th colspan="4">Тайминги среднее</th>
                    <th colspan="5">Деньги</th>
                </tr>
                <tr>
                    <th>Класс</th>
                    <th>Тип</th>
                    <th>Кол-во</th>
                    <th>Ср. за смену</th>
                    <th>Затр. время</th>
                    <th>Отд./Прин.</th>
                    <th>Отд./Закр.</th>
                    <th>Прин./Закр.</th>
                    <th>Δ Между задачами</th>
                    <th>За смену</th>
                    <th>За час (смен.)</th>
                    <th>За час (факт.)</th>
                    <th>За задачу</th>
                    <th>Всего</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employeeRow>
                <ng-container *ngTemplateOutlet="taskStatisticsRowTemplate; context:{employeeRow}"></ng-container>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="10" class="text-bluegray-400 text-center font-bold">
                        Статистики за выбранный период времени нет
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex flex-column p-4 align-self-center">
            <span class="font-bold text-bluegray-500 text-lg">
                Кол-во выполненных работ за период
            </span>
            <p-chart type="bar" [data]="statisticsTable.taskCountChart" width="1000px"></p-chart>
        </div>
        <div class="flex flex-column p-4 align-self-center">
            <span class="font-bold text-bluegray-500 text-lg">
                Средние тайминги выполненных работ за период
            </span>
            <p-chart type="bar" [data]="statisticsTable.timingsChart" width="1000px"
                     [options]="timingsChartOptions"></p-chart>
        </div>
        <div class="flex flex-column p-4 align-self-center">
            <span class="font-bold text-bluegray-500 text-lg">
                Средние деньги выполненных работ за период
            </span>
            <p-chart type="bar" [data]="statisticsTable.moneyChart" width="1000px"
                     [options]="moneyChartOptions"></p-chart>
        </div>
    </div>
</ng-template>

<ng-template #taskStatisticsRowTemplate let-employeeRow="employeeRow">
    <tr *ngIf="employeeRow.taskType && !employeeRow.total">
        <td [attr.rowspan]="employeeRow.employeeRowSpanCount" *ngIf="employeeRow.employee"><app-employee-label [employee]="employeeRow.employee"></app-employee-label></td>
        <td [attr.rowspan]="employeeRow.taskClassRowSpanCount" *ngIf="employeeRow.className">{{employeeRow.className}}</td>
        <td>{{employeeRow.taskType.name}}</td>
        <td>{{employeeRow.taskType.count}}</td>
        <td>{{employeeRow.taskType.quantityPerShift}}</td>
        <td><app-duration [ms]="employeeRow.taskType.timings.timeSpentOnTasks"></app-duration></td>
        <td><app-duration [ms]="employeeRow.taskType.timings.givenAndReceived"></app-duration></td>
        <td><app-duration [ms]="employeeRow.taskType.timings.givenAndClosed"></app-duration></td>
        <td><app-duration [ms]="employeeRow.taskType.timings.receivedAndClosed"></app-duration></td>
        <td></td>
        <td>{{employeeRow.taskType.money.quantityPerShift | currency:'RUB'}}</td>
        <td>{{employeeRow.taskType.money.quantityPerHour | currency:'RUB'}}</td>
        <td>{{employeeRow.taskType.money.quantityPerHourActual | currency:'RUB'}}</td>
        <td>{{employeeRow.taskType.money.quantityPerTask | currency:'RUB'}}</td>
        <td>{{employeeRow.taskType.money.quantityAll | currency:'RUB'}}</td>
    </tr>
    <tr *ngIf="!employeeRow.taskType && employeeRow.zeroTask">
        <td *ngIf="employeeRow.className" class="font-bold">{{employeeRow.className}}</td>
        <td></td>
        <td class="font-bold">{{employeeRow.zeroTask.taskCount}}</td>
        <td class="font-bold">{{employeeRow.zeroTask.taskQuantityPerShift}}</td>
        <td class="font-bold"><app-duration [ms]="employeeRow.zeroTask.timings.timeSpentOnTasks"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.zeroTask.timings.givenAndReceived"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.zeroTask.timings.givenAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.zeroTask.timings.receivedAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.zeroTask.timings.delayBetween"></app-duration></td>
        <td class="font-bold" [attr.colspan]="5">
            <div class="hover:text-primary-600 cursor-pointer"
                 *ngIf="employeeRow.zeroTask.workLogs && employeeRow.zeroTask.workLogs.length > 0"
                 (click)="openZeroWorkLogDialog(employeeRow.zeroTask.workLogs)">
                Открыть список задач
            </div>
        </td>
    </tr>
    <tr *ngIf="!employeeRow.taskType && employeeRow.paidTask">
        <td *ngIf="employeeRow.className" class="font-bold">{{employeeRow.className}}</td>
        <td></td>
        <td class="font-bold">{{employeeRow.paidTask.taskCount}}</td>
        <td class="font-bold">{{employeeRow.paidTask.taskQuantityPerShift}}</td>
        <td class="font-bold"><app-duration [ms]="employeeRow.paidTask.timings.timeSpentOnTasks"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.paidTask.timings.givenAndReceived"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.paidTask.timings.givenAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.paidTask.timings.receivedAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.paidTask.timings.delayBetween"></app-duration></td>
        <td class="font-bold">{{employeeRow.paidTask.money.quantityPerShift | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.paidTask.money.quantityPerHour | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.paidTask.money.quantityPerHourActual | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.paidTask.money.quantityPerTask | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.paidTask.money.quantityAll | currency:'RUB'}}</td>
    </tr>
    <tr *ngIf="!employeeRow.taskType && employeeRow.total">
        <td *ngIf="employeeRow.className" class="font-bold">{{employeeRow.className}}</td>
        <td></td>
        <td class="font-bold">{{employeeRow.total.taskCount}}</td>
        <td class="font-bold">{{employeeRow.total.taskQuantityPerShift}}</td>
        <td class="font-bold"><app-duration [ms]="employeeRow.total.timings.timeSpentOnTasks"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.total.timings.givenAndReceived"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.total.timings.givenAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.total.timings.receivedAndClosed"></app-duration></td>
        <td class="font-bold"><app-duration [ms]="employeeRow.total.timings.delayBetween"></app-duration></td>
        <td class="font-bold">{{employeeRow.total.money.quantityPerShift | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.total.money.quantityPerHour | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.total.money.quantityPerHourActual | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.total.money.quantityPerTask | currency:'RUB'}}</td>
        <td class="font-bold">{{employeeRow.total.money.quantityAll | currency:'RUB'}}</td>
    </tr>
</ng-template>

<ng-template #emptyTableTemplate>
    <div class="text-bluegray-400 flex flex-column align-items-center justify-content-center w-full h-full">
        <span class="mds-date_range"></span>
        <span class="max-w-20rem text-2xl font-semibold text-center">
            Выберите период времени для получения статистики
        </span>
    </div>
</ng-template>

<ng-template #periodStatisticsFormTemplate>
    <div class="flex gap-2" [formGroup]="statisticsForm">
        <p-dropdown [options]="(positions$ | async) ?? []" [formControl]="positionControl"></p-dropdown>
        <p-multiSelect appendTo="body" [options]="(employees$ | async) ?? []" formControlName="employees" selectedItemsLabel="{0} монтажников выбрано"></p-multiSelect>
        <app-data-range-input formControlName="period"></app-data-range-input>
        <button pButton label="Сформировать" (click)="getStatistics()" [disabled]="statisticsForm.invalid"></button>
    </div>
</ng-template>

<p-dialog appendTo="body" header="Список нулевых задач"
          [(visible)]="zeroWorkLogDialogVisible" [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column">
            <div class="flex flex-column border-1 border-bluegray-100" *ngFor="let workLog of zeroWorkLogList">
                <app-task-list-element [inlined]="true" [isCommentInput]="false" [item]="workLog.task"></app-task-list-element>
                <div class="p-3">
                    <app-label label="Цель задачи" *ngIf="workLog.targetDescription">
                        {{workLog.targetDescription}}
                    </app-label>
                    <app-label label="Отчет">
                        {{workLog.report}}
                    </app-label>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
