<div class="flex align-items-center gap-1" (focusin)="onTouched()">
    <p-autoComplete appendTo="body" placeholder="Улица" [ngClass]="inputClasses" [size]="30" [delay]="500"
                    field="name" [showClear]="true" [showEmptyMessage]="true" emptyMessage="Улиц не найдено" [(ngModel)]="selectedStreet"
                    [forceSelection]="false" [autoHighlight]="true" (completeMethod)="streetInputChange$.next($event.query)"
                    [suggestions]="(streetSuggestions$ | async) ?? []" (onSelect)="streetSelect$.next($event)" (onClear)="streetSelect$.next(null)">
    </p-autoComplete>
    <input pInputText #houseControl class="flipleft animation-duration-150" (focus)="isHouseControlFocused$.next(true)"
           (blur)="isHouseControlFocused$.next(false)" [ngClass]="houseInputClasses$ | async" placeholder="Дом Кв."
           [size]="16" (input)="houseInputChange$.next(houseControl.value)" *ngIf="!!selectedStreet" [(ngModel)]="selectedHouse"/>
</div>
<p-overlayPanel #houseNotFoundPanel appendTo="body">
    <div class="flex flex-column gap-2">
        <span class="text-orange-500 font-bold">Дом не найден</span>
        <button pButton label="Добавить дом" (click)="showCreateHouseDialog()" class="p-button-success p-button-sm"></button>
        <ng-container *ngIf="houseError$ | async as houseError">
            <div class="flex flex-column gap-1" *ngIf="(houseError.foundAddresses?.length ?? 0) > 0">
                <span class="font-bold text-bluegray-400 ">Или выбрать из найденных:</span>
                <div class="flex flex-column gap-1">
                    <span *ngFor="let address of houseError.foundAddresses" (click)="forcedAddress$.next(address)"
                          class="px-2 py-1 bg-bluegray-50 text-bluegray-400 cursor-pointer select-none hover:text-primary hover:bg-primary-50 border-round">
                        {{address.tailPart}}
                    </span>
                </div>
            </div>
        </ng-container>
    </div>
</p-overlayPanel>
<p-overlayPanel #isApartmentHousePanel appendTo="body">
    <ng-container *ngIf="houseError$ | async as houseError">
        <div class="flex flex-column gap-2">
            <span class="text-orange-500 font-bold">Дом не многоквартирный</span>
            <p-button label="Сделать многоквартирным" (onClick)="confirmMakeTheHouseAnApartmentBuilding(houseError)" styleClass="p-button-success p-button-sm"></p-button>
        </div>
    </ng-container>
</p-overlayPanel>
<!--<pre *ngIf="streetSelect$ | async as streetSelect" [innerHTML]="streetSelect | prettyJson:[1,3]"></pre>-->
<!--<pre *ngIf="address$ | async as address" [innerHTML]="address | prettyJson:[1,3]"></pre>-->
<p-dialog appendTo="body" header="Создать дом" [modal]="true" [resizable]="false" [draggable]="false" [dismissableMask]="true" [(visible)]="createHouseVisible">
    <div class="flex flex-column gap-3" [formGroup]="createHouseForm">
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Номер дома</label>
            <p-inputNumber formControlName="houseNum"></p-inputNumber>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Дробь (если есть)</label>
            <p-inputNumber formControlName="fraction" [min]="1" [max]="999"></p-inputNumber>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Литера (если есть)</label>
            <p-inputMask  formControlName="letter" mask="a" characterPattern="[а-я]"></p-inputMask>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Строение (если есть)</label>
            <p-inputNumber formControlName="build" [min]="1" [max]="99"></p-inputNumber>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Многоквартирный дом?</label>
            <p-inputSwitch formControlName="isApartmentHouse"></p-inputSwitch>
        </div>
        <div class="flex gap-1 flex-column">
            <label class="caption size-small wt-bold f-color-500">Привязка к ACP</label>
            <app-acp-house-input formControlName="acpHouseBind"></app-acp-house-input>
        </div>
        <!--        <ya-map (yaclick)="onMapClick($event)" [center]="centerOfMap" [zoom]="zoom" [options]="mapOptions" class="flex-grow-1">-->
        <!--            <ya-placemark *ngIf="housePlace" [geometry]="[housePlace.latitude,housePlace.longitude]"></ya-placemark>-->
        <!--        </ya-map>-->
        <p-button label="Создать" (onClick)="createHouse()" class="align-self-end" styleClass="p-button-success" icon="mdi-add" [disabled]="!createHouseForm.valid"></p-button>
    </div>
</p-dialog>
