.stages-wrapper {
  display: flex;
  flex: 1;
  padding: 0 2rem 2rem 2rem;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;

  &>* {
      min-width: 500px;
      //height: 100%;
  }
}

.stages-content{
  display: grid;
  grid: 1fr/max-content 1fr;
}
