<div class="flex gap-2 align-items-center flex-wrap user-select-none relative w-fit" [style]="isEdit?{'z-index':2101}:null" (click)="$event.stopPropagation()"
     (mouseenter)="isWrapperHovered = true" (mouseleave)="isWrapperHovered = false" *ngIf="tags.length > 0 || isEdit; else emptyTagsTemplate">
    <div *ngFor="let tag of tags" class="flex align-items-center px-3 py-2 text-white flex border-round-3xl gap-1 cursor-default"
        [style.background-color]="tag.color">
        <div class="white-space-nowrap">
            {{tag.name}}
        </div>
        <span class="mdi-cancel cursor-pointer hover:text-red-100" (click)="removeTag(tag)"
              *ngIf="isEdit"></span>
    </div>
    <div class="text-bluegray-300 font-bold px-2 py-1" *ngIf="tags.length === 0">
        Нет тегов
    </div>
    <div *ngIf="!isEdit && isWrapperHovered" (click)="editTags($event, appendTagPanel, element.nativeElement)"
         class="absolute flex min-w-max w-full h-full align-items-center justify-content-center cursor-pointer
          border-round-xl py-2 px-4 back-blured border-1 border-orange-500">
        <span class="text-orange-500">Редактировать</span>
    </div>
</div>

<ng-template #emptyTagsTemplate>
    <div class="text-primary px-3 py-2 border-round-3xl border-1 border-primary w-fit hover:bg-primary hover:text-white cursor-pointer"
         (click)="editTags($event, appendTagPanel, element.nativeElement)">
        Добавить теги
    </div>
</ng-template>

<p-overlayPanel #appendTagPanel appendTo="body" (onHide)="changeTags()" styleClass="overlay-panel-unpadding">
    <ng-template pTemplate="content">
        <p-listbox [options]="(loadedTags$ | async) ?? []" [filter]="true" filterBy="name"
                   (onChange)="appendTag($event.value)" [listStyle]="{'max-height':'35vh'}">
            <ng-template let-tag pTemplate="item">
                <span [style.color]="tag.value.color">{{tag.label}}</span>
            </ng-template>
        </p-listbox>
    </ng-template>
</p-overlayPanel>

<p-blockUI [blocked]="isEdit" [autoZIndex]="false" [baseZIndex]="1101"></p-blockUI>
