.timestamp-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: calc(var(--top-panel-height) + 5.5rem);
  width: max-content;
  padding: .3rem .7rem;
  border-radius: 999px;
  background-color: #ced5dd91;
  backdrop-filter: blur(3px);
  font-size: .9rem;
  font-weight: bold;
  color: var(--tc-600);
  margin: .5rem auto;
}
