<div [limited]="true" appExtendPageHeight class="flexed vcenter">
    <div [style]="{marginBottom: '1rem'}" class="responsive-wrapper flexed gap10">
        <app-main-menu-panel></app-main-menu-panel>
        <div class="flex p-3 flex-grow-1 gap-2 panel overflow-hidden">
            <ng-container [ngSwitch]="loadingState">
                <ng-container *ngSwitchCase="'LOADING'">
                    <ng-container *ngTemplateOutlet="loadingTemp"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'ERROR'">
                    <ng-container *ngTemplateOutlet="errorTemp"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'READY'">
                    <ng-container [ngSwitch]="viewMode">
                        <ng-container *ngSwitchCase="'city'">
                            <ng-container *ngTemplateOutlet="cityList"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'street'">
                            <ng-container *ngTemplateOutlet="streetList"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'house'">
                            <ng-container *ngTemplateOutlet="houseList"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'houseView'">
                            <ng-container *ngTemplateOutlet="houseView"></ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #cityList>
    <div class="flex gap-3 flex-grow-1">
        <div class="flex flex-column gap-2 terminator-right">
            <div class="flex gap-3 px-3 align-items-center">
                <span class="caption size-big">
                    Населенные пункты
                </span>
                <div class="flex-grow-1"></div>
                <p-button (onClick)="openDialogCreateCity()" icon="mdi-add" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-outlined p-button-success p-button-icon"></p-button>
            </div>
            <div class="list-view pr-3">
                <div (click)="selectCity(city)" *ngFor="let city of cities; trackBy: trackByCity"
                     class="flexed gap5 p10 h-min hcenter caption wt-bold f-color-600 border-round-md active-element"
                     pRipple>
                    <span class="mdi-location_city"></span>
                    <span>{{city.name}}</span>
                </div>
            </div>
        </div>
        <div class="flex p-3 flex-grow-1 align-items-center justify-content-center">
            <div class="flex flex-column align-items-center caption f-color-500">
                <span class="mds-check_circle"></span>
                <span class="caption size-big f-color-500">Выберете населенный пункт</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #streetList>
    <div class="flex gap-3 flex-grow-1">
        <div class="flex flex-column gap-2 terminator-right">
            <div class="flex gap-3 pr-3 align-items-center">
                <p-button (onClick)="back()" icon="mdi-arrow_back_ios_new" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-text p-button-secondary p-button-icon"></p-button>
                <span class="caption size-big">
                    Улицы
                </span>
                <div class="flex-grow-1"></div>
                <p-button (onClick)="openDialogCreateStreet()" [loading]="(beginRequest$|async) ?? false"
                          icon="mdi-add" styleClass="p-button-outlined p-button-success p-button-icon"></p-button>
            </div>
            <div class="pr-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <span class="mdi-search"></span>
                    </span>
                    <input [appPreventInput]="streetFiltering" [formControl]="filterControl" pInputText
                           placeholder="Название улицы..." type="text">
                </div>
            </div>
            <div [ngClass]="{'cover-element': streetFiltering}" class="list-view pr-3">
                <div (click)="selectStreet(street)" *ngFor="let street of streets; trackBy: trackByStreet"
                     class="flexed gap5 p10 h-min hcenter caption wt-bold f-color-600 border-round-md active-element"
                     pRipple>
                    <span class="mdi-streetview"></span>
                    <span>{{street.nameWithPrefix}}</span>
                </div>
            </div>
        </div>
        <div class="flexed column stretched gap10">
            <div class="flexed gap5 pb-2 px-2 hcenter terminator-bottom">
                <span class="caption size-big">
                    Город: {{selectedCity?.name}}
                </span>
                <div class="stretched"></div>
                <p-button label="Удалить" (onClick)="deleteCity()" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-text p-button-danger" icon="mdi-delete"></p-button>
            </div>
            <div [formGroup]="cityEditingForm" class="flex flex-column gap-2 p-3">
                <div class="input-label-wrapper">
                    <label class="caption size-small wt-bold f-color-500">Название города</label>
                    <input pInputText formControlName="name" type="text">
                </div>
                <p-button label="Сохранить" class="align-self-end" (onClick)="saveCity()" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-success" icon="mdi-save" [disabled]="!cityEditingForm.valid || cityEditingForm.pristine"></p-button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #houseList>
    <div class="flex gap-3 flex-grow-1">
        <div class="flex flex-column gap-2 terminator-right">
            <div class="flex gap-3 pr-3 align-items-center">
                <p-button (onClick)="back()" icon="mdi-arrow_back_ios_new" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-text p-button-secondary p-button-icon"></p-button>
                <span class="caption size-big">
                    Дома
                </span>
                <div class="flex-grow-1"></div>
                <p-button (onClick)="openDialogCreateHouse()" icon="mdi-add" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-outlined p-button-success p-button-icon"></p-button>
            </div>
            <div class="list-view pr-3">
                <div (click)="selectHouse(house)" *ngFor="let house of houses; trackBy: trackByHouse"
                     class="flexed gap5 p10 h-min hcenter caption wt-bold f-color-600 border-round-md active-element"
                     pRipple>
                    <span class="mdi-home"></span>
                    <span>{{house.houseName}}</span>
                </div>
            </div>
        </div>
        <div class="flexed column stretched gap10">
            <div class="flexed gap5 pb-2 px-2 hcenter terminator-bottom">
                    <span class="caption size-big">
                        Улица: {{selectedStreet?.streetName}}
                    </span>
                <div class="stretched"></div>
                <p-button label="Удалить" (onClick)="deleteStreet()" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-text p-button-danger" icon="mdi-delete"></p-button>
            </div>
            <div [formGroup]="streetEditingForm" class="flex flex-column gap-2 p-3">
                <div class="input-label-wrapper">
                    <label class="caption size-small wt-bold f-color-500">Тип</label>
                    <p-dropdown [options]="streetPrefixes" formControlName="prefix"></p-dropdown>
                </div>
                <div class="input-label-wrapper">
                    <label class="caption size-small wt-bold f-color-500">Название улицы</label>
                    <input pInputText formControlName="name" type="text">
                </div>
                <div class="input-label-wrapper">
                    <label class="caption size-small wt-bold f-color-500">Альтернативные названия</label>
                    <p-chips formControlName="altNames" [allowDuplicate]="false" separator="," [addOnTab]="true" [addOnBlur]="true"></p-chips>
                </div>
                <div class="input-label-wrapper">
                    <label class="caption size-small wt-bold f-color-500">Название в биллинге</label>
                    <input pInputText formControlName="billingAlias" type="text">
                </div>
                <p-button label="Сохранить" class="align-self-end" (onClick)="saveStreet()" [loading]="(beginRequest$|async) ?? false"
                          styleClass="p-button-success" icon="mdi-save" [disabled]="!streetEditingForm.valid || streetEditingForm.pristine"></p-button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #houseView>
    <div class="flex flex-column gap-3 flex-grow-1">
        <div class="flex align-items-center gap-3 terminator-bottom pb-2">
            <p-button (onClick)="back()" icon="mdi-arrow_back_ios_new" [loading]="(beginRequest$|async) ?? false"
                      styleClass="p-button-text p-button-secondary p-button-icon"></p-button>
            <span class="caption size-big flex-grow-1">
                Дом: {{selectedHouse?.addressName}}
            </span>
            <p-button label="Удалить" (onClick)="deleteHouse()" [loading]="(beginRequest$|async) ?? false" styleClass="p-button-text p-button-danger" icon="mdi-delete"></p-button>
        </div>
        <div class="flex gap-3">
            <p-button (onClick)="this.manualHouseNavigation$.next(-1)" label="Пред. (Alt+B)" icon="mdi-arrow_back" [loading]="(beginRequest$|async) ?? false"
                      styleClass="p-button-text p-button-info"></p-button>
            <div class="flex-grow-1"></div>
            <p-button (onClick)="this.manualHouseNavigation$.next(1)" label="След. (Alt+N)" icon="mdi-arrow_forward" iconPos="right" [loading]="(beginRequest$|async) ?? false"
                      styleClass="p-button-text p-button-info"></p-button>
        </div>
        <div class="flex flex-column gap-3 flex-grow-1 p-3" [formGroup]="houseEditingForm" [@swipe]="animationState$ | async" (@swipe.done)="animationEnd$.next(true)">
            <div class="input-label-wrapper">
                <label class="caption size-small wt-bold f-color-500">Номер дома</label>
                <p-inputNumber formControlName="houseNum"></p-inputNumber>
            </div>
            <div class="input-label-wrapper">
                <label class="caption size-small wt-bold f-color-500">Дробь (если есть)</label>
                <p-inputNumber formControlName="fraction"></p-inputNumber>
            </div>
            <div class="input-label-wrapper">
                <label class="caption size-small wt-bold f-color-500">Литера (если есть)</label>
                <input pInputText formControlName="letter" type="text">
            </div>
            <div class="input-label-wrapper">
                <label class="caption size-small wt-bold f-color-500">Строение (если есть)</label>
                <p-inputNumber formControlName="build"></p-inputNumber>
            </div>
            <p-button label="Сохранить" class="align-self-end" (onClick)="saveHouse()" [loading]="(beginRequest$|async) ?? false"
                      styleClass="p-button-success" icon="mdi-save" [disabled]="!houseEditingForm.valid || houseEditingForm.pristine"></p-button>
            <ya-map (yaclick)="mapClick$.next($event)" [center]="[47.519624, 42.206329]" [zoom]="12" [options]="mapOptions" class="flex-grow-1">
                <ya-placemark *ngFor="let placemark of mapPins" [geometry]="placemark"></ya-placemark>
            </ya-map>
        </div>
    </div>
</ng-template>

<ng-template #loadingTemp>
    <div class="flex align-items-center justify-content-center flex-grow-1">
        <p-progressSpinner class="primary-spinner" strokeWidth="1"></p-progressSpinner>
    </div>
</ng-template>

<ng-template #errorTemp>
    <div class="flex align-items-center justify-content-center flex-grow-1 caption size-big f-color-danger">
        <div class="flex flex-column align-items-center">
            <span class="mds-error"></span>
            <span>Ошибка загрузки</span>
            <p-button label="Перезагрузить" icon="mdi-refresh" (onClick)="reload()" styleClass="p-button-success p-button-outlined" class="mt-3"></p-button>
        </div>
    </div>
</ng-template>

<p-dialog appendTo="body" header="Создать населенный пункт" [modal]="true" [resizable]="false" [draggable]="false" [(visible)]="createCityVisible">
    <div class="flex flex-column gap-3" [formGroup]="createCityForm">
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Название города</label>
            <input pInputText type="text" formControlName="name">
        </div>
        <p-button label="Создать" (onClick)="createCity()" class="align-self-end" styleClass="p-button-success" icon="mdi-add" [disabled]="!createCityForm.valid"></p-button>
    </div>
</p-dialog>

<p-dialog appendTo="body" header="Создать улицу" [modal]="true" [resizable]="false" [draggable]="false" [(visible)]="createStreetVisible">
    <div class="flex flex-column gap-3" [formGroup]="createStreetForm">
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Тип</label>
            <p-dropdown [options]="streetPrefixes" appendTo="body" formControlName="prefix"></p-dropdown>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Название улицы</label>
            <input pInputText formControlName="name" type="text">
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Альтернативные названия</label>
            <p-chips formControlName="altNames" [allowDuplicate]="false" separator="," [addOnTab]="true" [addOnBlur]="true"></p-chips>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Название в биллинге</label>
            <input pInputText formControlName="billingAlias" type="text">
        </div>
        <p-button label="Создать" (onClick)="createStreet()" class="align-self-end" styleClass="p-button-success" icon="mdi-add" [disabled]="!createStreetForm.valid"></p-button>
    </div>
</p-dialog>

<p-dialog appendTo="body" header="Создать дом" [modal]="true" [resizable]="false" [draggable]="false" [(visible)]="createHouseVisible">
    <div class="flex flex-column gap-3" [formGroup]="createHouseForm">
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Номер дома</label>
            <p-inputNumber formControlName="houseNum"></p-inputNumber>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Дробь (если есть)</label>
            <p-inputNumber formControlName="fraction" [min]="1" [max]="999"></p-inputNumber>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Литера (если есть)</label>
            <p-inputMask  formControlName="letter" mask="a" characterPattern="[а-я]"></p-inputMask>
        </div>
        <div class="input-label-wrapper">
            <label class="caption size-small wt-bold f-color-500">Строение (если есть)</label>
            <p-inputNumber formControlName="build" [min]="1" [max]="99"></p-inputNumber>
        </div>
        <p-button label="Создать" (onClick)="createHouse()" class="align-self-end" styleClass="p-button-success" icon="mdi-add" [disabled]="!createHouseForm.valid"></p-button>
    </div>
</p-dialog>
