<div appExtendPageHeight class="flexed vcenter">
    <div class="responsive-wrapper flex flex-column gap-3 mb-3">
        <ng-container [ngSwitch]="loadingState">
            <ng-container *ngSwitchCase="'LOADING'">
                <div class="flexed hcenter vcenter stretched panel">
                    <p-progressSpinner class="custom-spinner custom-spinner-8xl custom-spinner-primary"
                                       strokeWidth="1"></p-progressSpinner>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ERROR'">
                <div class="flexed hcenter vcenter stretched panel">
                    <div class="flexed column vcenter caption f-color-danger size-huge wt-tiny">
                        <span class="mds-error"></span>
                        <span>Произошла ошибка</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'READY'">
                <ng-container *ngTemplateOutlet="infoViewTemp"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #infoViewTemp>
    <div class="flex flex-column flex-grow-1 h-min panel">
        <div class="flexed gap10 p10 hcenter terminator-bottom">
            <p-button (onClick)="customNav.backOrDefault(['/billing','search'])" icon="mdi-arrow_back"
                      styleClass="p-button-secondary p-button-text p-button-icon"></p-button>
            <span class="caption size-huge wt-tiny f-color-600 with-icon">
                <span class="mds-person caption size-xlarge"></span>
                <span>
                    {{userInfo?.uname}}
                </span>
            </span>
            <ng-container *ngTemplateOutlet="titleTagsTemp"></ng-container>
            <div class="stretched"></div>
            <span class="caption size-tiny wt-black f-color-300">Обновлено <app-time-elapsed
                    [startTime]="loadingTimestamp"></app-time-elapsed> назад</span>
            <p-button (onClick)="update$.next(currentLogin)" *ngIf="currentLogin" icon="mdi-refresh"
                      styleClass="p-button-text p-button-icon"></p-button>
        </div>
        <div class="flex gap-3 p-6 terminator-bottom flex-grow-1">
            <div class="flex flex-column gap-3">
                <ng-container *ngTemplateOutlet="mainUserInfoTemp"></ng-container>
                <ng-container *ngTemplateOutlet="hardwareInfoTemp"></ng-container>
                <ng-container *ngTemplateOutlet="tariffInfoTemp"></ng-container>
            </div>
            <div class="flex flex-column flex-grow-1">
                <ng-container *ngTemplateOutlet="acpInfo"></ng-container>
            </div>
        </div>
        <div class="flexed gap10 p10 hcenter">
            <p-button (onClick)="createTaskMenu.toggle($event)" icon="mdi-add" label="Создать задачу"
                      styleClass="p-button-success p-button-text"></p-button>
            <div class="stretched"></div>
            <span *ngIf="creditAmount" class="caption wt-tiny size-huge f-color-danger">
                Кредит:
                {{creditAmount | currency: 'RUB'}}
            </span>
            <span [ngClass]="{'f-color-primary': moneyAmount>=0, 'f-color-danger': moneyAmount<0}"
                  class="caption wt-tiny size-huge f-color-primary">
                Баланс:
                {{moneyAmount | currency: 'RUB'}}
            </span>
        </div>
    </div>
    <ng-container *ngIf="tasks$ | async as tasks">
        <div class="flex flex-column flex-grow-1 h-min panel">
            <div class="flex align-items-center p-4 gap-2 border-bluegray-50 border-bottom-1 text-lg font-light text-bluegray-400">
                <span class="mdi-history"></span>
                <span class="flex-grow-1">История задач</span>
                <span *ngIf="tasks.totalElements > 0" class="text-sm text-primary-400 font-bold">
                    Найдено: {{tasks.totalElements}} {{tasks.totalElements | decline:'задача':'задачи':'задач'}}
                </span>
            </div>
            <ng-container [ngSwitch]="tasks.loadingState">
                <div *ngSwitchCase="'READY'" class="flex flex-column p-3">
                    <div [style.max-height]="'30rem'" class="overflow-y-auto">
                        <app-task-list-element *ngFor="let task of tasks.value" [inlined]="true"
                                               [item]="task"></app-task-list-element>
                    </div>
                </div>
                <div *ngSwitchCase="'LOADING'" [style.height]="'30rem'"
                     class="flex justify-content-center align-items-center p-3">
                    <p-progressSpinner class="custom-spinner custom-spinner-8xl custom-spinner-primary"
                                       strokeWidth="1"></p-progressSpinner>
                </div>
                <div *ngSwitchCase="'EMPTY'"
                     class="flex align-items-center justify-content-center flex-grow-1 py-5">
                    <div class="flex flex-column align-items-center text-lg text-bluegray-400">
                        <span class="mds-task_alt"></span>
                        <span>Не найденно задач</span>
                    </div>
                </div>
                <div *ngSwitchCase="'ERROR'"
                     class="flex align-items-center justify-content-center flex-grow-1 py-5">
                    <div class="flex flex-column align-items-center text-lg text-red-400">
                        <span class="mds-error"></span>
                        <span>Ошибка загрузки</span>
                    </div>
                </div>
            </ng-container>
            <p-paginator (onPageChange)="changeTaskHistoryPage.next($event.page)" *ngIf="tasks.loadingState === 'READY'"
                         [first]="tasks.pageNumber * 5"
                         [rows]="5" [totalRecords]="tasks.totalElements" class="p-2"></p-paginator>
        </div>
    </ng-container>
</ng-template>

<ng-template #titleTagsTemp>
    <div class="flexed gap5 hcenter">
        <ng-container [ngSwitch]="userInfo?.newTarif?.state">
            <ng-container *ngSwitchCase="1">
                <app-colored-tag caption="Активный" color="var(--mc-500)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchCase="100">
                <app-colored-tag caption="Неактивный" color="var(--danger-600)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchCase="7">
                <app-colored-tag caption="Нет денег" color="var(--warm-500)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchCase="10">
                <app-colored-tag caption="Древний" color="var(--danger-600)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchCase="9">
                <app-colored-tag caption="Нет тарифа" color="var(--danger-600)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchCase="11">
                <app-colored-tag caption="Отключен" color="var(--danger-600)"></app-colored-tag>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <app-colored-tag caption="Неактивный" color="var(--danger-600)"></app-colored-tag>
            </ng-container>
        </ng-container>
        <app-colored-tag [caption]="isOnline ? 'Онлайн' : 'Офлайн'"
                         [color]="isOnline ? 'var(--scs-500)' : 'var(--danger-500)'"></app-colored-tag>
        <app-colored-tag *ngIf="hasCredit" caption="Кредит" color="var(--warm-500)"></app-colored-tag>
    </div>
</ng-template>

<ng-template #mainUserInfoTemp>
    <div class="flexed column">
        <span class="caption wt-bold size-big f-color-600">
            Пользователь
        </span>
        <div class="flexed column gap5 p10">
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Адрес:
                </span>
                <span class="caption">
                    {{userInfo?.ibase?.addr}}
                </span>
            </span>
            <span>
                <span class="caption wt-black size-small f-color-500">
                    ФИО:
                </span>
                <span class="caption">
                    {{userInfo?.ibase?.fio}}
                </span>
            </span>
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Телефон:
                </span>
                <span class="caption">
                    {{userInfo?.ibase?.phone}}
                </span>
            </span>
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Договор заключен:
                </span>
                <span class="caption">
                    {{userInfo?.ibase?.ddog | date: 'EEEE dd MMMM yyyy' | titlecase}}г.
                </span>
            </span>
            <span *ngIf="userInfo?.ibase?.coment">
                <span class="caption wt-black size-small f-color-500">
                    Комментарий:
                </span>
                <span class="caption">
                    {{userInfo?.ibase?.coment}}
                </span>
            </span>
        </div>
    </div>
</ng-template>

<ng-template #hardwareInfoTemp>
    <div class="flexed column">
        <span class="caption wt-bold size-big f-color-600">
            Оборудование
        </span>
        <div class="flexed column gap5 p10">
            <span>
                <span class="caption wt-black size-small f-color-500">
                    IP:
                </span>
                <span class="caption">
                    <span>
                        {{userInfo?.newTarif?.intIp}}
                    </span>
                    <span [style.color]="isOnline ? 'var(--scs-500)' : 'var(--danger-500)'" class="caption wt-bold">
                        {{isOnline ? 'Онлайн' : 'Офлайн'}}
                    </span>
                </span>
            </span>
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Активность:
                </span>
                <span class="caption">
                    {{userInfo?.newTarif?.last | date: 'dd MMMM yyyy HH:mm:ss' | titlecase}}
                    ({{userInfo?.newTarif?.last | elapsedTime:'':' назад':false:true}})
                </span>
                <span class="mdi-help_outline caption size-big f-color-300"
                      pTooltip="Момент времени, когда оборудование отправило запрос серверу."></span>
            </span>
        </div>
    </div>
</ng-template>

<ng-template #tariffInfoTemp>
    <div class="flexed column">
        <span class="caption wt-bold size-big f-color-600">
            Тарифы
        </span>
        <div class="flexed column gap5 p10">
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Основной:
                </span>
                <span class="caption">
                    <span>
                        {{mainTariff?.service ? mainTariff?.service : 'Нет тарифа'}}
                    </span>
                    <span *ngIf="mainTariff?.service" class="caption wt-bold size-small f-color-primary">
                        {{mainTariff?.price}} руб/период
                    </span>
                </span>
            </span>
            <span *ngIf="services.length>0" class="flexed gap5 hstart">
                <span class="caption wt-black size-small f-color-500">
                    Сервисы:
                </span>
                <div class="flexed column gap5">
                    <span *ngFor="let service of services">
                        <span>
                            {{service?.service}}
                        </span>
                        <span class="caption wt-bold size-small f-color-primary">
                            {{service?.price}} руб/период
                        </span>
                    </span>
                </div>
            </span>
            <span>
                <span class="caption wt-black size-small f-color-500">
                    Общая стоймость:
                </span>
                <span class="caption">
                    {{totalCost}} руб/период
                </span>
            </span>
            <span class="flexed gap5 hstart">
                <span class="caption wt-black size-small f-color-500">
                    Скорость:
                </span>
                <div class="flexed column gap5">
                    <span>
                        <span>
                            По тарифу
                        </span>
                        <span class="caption wt-bold size-small f-color-primary">
                            {{userInfo?.newTarif?.tspeed}} Мбит/с
                        </span>
                    </span>
                    <span>
                        <span>
                            Фактическая
                        </span>
                        <span class="caption wt-bold size-small f-color-primary">
                            {{userInfo?.newTarif?.speed}} Мбит/с
                        </span>
                    </span>
                </div>
            </span>
            <span *ngIf="userInfo?.newTarif?.hdate">
                <span class="caption wt-black size-small f-color-500">
                    Период тарифа:
                </span>
                <span class="caption">
                    {{userInfo?.newTarif?.hdate | date: 'dd MMMM yyyy HH:mm' | titlecase}}
                </span>
                -
                <span class="caption">
                    {{userInfo?.newTarif?.edate | date: 'dd MMMM yyyy HH:mm' | titlecase}}
                </span>
                <span class="mdi-help_outline caption size-big f-color-300"
                      pTooltip="Дата начала и окончания действия основного тарифа. (Дата списания)"></span>
            </span>
            <span *ngIf="isEndTariffDateAfter">
                <span class="caption wt-black size-small f-color-500">
                    Списание через:
                </span>
                <span class="caption">
                    {{userInfo?.newTarif?.edate | elapsedTime:'':'':false:true}}
                </span>
            </span>
            <span *ngIf="userInfo?.newTarif?.endstate">
                <span class="caption wt-black size-small f-color-500">
                    Изм. состояния:
                </span>
                <span class="caption">
                    {{userInfo?.newTarif?.endstate | date: 'dd MMMM yyyy HH:mm' | titlecase}}
                </span>
                <span class="mdi-help_outline caption size-big f-color-300"
                      pTooltip="Момент времени, когда произойдет изменение состояния абонента. (Прим. закончится отл. платеж)"></span>
            </span>
        </div>
    </div>
</ng-template>

<ng-template #acpInfo>
    <div class="flex flex-column overflow-hidden border-round-md border-bluegray-100 border-1">
        <p-tabView>
            <p-tabPanel header="Оборудование абонента">
                <div [style.max-height]="'30rem'" class="flex flex-column gap-2 overflow-auto">
                    <ng-container *ngIf="dhcpBindings$ | async as bindings">
                        <ng-container [ngSwitch]="bindings.loadingState">
                            <ng-container *ngSwitchCase="'READY'">
                                <ng-container *ngFor="let binding of bindings.value; trackBy: trackByDhcpBinding"
                                              [ngTemplateOutletContext]="{binding:binding}"
                                              [ngTemplateOutlet]="dhcpBinding"></ng-container>
                                <p-button (onClick)="isAuthDialogVisible = true"
                                          icon="mdi-check" class="align-self-center mb-2"
                                          label="Найти и авторизовать" styleClass="p-button-warning p-button-outlined"></p-button>
                            </ng-container>
                            <div *ngSwitchCase="'EMPTY'"
                                 class="flex align-items-center justify-content-center flex-grow-1 py-5">
                                <div class="flex flex-column align-items-center text-lg text-bluegray-400">
                                    <span class="mds-router"></span>
                                    <span>Нет авторизованного оборудования</span>
                                    <p-button (onClick)="isAuthDialogVisible = true" class="mt-3"
                                              icon="mdi-check"
                                              label="Авторизовать" styleClass="p-button-success p-button-outlined"></p-button>
                                </div>
                            </div>
                            <div *ngSwitchCase="'ERROR'"
                                 class="flex align-items-center justify-content-center flex-grow-1 py-5">
                                <div class="flex flex-column align-items-center text-lg text-red-400">
                                    <span class="mds-error"></span>
                                    <span>Ошибка загрузки оборудования</span>
                                </div>
                            </div>
                            <div *ngSwitchCase="'LOADING'"
                                 class="flex align-items-center justify-content-center flex-grow-1 py-5">
                                <p-progressSpinner class="custom-spinner custom-spinner-gray custom-spinner-8xl"
                                                   strokeWidth="1"></p-progressSpinner>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </p-tabPanel>
            <ng-container *ngIf="dhcpBindingsByVlan$ | async as bindings">
                <p-tabPanel header="Оборудование в доме">
                    <div [style.max-height]="'30rem'" class="flex flex-column gap-2 overflow-auto">
                        <ng-container [ngSwitch]="houseBindingsLoadingState">
                            <div *ngSwitchCase="'LOADING'"
                                 [style.height]="'30rem'"
                                 class="flex align-items-center justify-content-center flex-grow-1">
                                <p-progressSpinner
                                        class="custom-spinner custom-spinner-gray custom-spinner-8xl"></p-progressSpinner>
                            </div>
                            <div *ngSwitchCase="'EMPTY'"
                                 [style.height]="'30rem'"
                                 class="flex align-items-center justify-content-center flex-grow-1">
                                <div class="flex flex-column align-items-center font-bold text-lg text-bluegray-300">
                                    <span class="mds-apartment"></span>
                                    <span>Оборудование в доме не найдено</span>
                                </div>
                            </div>
                            <div *ngSwitchCase="'ERROR'"
                                 [style.height]="'30rem'"
                                 class="flex align-items-center justify-content-center flex-grow-1">
                                <div class="flex flex-column align-items-center font-bold text-lg text-red-400">
                                    <span class="mds-error"></span>
                                    <span>Ошибка загрузки</span>
                                </div>
                            </div>
                            <ng-container *ngSwitchCase="'READY'">
                                <ng-container *ngFor="let binding of bindings.content; trackBy: trackByDhcpBinding"
                                              [ngTemplateOutletContext]="{binding:binding, isLogin:true}"
                                              [ngTemplateOutlet]="dhcpBinding"></ng-container>
                            </ng-container>
                        </ng-container>
                        <p-paginator (onPageChange)="houseBindingsPage.next($event.page)" [rows]="10"
                                     [totalRecords]="bindings.totalElements"
                                     class="position-sticky bottom-0"></p-paginator>
                    </div>
                </p-tabPanel>
            </ng-container>
        </p-tabView>
    </div>
</ng-template>

<p-menu #createTaskMenu [model]="wireframes" [popup]="true" appendTo="body"></p-menu>

<ng-template #dhcpBinding let-binding="binding" let-isLogin="isLogin">
    <div class="flex border-round-md border-bluegray-100 border-1 p-2 text-sm">
        <div class="flex flex-column gap-2 flex-grow-1">
            <div class="flex gap-2 align-items-center">
                <span [style]="{backgroundColor:binding.onlineStatus === 'ONLINE' ? 'var(--green-400)' : 'var(--red-400)'}"
                      class="border-circle w-1rem h-1rem"></span>
                <span class="font-bold text-bluegray-600">{{binding.macaddr}}</span>
                <span *ngIf="isLogin" class="font-bold text-bluegray-600">{{binding.authName}}</span>
                <span class="flex gap-1 text-primary-400">
                    <span *ngIf="binding.dhcpClient">
                        {{binding.dhcpClient}}
                    </span>
                    <span *ngIf="binding.dhcpHostname">
                        {{binding.dhcpHostname}}
                    </span>
                </span>
                <span *ngIf="binding.isAuth" class="text-green-400 font-bold">Авторизован</span>
            </div>
            <div class="flex gap-2 align-items-center">
                <app-ip-view *ngIf="binding.ipaddr" [ip]="binding.ipaddr"></app-ip-view>
                <span>VLAN: {{binding.vlanid}}</span>
                <span>Смена состояния: <app-time-elapsed [startTime]="binding.leaseStart"
                                                         type="short"></app-time-elapsed> назад</span>
            </div>
        </div>
        <div class="flex align-items-center">
            <p-button (onClick)="openBindingContextMenu($event, binding, bindingContextMenu)" [disabled]="binding.isAuth && binding.authName === currentLogin"
                      icon="mdi-more_vert"
                      styleClass="p-button-rounded p-button-icon p-button-text p-button-secondary"></p-button>
        </div>
    </div>
</ng-template>

<p-menu #bindingContextMenu [model]="bindingContextMenuItems" [popup]="true" appendTo="body"></p-menu>

<p-dialog (onShow)="openAuthDialog.next(null)" [(visible)]="isAuthDialogVisible"
          appendTo="body" header="Авторизация оборудования" [resizable]="false">
    <ng-template pTemplate="content">
        <ng-container *ngIf="lastBindingsPage$ | async as lastBindingsPage; else loading">
            <div class="flex py-3 gap-3 align-items-end justify-content-end" [formGroup]="lastBindingsFilterForm">
                <div class="text-primary-400 font-bold">
                    Найдено: {{lastBindingsPage.totalElements}} {{lastBindingsPage.totalElements | decline:'сессия':'сессии':'сессий'}}
                </div>
                <p-toggleButton formControlName="state" [disabled]="isLoadingLastBindings" onLabel="В сети"
                                onIcon="mdi-check_circle" offLabel="Не в сети" offIcon="mdi-cancel"></p-toggleButton>
                <p-button label="Сбросить фильтр" styleClass="p-button-secondary p-button-text"
                          (onClick)="lastBindingsFilterForm.reset({state:true})" icon="mdi-filter_alt_off"></p-button>
            </div>
            <p-table [loading]="isLoadingLastBindings" [scrollable]="true" [value]="lastBindingsPage.content" dataKey="id"
                     scrollHeight="500px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>MAC-адрес</th>
                        <th>Логин</th>
                        <th>Оборудование</th>
                        <th>Состояние</th>
                        <th>Адрес</th>
                        <th>IP-адрес</th>
                        <th>VLAN</th>
                        <th>Смена состояния</th>
                    </tr>
                    <tr [formGroup]="lastBindingsFilterForm">
                        <th>
                            <input pInputText type="text" formControlName="macaddr" [size]="14"/>
                        </th>
                        <th>
                            <input pInputText type="text" formControlName="login" [size]="8"/>
                        </th>
                        <th></th>
                        <th></th>
                        <th>
                            <app-acp-house-input formControlName="buildingId"></app-acp-house-input>
                        </th>
                        <th>
                            <app-ip-input formControlName="ip"></app-ip-input>
                        </th>
                        <th>
                            <p-inputNumber [size]="4" [max]="4096" formControlName="vlan"></p-inputNumber>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-binding pTemplate="body">
                    <tr (click)="authConfirm(binding)" class="cursor-pointer hover:bg-primary-50 hover:text-primary-400">
                        <td>{{binding.macaddr}}</td>
                        <td>{{binding.authName}}</td>
                        <td>
                            <div [style.max-width]="'7rem'" appTicker class="white-space-nowrap overflow-hidden">
                                <ng-container *ngIf="binding.dhcpClient">
                                    {{binding.dhcpClient}}
                                </ng-container>
                                <ng-container *ngIf="binding.dhcpHostname">
                                    {{binding.dhcpHostname}}
                                </ng-container>
                            </div>
                        </td>
                        <td>
                            <ng-container [ngSwitch]="binding.isAuth">
                                <span *ngSwitchCase="false" class="text-bluegray-300">Не авторизован</span>
                                <span *ngSwitchCase="true" class="text-green-400">Авторизован</span>
                            </ng-container>
                        </td>
                        <td>{{binding.streetName}} {{binding.houseNum}}</td>
                        <td>{{binding.ipaddr}}</td>
                        <td>{{binding.vlanid}}</td>
                        <td>
                            <app-time-elapsed [startTime]="binding.leaseStart"
                                              type="short"></app-time-elapsed>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator (onPageChange)="changeLastBindingsPage.next($event.page)" [first]="lastBindingsPage.number * 15"
                         [rows]="15"
                         [totalRecords]="lastBindingsPage.totalElements"></p-paginator>
        </ng-container>
    </ng-template>
</p-dialog>

<ng-template #loading>
    <div class="flex align-items-center justify-content-center flex-grow-1 py-5">
        <p-progressSpinner class="custom-spinner custom-spinner-gray custom-spinner-8xl"
                           strokeWidth="1"></p-progressSpinner>
    </div>
</ng-template>
