.wrapper {

}

.avatar-change-content {
  display: grid;
  grid: min-content 1fr/ 1fr;

  .avatar-change-buttons {
    display: grid;
    gap: 1rem;

    input {
      display: none;
    }
  }
}

.preview-wrapper {
  display: grid;
  gap: .5rem;
  background-color: var(--bgc-100);
  border-radius: 1rem;
  color: var(--tc-600);
  justify-items: center;
  padding: 1rem;
  font-weight: bold;

  .preview {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    &.unselect {
      background-color: var(--bgc-400);
      border: 1px solid var(--bgc-500);
      color: white;
      font-size: 1.5rem;
      position: relative;

      i {
        position: absolute;
        transform-origin: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.account {
  &-name {
    color: var(--tc-700);
    font-size: 1.1rem;
    white-space: nowrap;
  }

  &-position {
    color: var(--tc-500);
    font-size: .9rem;
  }
}

.cropper-style {
  min-width: 20rem;
  min-height: 20rem;
  max-width: 50vw;
  max-height: 50vh;
  border: 1px solid var(--bgc-300);
  border-radius: .5rem;
  overflow: hidden;
}

.avatar-preview {
  width: 10rem;
  height: 10rem;
  margin-top: .5rem;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  grid: 1fr/1fr;
  outline: var(--bgc-300) solid 2px;
  outline-offset: 1px;

  & > .ph {
    background-color: var(--bgc-500);
    color: white;
    font-weight: 500;
  }

  & > * {
    grid-area: 1/1/2/2;
    width: inherit;
    height: inherit;
  }

  &-image {
    width: inherit;
    height: inherit;
    z-index: 1;
  }
}

.noti {
  margin: 0;
}
