<span class="p-input-icon-left wrapper">
    <i [class]="(value?'mdi-domain active':'mdi-domain_disabled unactive')+' icon'"></i>
<!--    <i class="pi pi-search"></i>-->
    <input #inputEl [disabled]="disabled" [ngClass]="{unconfirmed:!value, confirmed:value}" [placeholder]="placeholder" [spellcheck]="false" autocomplete="off" class="address-input"
           pInputText type="text"/>
</span>
<p-overlay #overlay [(visible)]="showSuggestions" [responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
           appendTo="body"
           contentStyleClass="overlay">
    <div *ngIf="isLoading" class="loading">
        <app-circle-loading-indicator></app-circle-loading-indicator>
    </div>
    <div *ngIf="isEmpty" class="empty">
        <i class="mdi-domain_disabled"></i><span>Нет подходящего адреса</span>
    </div>
    <div #list *ngIf="!isLoading && !isEmpty" class="overlay-list">
        <div *ngFor="let suggestion of suggestions; let i=index" [ngClass]="{selected:i===selectedSuggestion}"
             class="overlay-list-item" (mousemove)="selectedSuggestion = i" (mouseleave)="selectedSuggestion=-1" (click)="$event.preventDefault(); selectSuggestion()">
            <span class="address-label">{{suggestion.addressName}}</span>
        </div>
    </div>
</p-overlay>
