.wrapper {
  width: 100%;

  input {
    width: 100%;
    &::placeholder{
      color: var(--tc-300);
    }
  }
}

.loading {
  min-width: 10rem;
  min-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  color: var(--red-300);
  gap: .3rem;
  white-space: nowrap;
}

.address-label {
  white-space: nowrap;
}

.address-input {
  font-size: .85rem;
}

.unconfirmed {
  color: var(--tc-600);
}

.confirmed {
  color: var(--mc-400);
}

.active {
  color: var(--mc-400) !important;
}

.unactive {
  color: var(--tc-600) !important;
}

.icon {
  font-size: 1.1rem !important;
}
