<div class="tag-item">
    <div [style.background-color]="tag?.color" class="color"></div>
    <span class="flexed column">
        <span class="name flexed hcenter gap3" [style.opacity]="tag?.deleted ? 0.5 : 1">
            <i class="mdi-not_interested" *ngIf="tag?.deleted"></i>
            <span>
                {{tag?.name}}
            </span>
        </span>
        <span class="flexed hcenter gap2">
            <span class="caption size-small wt-bold f-color-500">Создан:</span>
            <span class="caption size-tiny wt-bold f-color-500">{{tag?.created | date:'dd MMM yyyy HH:mm'}}</span>
        </span>
    </span>
    <div class="stretched"></div>
    <p-button styleClass="p-button-text p-button-warning" label="Редактировать" (onClick)="onEditTag.emit(tag)"
              [disabled]="tag?.deleted ?? false" icon="mdi-edit"></p-button>
    <p-button styleClass="p-button-text p-button-danger" label="Удалить" (onClick)="deleteTag($event)"
              [disabled]="tag?.deleted ?? false" icon="mdi-delete"></p-button>
</div>

<p-confirmPopup [key]="(this.tag?.taskTagId ?? '').toString()"></p-confirmPopup>
