<div class="tag-item">
    <div [style.background-color]="tag?.color" class="color"></div>
    <span class="flexed column">
        <span class="name flexed hcenter gap3" [style.opacity]="tag?.deleted ? 0.5 : 1">
            <i class="mdi-not_interested" *ngIf="tag?.deleted"></i>
            <span>
                {{tag?.name}}
            </span>
        </span>
        <span class="flexed hcenter gap2">
            <span class="caption size-small wt-bold f-color-500">Создан:</span>
            <span class="caption size-tiny wt-bold f-color-500">{{tag?.created | date:'dd MMM yyyy HH:mm'}}</span>
        </span>
    </span>
    <div class="stretched"></div>
    <p-button styleClass="p-button-text p-button-warning" label="Редактировать" (onClick)="openEditTagDialog()"
              [disabled]="tag?.deleted ?? false" icon="mdi-edit"></p-button>
    <p-button styleClass="p-button-text p-button-danger" label="Удалить" (onClick)="deleteTag($event)"
              [disabled]="tag?.deleted ?? false" icon="mdi-delete"></p-button>
</div>

<p-confirmPopup [key]="(this.tag?.taskTagId ?? '').toString()"></p-confirmPopup>

<p-dialog [(visible)]="showEditTagDialog" [breakpoints]="{'960px': '75vw'}" [draggable]="false" [modal]="true"
          [resizable]="false" [style]="{width: 'max-content'}" header="Редактировать тег">
    <div class="flexed column gap10 p3">
        <div class="flexed hcenter gap15">
            <input [(ngModel)]="tagNameToEdit" pInputText placeholder="Введите название тега" type="text"/>
            <span class="flexed hcenter gap3">
                <span>Фон тега</span>
                <p-colorPicker [(ngModel)]="tagColorToEdit" appendTo="body"></p-colorPicker>
            </span>
        </div>
        <app-button (onClick)="editTag()" [disabled]="!tagNameToEdit && !tagColorToEdit" [loading]="isTagEditing"
                    icon="check" label="Сохранить"></app-button>
    </div>
</p-dialog>
