<fieldset class="node flexed octet-wrapper" [formGroup]="formGroup" (blur)="onBlur.emit()">
    <input [formControl]="control1" (focus)="octetFocus($event)" (input)="focusNext($event, octTwo)" class="octet-input">
    <span>.</span>
    <input #octTwo [formControl]="control2" (focus)="octetFocus($event)" (input)="focusNext($event, octThree)" class="octet-input">
    <span>.</span>
    <input #octThree [formControl]="control3" (focus)="octetFocus($event)" (input)="focusNext($event, octFour)" class="octet-input">
    <span>.</span>
    <input #octFour [formControl]="control4" (focus)="octetFocus($event)" class="octet-input">
</fieldset>
