:host{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  border: 1px solid var(--bgc-300);
  min-height: 100px;
  height: max-content;
  min-width: 100px;
  overflow: hidden;

  &>.header{
    display: flex;
    align-items: baseline;
    padding: .9rem 1.1rem;
    background-color: var(--bgc-100);
    color: var(--tc-700);
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid var(--bgc-300);
  }
  &>.content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }
}
