<div class="flex gap-3" *ngIf="lastBindingsPage$ | async as lastBindingsPage; else loading">
    <div class="flex flex-column gap-3 flex-grow-1 panel p-3">
        <div class="flex align-items-center gap-2 text-bluegray-400 text-lg font-bold">
            <span class="mdi-router"></span><span>Сессии абон. оборудования</span>
        </div>
        <ng-container [ngSwitch]="lastBindingsPage.loadingState">
            <div class="flex flex-column flex-grow-1" @flowInChild *ngSwitchCase="'READY'">
                <ng-container *ngFor="let binding of lastBindingsPage.value; trackBy: trackByDhcpBinding"
                              [ngTemplateOutletContext]="{binding: binding}"
                              [ngTemplateOutlet]="sessionItem"></ng-container>
            </div>
            <div *ngSwitchCase="'LOADING'" class="flex justify-content-center align-items-center full-height">
                <p-progressSpinner strokeWidth="2" class="custom-spinner custom-spinner-primary custom-spinner-8xl"></p-progressSpinner>
            </div>
            <div *ngSwitchCase="'ERROR'" class="flex flex-column justify-content-center align-items-center full-height text-red-400 text-lg font-bold">
                <span class="mds-error"></span>
                <span>Ошибка загрузки</span>
            </div>
            <div *ngSwitchCase="'EMPTY'" class="flex flex-column justify-content-center align-items-center full-height text-bluegray-400 text-lg font-bold">
                <span class="mds-stream"></span>
                <span>Сессий абон. оборудования не найдено</span>
            </div>
        </ng-container>
        <p-paginator (onPageChange)="changeLastBindingsPage.next($event.page)" *ngIf="lastBindingsPage.loadingState === 'READY'"
                     [first]="pageNum * 15"
                     [rows]="15"
                     [totalRecords]="lastBindingsPage.totalElements"></p-paginator>
    </div>
    <div [formGroup]="lastBindingsFilterForm"
         class="flex flex-column p-3 gap-3 align-items-end h-min panel sticky" [style.top]="'calc(var(--top-panel-height) + 1.5rem)'">
        <span class="text-bluegray-400 text-lg font-bold flex align-items-center align-self-start"><span class="mdi-filter_alt"></span> Фильтры</span>
        <div class="flex flex-column gap-3">
            <input [size]="14" formControlName="macaddr" pInputText placeholder="MAC-адрес" type="text"/>
            <input [size]="8" formControlName="login" pInputText placeholder="Логин" type="text"/>
            <app-acp-house-input formControlName="buildingId"></app-acp-house-input>
            <input formControlName="ip" pInputText placeholder="IP-адрес" type="text" [pKeyFilter]="ipKeyFilter"/>
            <input pInputText pKeyFilter="pint" [size]="4" formControlName="vlan" placeholder="VLAN">
            <p-dropdown formControlName="state" placeholder="Статус" [options]="statusOptions"></p-dropdown>
            <p-autoComplete (completeMethod)="commutatorUplinkQuerySearch.next($event.query)"
                            (onClear)="lastBindingsFilterForm.controls.commutator.setValue(null)" [showClear]="true"
                            [size]="20" [forceSelection]="true"
                            [suggestions]="(commutatorUplinks$ | async) ?? []"
                            appendTo="body" field="label"
                            formControlName="commutator"
                            placeholder="Коммутатор"></p-autoComplete>
            <p-inputNumber [min]="1" [max]="99" formControlName="port" placeholder="Порт коммутатора" *ngIf="lastBindingsFilterForm.value.commutator"></p-inputNumber>
        </div>
        <p-button (onClick)="lastBindingsFilterForm.reset({state: 1})" icon="mdi-filter_alt_off"
                  label="Сбросить"
                  styleClass="p-button-secondary p-button-text"></p-button>
        <div class="text-primary-400 font-bold">
            Найдено: {{lastBindingsPage.totalElements}} {{lastBindingsPage.totalElements | decline:'сессия':'сессии':'сессий'}}
        </div>
    </div>
</div>

<ng-template #sessionItem let-binding="binding">
    <div class="flex flex-column p-3 gap-1 cursor-pointer hover:bg-primary-50
          hover:text-primary-400 split-line transition-ease-in-out transition-duration-150"
        [routerLink]="['/clients','billing','user', binding.authName]">
        <div class="flex gap-2 align-items-center">
            <app-binding-connection-location-view [binding]="binding"></app-binding-connection-location-view>
            <span *ngIf="binding.authName">{{binding.authName}}</span>
            <div [style.max-width]="'15rem'" appTicker class="white-space-nowrap overflow-hidden">
                <ng-container *ngIf="binding.dhcpClient">
                    {{binding.dhcpClient}}
                </ng-container>
                <ng-container *ngIf="binding.dhcpHostname">
                    {{binding.dhcpHostname}}
                </ng-container>
            </div>
            <span class="flex align-items-center font-bold text-sm gap-1" [ngClass]="{'text-primary-400': binding.onlineStatus ==='ONLINE'}">
                <span>{{binding.onlineStatus === 'ONLINE' ? 'В сети' : 'Не в сети'}}</span>
                <app-time-elapsed [startTime]="binding.leaseStart"
                                  type="short"></app-time-elapsed>
            </span>
        </div>
        <div class="flex gap-2">
            <span>
                <ng-container [ngSwitch]="binding.isAuth">
                    <span *ngSwitchCase="false" class="text-bluegray-300 white-space-nowrap">Не авторизован</span>
                    <span *ngSwitchCase="true" class="text-green-400">Авторизован</span>
                </ng-container>
            </span>
            <span>{{binding.streetName}} {{binding.houseNum}}</span>
            <span>{{binding.ipaddr}}</span>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="flex align-items-center justify-content-center flex-grow-1 py-5 panel">
        <p-progressSpinner class="custom-spinner custom-spinner-gray custom-spinner-8xl"
                           strokeWidth="1"></p-progressSpinner>
    </div>
</ng-template>
