<div class="flex flex-column flex-grow-1">
    <div class="flex align-items-center px-5 py-4">
        <span class="text-2xl text-bluegray-500 font-semibold">
            Сессии пользователей
        </span>
    </div>
    <p-table #registryTable (onLazyLoad)="service.tableLazyLoad$.next($event)" [(first)]="service.tableOffset"
             [lazyLoadOnInit]="true" (onPage)="scrollTop()"
             [lazy]="true" [loading]="service.tableContentLoading"
             [multiSortMeta]="[{field:'leaseStart', order: -1}]" [paginator]="true"
             [rowsPerPageOptions]="[25,50,100]" [rows]="25"
             [showCurrentPageReport]="true"
             [totalRecords]="service.tableContent?.totalElements ?? 0" [value]="service.tableContent?.content ?? []"
             currentPageReportTemplate="Найдено {totalRecords} коммутаторов"
             paginatorDropdownAppendTo="body" sortMode="multiple" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Статус логина</th>
                <th pSortableColumn="authName">
                    Логин
                    <p-columnFilter field="authName" type="text" display="menu" matchMode="contains"></p-columnFilter>
                    <p-sortIcon field="authName"></p-sortIcon>
                </th>
                <th>Статус</th>
                <th pSortableColumn="authExpire" >Авторизация <p-sortIcon field="authExpire"></p-sortIcon></th>
                <th pSortableColumn="leaseStart" >В сети <p-sortIcon field="leaseStart"></p-sortIcon></th>
                <th>Адрес</th>
                <th pSortableColumn="ipaddr" >
                    IP Адрес
                    <p-columnFilter field="ipaddr" type="text" display="menu" matchMode="contains"></p-columnFilter>
                    <p-sortIcon field="ipaddr"></p-sortIcon></th>
                <th pSortableColumn="macaddr" >
                    MAC Адрес
                    <p-columnFilter field="macaddr" type="text" display="menu" matchMode="contains"></p-columnFilter>
                    <p-sortIcon field="macaddr"></p-sortIcon>
                </th>
                <th pSortableColumn="vlanid" >
                    VLAN
                    <p-sortIcon field="vlanid"></p-sortIcon>
                </th>
                <th pSortableColumn="dhcpHostname" >
                    Оборудование
                    <p-columnFilter field="dhcpHostname" type="text" display="menu" matchMode="contains"></p-columnFilter>
                    <p-sortIcon field="dhcpHostname"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-binding>
            <tr (click)="service.selectBinding($event, binding, bindingContextPanel)" class="cursor-pointer hover:bg-bluegray-50">
                <td>
                    <ng-container *ngIf="binding.authName; else emptyCellTemplate">
                        <app-colored-tag *ngIf="service.bindingsUserBriefs[binding.authName] as userBrief"
                                         [caption]="userBrief.statusName" [color]="userBrief.statusColor"></app-colored-tag>
                        <ng-container *ngIf="!service.bindingsUserBriefs[binding.authName]">
                            <ng-container *ngTemplateOutlet="loadingCellTemplate; context:{width:'65px'}"></ng-container>
                        </ng-container>
                    </ng-container>
                </td>
                <td class="font-bold text-primary hover:text-primary-700 cursor-pointer" (click)="$event.stopPropagation()">
                    <span [routerLink]="['/clients', 'billing', 'user', binding.authName]" *ngIf="binding.authName; else emptyCellTemplate">
                        {{binding.authName}}
                    </span>
                </td>
                <td>
                    <span *ngIf="binding.onlineStatus === 'ONLINE'" class="font-bold text-green-400">Онлайн</span>
                    <span *ngIf="binding.onlineStatus !== 'ONLINE'" class="font-bold text-gray-400">Офлайн</span>
                </td>
                <td>
                    <span *ngIf="binding.isAuth" class="font-bold text-green-400">Авторизован</span>
                    <span *ngIf="!binding.isAuth" class="font-bold text-gray-400">Не авторизован</span>
                </td>
                <td>
                    <app-time-elapsed [startTime]="binding.leaseStart" type="short"></app-time-elapsed>
                </td>
                <td>
                    <ng-container *ngIf="binding.authName; else emptyCellTemplate">
                                <span *ngIf="service.bindingsUserBriefs[binding.authName] as userBrief">
                                    {{userBrief.address}}
                                </span>
                        <ng-container *ngIf="!service.bindingsUserBriefs[binding.authName]">
                            <ng-container *ngTemplateOutlet="loadingCellTemplate; context:{width:'105px'}"></ng-container>
                        </ng-container>
                    </ng-container>
                </td>
                <td>{{binding.ipaddr}}</td>
                <td><app-binding-connection-location-view [binding]="binding"></app-binding-connection-location-view></td>
                <td>{{binding.vlanid}}</td>
                <td>
                    <div appTicker class="max-w-10rem white-space-nowrap overflow-hidden">
                        {{binding.dhcpHostname}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <p-button type="button" icon="mdi-update" label="Обновить" styleClass="p-button-text"
                      (onClick)="service.updateContent$.next(true)"></p-button>
        </ng-template>
    </p-table>
</div>

<ng-template #loadingCellTemplate let-width="width">
    <p-skeleton [width]="width"></p-skeleton>
</ng-template>

<ng-template #emptyCellTemplate>
    <span class="text-bluegray-300 text-xl font-bold">
        -
    </span>
</ng-template>

<p-menu #bindingContextPanel appendTo="body" [popup]="true" [model]="service.bindingContextOptions"></p-menu>

<p-dialog #userAuthDialog header="Авторизовать под логином" [(visible)]="service.userAuthDialogVisible"
          [modal]="true" [draggable]="true" [dismissableMask]="true" appendTo="body" contentStyleClass="flex flex-column gap-3">
    <span class="font-bold text-bluegray-500">Авторизация устройства {{service.selectBindingForAuth?.dhcpHostname}} {{service.selectBindingForAuth?.ipaddr}} {{service.selectBindingForAuth?.macaddr}}</span>
    <div class="flex gap-3" [formGroup]="service.authUserForm">
        <input pInputText placeholder="Логин для авторизации" formControlName="login" class="flex-grow-1" [autofocus]="true"/>
        <button pButton type="button" label="Авторизовать" [disabled]="service.authUserForm.invalid"
                (click)="service.authUser()" class="p-button-success"></button>
    </div>
</p-dialog>
