.group-list-el {
  cursor: pointer;
  display: grid;
  //gap: .3rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: .2rem 1rem 1rem 1rem;
  border-radius: .5rem;
  border: 1px solid var(--bgc-200);
  font-size: .85rem;
  font-weight: bold;
  color: var(--tc-600);
  width: min-content;
  transition: all .1s ease-in-out;

  & > .name {
    white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }

  &:hover {
    border-color: var(--mc-100);
    color: var(--mc-400);
  }
}

.empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-description {
  display: grid;
  border-top: 1px solid var(--bgc-200);
  padding-top: .5rem;
}
