<div (mouseenter)="visibleSubject.next(true)" (mouseleave)="visibleSubject.next(false)" class="avatars" [ngClass]="vertical ? 'flex-column-reverse' : ''">
    <app-avatar *ngFor="let employee of sliced; let i = index; trackBy: trackByEmployee"
                [deleted]="employee.deleted"
                [name]="employee.fullName"
                [size]="size" [src]="employee.avatar"
                [style]="avatarStyle(i)"></app-avatar>
    <span *ngIf="numberOfOverflowed>0">
        +{{numberOfOverflowed}}
    </span>
</div>
<p-overlay [visible]="(visible$ | async) ?? false" appendTo="body" [autoZIndex]="false" [baseZIndex]="3500">
    <ng-template pTemplate="content">
        <div class="employees-overlay-list">
            <app-employee-label *ngFor="let employee of employees; trackBy: trackByEmployee"
                                [employee]="employee"></app-employee-label>
        </div>
    </ng-template>
</p-overlay>
