<div appExtendPageHeight class="flex">
    <ng-container [ngSwitch]="loadingState">
        <ng-container *ngSwitchCase="'LOADING'">
            <p-progressSpinner class="custom-spinner custom-spinner-8xl custom-spinner-primary center-of-page"
                               strokeWidth="1"></p-progressSpinner>
        </ng-container>
        <ng-container *ngSwitchCase="'ERROR'">
            <div class="panel flexed column hcenter vcenter gap15 p20 caption size-big wt-bold f-color-danger responsive-wrapper">
                <div class="flexed column hcenter">
                    <span class="mds-error"></span>
                    <span>
                        Задачи #{{taskId}} не существует
                    </span>
                </div>
                <p-button (onClick)="customNav.backOrDefault(['/tasks','catalog'])" icon="mdi-chevron_left"
                          label="Перейти назад"
                          styleClass="p-button-outlined"></p-button>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'READY'">
            <div class="flex flex-column flex-grow-1">
                <p-menubar [model]="managementMenu" [style]="{border: 'none'}" styleClass="bg-white" class=" border-bottom-1 border-bluegray-100 p-0">
                    <ng-template pTemplate="start">
                        <div class="flexed gap10 p5 indent1 hcenter">
                            <p-button (onClick)="customNav.backOrDefault(['/tasks','catalog'])" icon="mdi-arrow_back"
                                      pTooltip="Назад" styleClass="p-button-icon p-button-text"
                                      tooltipPosition="bottom"></p-button>
                            <div class="flexed column">
                                <span class="header400">{{currentTask?.modelWireframe?.name ?? ''}}</span>
                                <div class="flex align-items-baseline gap-2 text-bluegray-500">
                                    <span>Тип:</span>
                                    <app-tiny-button (onClick)="stageMenu.toggle($event)"
                                                     [disabled]="!currentTask?.currentStage || currentTask?.taskStatus === 'CLOSE'"
                                                     [label]="currentTask?.currentStage?.label ?? 'не установлена'"
                                                     [size]=".9"
                                                     pTooltip="Изменить" tooltipPosition="bottom"></app-tiny-button>
                                    <!--                                    <span (click)="moveToNextStage()" *ngIf="!isLastStage() && currentTask?.currentStage"-->
                                    <!--                                          class="next-stage-button">-->
                                    <!--                                Следующая <i class="mdi-chevron_right"></i>-->
                                    <!--                            </span>-->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="end">
                        <ng-container
                                *ngIf="currentTask?.actualTo || (currentTask?.actualFrom && (isBeforeActualFrom$|async))">
                            <ng-container
                                    *ngIf="isBeforeActualFrom$|async; then actualFromLabel else actualToLabel"></ng-container>
                        </ng-container>
                    </ng-template>
                </p-menubar>
                <div class="flex">
                    <div class="flex flex-column flex-grow-1 gap-3 p-4">
                        <app-task-tag-inline-selector [formControl]="installedTags"></app-task-tag-inline-selector>
                        <app-task-fields-table-view [task]="currentTask"></app-task-fields-table-view>
                    </div>
                    <div class="flex flex-column gap-3 text-bluegray-500 font-bold border-left-1 border-bluegray-100 p-5">
                        <div class="flex align-items-center gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-flag"></span>
                                <span>
                                    Статус
                                </span>
                            </div>
                            <span [class]="taskStatusColor">
                        {{currentTask | taskStatus}}
                    </span>
                        </div>
                        <div class="flex align-items-center gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-person"></span>
                                <span>
                            Автор
                        </span>
                            </div>
                            <span>
                        <app-employee-label [employee]="currentTask?.creator"></app-employee-label>
                    </span>
                        </div>
                        <div class="flex align-items-center gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-event"></span>
                                <span>
                            Создана
                        </span>
                            </div>
                            <span class="white-space-nowrap">
                        {{currentTask?.created | date:'dd MMM yyyy HH:mm' | titlecase}}
                    </span>
                        </div>
                        <div *ngIf="currentTask?.responsible" class="flex align-items-center gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-person"></span>
                                <span>
                            Ответственный
                        </span>
                            </div>
                            <span>
                        <app-employee-label [employee]="currentTask?.responsible"></app-employee-label>
                    </span>
                        </div>
                        <div *ngIf="activeWorkLog" class="flex flex-column gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-groups"></span>
                                <span>
                            Назначены монтажники
                        </span>
                            </div>
                            <span class="ml-4 flex flex-column gap-2">
                        <app-employee-label *ngFor="let employee of activeWorkLog.employees"
                                            [employee]="employee"></app-employee-label>
                    </span>
                        </div>
                        <div *ngIf="isTaskHasObservers()" class="flex flex-column gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-groups"></span>
                                <span>
                            Наблюдатели
                        </span>
                            </div>
                            <span class="ml-4 flex flex-column gap-2">
                        <app-department-label *ngFor="let department of currentTask?.departmentsObservers"
                                              [department]="department"></app-department-label>
                        <app-employee-label *ngFor="let employee of currentTask?.employeesObservers"
                                            [employee]="employee"></app-employee-label>
                    </span>
                        </div>
                        <div *ngIf="isTaskHasParent() || isTaskHasChilds()" class="flex flex-column gap-2">
                            <div class="flex align-items-center">
                                <span class="mdi-account_tree"></span>
                                <span>
                            Связанные задачи
                        </span>
                                <app-tiny-button (onClick)="openTaskChainDialog()" icon="account_tree"
                                                 pTooltip="Показать схему"
                                                 tooltipPosition="bottom"></app-tiny-button>
                            </div>
                            <span class="ml-4">
                            <div *ngIf="isTaskHasParent()" class="flexed hcenter gap3">
                                <span class="caption size-small f-color-500">Родительская:</span>
                                <app-task-link [taskId]="currentTask?.parent ?? 0"></app-task-link>
                                <app-tiny-button (onClick)="unlinkParentTask()"
                                                 *ngIf="!!currentTask?.parent"
                                                 icon="link_off"
                                                 model="danger"
                                                 pTooltip="Отсоединить задачу"
                                                 tooltipPosition="bottom"></app-tiny-button>
                            </div>
                            <div *ngIf="isTaskHasChilds()" class="flexed gap5 caption size-small f-color-500">
                                <span>Дочерние:</span>
                                <div class="flexed column gap3">
                                    <span *ngFor="let taskCld of currentTask?.children" class="flexed gap3 hcenter">
                                        <app-task-link  [taskId]="taskCld.taskId"></app-task-link>
                                        <app-tiny-button (onClick)="unlinkParentTask(taskCld.taskId)" icon="link_off"
                                                         model="danger" pTooltip="Отсоединить задачу"
                                                         tooltipPosition="bottom"></app-tiny-button>
                                    </span>
                                </div>
                            </div>
                        </span>
                        </div>
                    </div>
                </div>
                <div [hidden]="!journalVisible" class="flex flex-column gap-3 border-top-1 border-bluegray-100">
                    <div class="pt-3 px-4 text-bluegray-400 flex gap-3 align-items-center">
                        <span class="text-xl font-semibold">
                            Комментарии
                        </span>
                        <p-dropdown [(ngModel)]="taskJournalSorting" [options]="taskJournalSortingOptions"></p-dropdown>
                        <p-toggleButton [(ngModel)]="taskEventsVisible" offIcon="mdi-visibility_off"
                                        offLabel="Cобытия" onIcon="mdi-visibility"
                                        onLabel="Cобытия"></p-toggleButton>
                    </div>
                    <div @fadeIn class="flex flex-column px-3" [formGroup]="commentInputForm">
                        <div *ngIf="replyComment" class="flex align-items-center gap-3 p-3
                         border-top-1 border-left-1 border-right-1 border-bluegray-100 border-round-top">
                            <i class="mdi-reply text-primary"></i>
                            <div class="flex align-items-center gap-3">
                                <app-employee-label [employee]="replyComment.creator" [size]="2"></app-employee-label>
                                <div class="caption">
                                    {{replyComment.simpleText}}
                                </div>
                            </div>
                            <div class="stretched">
                            </div>
                            <p-button (onClick)="replyComment = undefined" [disabled]="commentInputForm.disabled"
                                      icon="mdi-cancel" styleClass="p-button-icon p-button-text"></p-button>
                        </div>
                        <div *ngIf="editComment" class="flex align-items-center gap-3 p-3
                         border-top-1 border-left-1 border-right-1 border-bluegray-100 border-round-top">
                            <i class="mdi-edit text-primary"></i>
                            <div class="flex align-items-center gap-3">
                                <span>Редактирование</span>
                                <div class="caption">
                                    {{editComment.simpleText}}
                                </div>
                            </div>
                            <div class="stretched">
                            </div>
                            <p-button (onClick)="editComment = undefined; commentInputForm.reset({text: '', files: []})"
                                      [disabled]="commentInputForm.disabled" icon="mdi-cancel"
                                      styleClass="p-button-icon p-button-text"></p-button>
                        </div>
                        <quill-editor #commentEditor (keydown)="sendCommentByEnter($event)"
                                      (onContentChanged)="empInsertPanel.setQuillEvent($event)"
                                      (paste)="pasteFiles($event)" [disabled]="isTaskClose()"
                                      [formats]="quillFormats"
                                      [modules]="quillModules"
                                      class="flex flex-column"
                                      formControlName="text"
                                      placeholder="Новый комментарий..."></quill-editor>
                        <span class="flex gap-2 mt-2">
                            <p-button (onClick)="sendComment()" [disabled]="commentInputForm.disabled"
                                      icon="mdi-send" label="Отправить"></p-button>
                            <app-file-input #fileInput *ngIf="!editComment" formControlName="files"></app-file-input>
                        </span>
                    </div>
                    <div class="flex px-4 py-3 border-top-1 border-bluegray-100">
                        <app-task-journal (editCommentChange)="editCommentChanged($event)" (replyCommentChange)="replyCommentChanged($event)"
                                          (onFirstLoad)="journalVisible = $event" [(editComment)]="editComment"
                                          [(replyComment)]="replyComment" [showEvents]="taskEventsVisible"
                                          [sortingType]="taskJournalSorting"
                                          [taskId]="taskId"></app-task-journal>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<app-attachments-history-dialog [(show)]="showFilesHistory" [taskId]="taskId"></app-attachments-history-dialog>

<app-appoint-installers-dialog [(visible)]="showAppointInstallersMenu"
                               [taskId]="taskId"></app-appoint-installers-dialog>

<!--Диалог назначения наблюдателей-->
<p-dialog [(visible)]="showChangeObserversDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '50vw'}" header="Изменить ответственных">
    <p-tabView>
        <p-tabPanel header="Отделы">
            <div [style.max-height]="'50vh'" class="list-view">
                <div *ngFor="let dep of departmentList" class="list-view-item bordered flexed hcenter gap10">
                    <p-checkbox [(ngModel)]="selectedDepartmentObservers" [value]="dep.departmentId"
                                name="dep"></p-checkbox>
                    <span appColorize class="caption">{{dep.name}}</span>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Сотрудники">
            <div [style.max-height]="'50vh'" class="list-view">
                <div *ngFor="let emp of employeeList" class="list-view-item bordered flexed hcenter gap10">
                    <p-checkbox [(ngModel)]="selectedEmployeeObservers" [value]="emp.login" name="emp"></p-checkbox>
                    <app-employee-label [employee]="emp" [size]="2.3"></app-employee-label>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="flexed gap10 hcenter vend">
        <app-button (onClick)="updateObservableList()" icon="cancel" label="Сбросить"
                    model="p-button-text p-button-secondary"></app-button>
        <app-button (onClick)="sendObservableList()" [loading]="changingTaskObservers" icon="assignment"
                    label="Назначить"
                    model="p-button-success"></app-button>
    </div>
</p-dialog>

<!--Диалог назначения ответственного-->
<p-dialog [(visible)]="showChangeResponsibleDialog" [breakpoints]="{'960px': '50vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '35rem', height: '50vh'}" header="Изменить ответственного">
    <div class="flexed column gap10 full-height">
        <div class="list-view stretched p5 gap5">
            <div (click)="selectedEmployeeAsResponsible = emp" *ngFor="let emp of employeeList"
                 [ngClass]="{selected:selectedEmployeeAsResponsible?.login === emp.login}"
                 class="list-view-item hovered bordered flexed hcenter gap10">
                <app-avatar [name]="emp.fullName" [size]="2.3" [src]="emp.avatar"></app-avatar>
                <div class="flexed column">
                    <span class="caption">{{emp.fullName}}</span>
                    <span class="caption size-small wt-bold f-color-500">{{emp.department?.name}}</span>
                </div>
                <span *ngIf="selectedEmployeeAsResponsible?.login === emp.login"
                      class="caption size-small wt-bold f-color-primary">(Выбран)</span>
            </div>
        </div>
        <div class="flexed vend hcenter gap10">
            <app-button (onClick)="changeResponsible()" [disabled]="!selectedEmployeeAsResponsible"
                        [loading]="selectingResponsible" icon="check" label="Изменить"></app-button>
        </div>
    </div>
</p-dialog>

<!--Диалог присвоения задачи-->
<app-task-selecting-dialog #taskLinkingDialog (onMultiplySelected)="linkToChildTasks($event)"
                           (onSelected)="linkToParentTask($event)"
                           [excludedTasks]="excludedTasks" header="Связать задачи"
></app-task-selecting-dialog>

<!--Диалог просмотра цепочки задач-->
<p-dialog [(visible)]="showTaskChainDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="false" [maximizable]="true" [modal]="true" [resizable]="false"
          [style]="{width: '60vw'}" header="Цепочка задач">
    <div [style]="{overflow:'auto',minHeight:'100%'}" appDragScrolling>
        <p-organizationChart [value]="taskChain">
            <ng-template let-node pTemplate="task">
                <app-task-list-element [item]="node.data"
                                       [style]="{maxWidth:'45rem',minWidth:'35rem'}"></app-task-list-element>
            </ng-template>
        </p-organizationChart>
    </div>
</p-dialog>

<!--Диалог редактирования информации в задаче-->
<app-edit-task-dialog [(visible)]="isShowEditTaskDialog" [task]="currentTask"></app-edit-task-dialog>

<!--Диалог просмотра истории редактирования информации в задаче-->
<p-dialog [(visible)]="isShowEditHistoryDialog" [breakpoints]="{'960px': '85vw', '640px': '100vw'}"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '75vw', maxHeight: '70vh'}" header="История редактирования задачи">
    <div class="flexed column gap10">
        <div class="flexed hcenter vcenter gap20 p5">
            <app-button (onClick)="changeCurrentSnapshot(-1)" icon="chevron_left" label="Предыдущий"
                        model="p-button-text"></app-button>
            <div *ngIf="editTaskSnapshots?.length" class="flexed column hcenter vcenter gap5">
                <span class="flexed hcenter gap3">
                    Время:
                    <span class="caption size-small">
                        {{editTaskSnapshots[indexEditSnapshot].whenEdited | date: 'dd MMMM yyyy HH:mm'}}
                    </span>
                </span>
                <span class="flexed hcenter gap6">
                    Редактор:
                    <app-employee-label
                            [employee]="editTaskSnapshots[indexEditSnapshot].whoEdited"></app-employee-label>
                </span>
                <span class="caption size-small">
                    Снимок {{indexEditSnapshot + 1}} из {{editTaskSnapshots.length}}
                </span>
            </div>
            <app-button (onClick)="changeCurrentSnapshot(1)" icon="chevron_right" iconPos="right" label="Следующий"
                        model="p-button-text"></app-button>
        </div>
        <table class="change-comparison-table">
            <thead>
            <tr>
                <th>
                    <span class="one-line">
                        Название поля
                    </span>
                </th>
                <th>
                    <span class="one-line">
                        Значение до
                    </span>
                </th>
                <th>
                </th>
                <th>
                    <span class="one-line">
                        Значение после
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fieldPair of snapshotFieldPairs(editTaskSnapshots[indexEditSnapshot]); trackBy: trackSnapshotPair">
                <td>
                        <span class="caption size-big one-line">
                            {{fieldPair.before.name}}
                        </span>
                </td>
                <td>
                    {{fieldPair.before.textRepresentation}}
                </td>
                <td>
                    <span *ngIf="!areFieldsEqual(fieldPair.before,fieldPair.after)"
                          class="material-icons-round caption size-small wt-bold f-color-primary">keyboard_double_arrow_right</span>
                </td>
                <td>
                    {{fieldPair.after.textRepresentation}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</p-dialog>

<app-task-scheduling-dialog [(visible)]="schedulingTaskDialogVisible" [schedulingType]="schedulingTaskType"
                            [taskId]="taskId"></app-task-scheduling-dialog>

<app-force-close-dialog [(visible)]="forceCloseWorkLogDialogVisible" [taskId]="taskId"></app-force-close-dialog>

<app-work-logs-dialog #workLogsDialogEl></app-work-logs-dialog>

<p-menu #stageMenu [model]="stageMenuItems" [popup]="true" appendTo="body"></p-menu>

<p-confirmPopup key="popup"></p-confirmPopup>

<app-employee-insert-panel #empInsertPanel (onReturnFocus)="forceFocusCommentInput()"
                           (onSelect)="insertEmployeeToCommentEditor($event)"></app-employee-insert-panel>

<ng-template #actualFromLabel>
    <div [pTooltip]="(currentTask?.actualFrom | date:'dd MMMM yyyy HH:mm')??''"
         [style.color]="'#f7ce2a'" class="flexed gap3 caption hcenter p10" tooltipPosition="bottom">
        <i class="mdi-today parent-inherit"></i>
        <span>
            Запланирована через
        </span>
        <span>
            {{actualFromTime$ | async}}
        </span>
    </div>
</ng-template>

<ng-template #actualToLabel>
    <div [pTooltip]="(currentTask?.actualTo | date:'dd MMMM yyyy HH:mm')??''"
         [style.color]="'#ff512a'" class="flexed gap3 caption hcenter p10" tooltipPosition="bottom">
        <i class="mdi-today parent-inherit"></i>
        <span>
            Срок выполнения
        </span>
        <span>
            {{actualToTime$ | async}}
        </span>
    </div>
</ng-template>

<p-overlayPanel #oldTrackerPanel [dismissable]="true" appendTo="body">
    <div *ngIf="!!this.currentTask?.currentStage?.oldTrackerBind else oldTrackerBindWarningTemp"
         [formGroup]="oldTrackerBindInfoForm"
         class="flex flex-column gap-3">
        <div *ngIf="currentOldTrackerClass$ | async as currentOldTrackerClass" class="flex flex-column gap-1">
            <span class="text-bluegray-400 text-sm font-bold">Класс задач в старом трекере</span>
            <span class="text-primary">{{currentOldTrackerClass.name}}</span>
        </div>
        <div class="input-label-wrapper">
            <label>ID Задачи</label>
            <input [readonly]="isChangeOldTrackerBindDisabled" formControlName="id" pInputText pKeyFilter="pint"/>
            <span *ngIf="oldTrackerBindInfoForm.controls.id.errors" @fadeIn
                  class="text-red-400 text-xs font-bold w-15rem">
                {{oldTrackerBindInfoForm.controls.id.errors['error']}}
            </span>
        </div>
        <p-button (onClick)="bindTaskToTask()"
                  *ngIf="oldTrackerBindInfoForm.controls.id.dirty && oldTrackerBindInfoForm.value.id && !isChangeOldTrackerBindDisabled"
                  @fadeIn
                  [disabled]="oldTrackerBindInfoForm.controls.id.invalid || oldTrackerBindInfoForm.controls.id.pending"
                  [loading]="isTaskInConnectionProcess"
                  icon="mdi-add_link"
                  label="Привязать" styleClass="p-button-success w-full"></p-button>
        <div class="input-label-wrapper">
            <label>Этап задачи</label>
            <p-dropdown [options]="(oldTrackerStageOptions$ | async) ?? []" appendTo="body"
                        formControlName="taskStageId"
                        optionLabel="name" optionValue="id" placeholder="Выбрать"></p-dropdown>
        </div>
        <p-button (onClick)="changeTaskStageInOldTracker()"
                  *ngIf="oldTrackerBindInfoForm.controls.taskStageId.dirty && oldTrackerBindInfoForm.value.taskStageId && isChangeOldTrackerBindDisabled"
                  @fadeIn [loading]="isTaskInStageChangeProcess"
                  icon="mdi-redo"
                  label="Изменить этап" styleClass="p-button-success w-full"></p-button>
    </div>
</p-overlayPanel>

<ng-template #oldTrackerBindWarningTemp>
    <div class="flex gap-2 align-items-center text-orange-400 font-bold w-20rem">
        <span class="mdi-warning"></span>
        <span>
            Для синхронизации задачи со старым трекером нужно настроить привязку в шаблоне задачи
        </span>
    </div>
</ng-template>
