<div appExtendPageHeight class="flexed vcenter">
    <div class="responsive-wrapper flexed gap10">
    <app-main-menu-panel></app-main-menu-panel>
        <div class="flexed gap10 stretched">
            <ng-container *ngTemplateOutlet="taskList"></ng-container>
            <ng-container [formGroup]="filtersForm">
                <app-task-template-multi-selector formControlName="template"></app-task-template-multi-selector>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #taskList>
    <ng-container [ngSwitch]="status">
        <div class="flexed column stretched gap10" *ngSwitchCase="'ready'">
            <app-task-list-element [item]="item" *ngFor="let item of tasks; let i = index; trackBy: taskTrack"></app-task-list-element>
            <div [style]="{flex:'1', minHeight: '2rem'}"></div>
            <div class="sticky bottom0">
                <p-paginator #paginator (onPageChange)="changePage($event)" [alwaysShow]="false"
                             [rows]="PAGE_SIZE" [showCurrentPageReport]="true"
                             [totalRecords]="taskPage?.totalElements ?? 0"
                             currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} задач"
                             styleClass="panel"></p-paginator>
            </div>
        </div>
        <div class="flexed column stretched hcenter vcenter self-center" *ngSwitchCase="'loading'">
            <p-progressSpinner class="custom-spinner custom-spinner-8xl custom-spinner-primary" strokeWidth="1"></p-progressSpinner>
        </div>
        <div class="flexed column stretched hcenter vcenter self-center" *ngSwitchCase="'empty'">
            <span class="caption size-big wt-bold f-color-500 flexed column hcenter vcenter">
                <span class="mds-inbox"></span>
                <span>
                    Входящих задач нет
                </span>
            </span>
        </div>
    </ng-container>
</ng-template>
