:host:not(:last-child) {
  border-bottom: 1px solid var(--bgc-100);
}

:host {
  flex: 1;
}

.notification {
  display: grid;
  gap: .3rem;
  padding: .5rem;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: default;
  grid: repeat(3, min-content) / repeat(2, min-content);
  grid-template-areas: 'icon title title'
                        '. description description'
                        'timestamp timestamp timestamp';


  &:hover {
    opacity: 1;
  }

  &.unread {
    opacity: 1;

    .header {
      color: var(--mc-400);
    }
  ;
  }

  .icon {
    grid-area: icon;
  }

  .title {
    grid-area: title;
  }

  .description {
    grid-area: description;
    font-weight: 500;
    font-size: .9rem;
    color: var(--tc-700);
    white-space: pre-line;
  }

  .timestamp {
    grid-area: timestamp;
    font-size: .8rem;
    font-weight: bold;
    place-self: flex-end;
    color: var(--tc-300);
  }
}

.header {
  color: var(--tc-600);

  &.icon {
    font-size: 1.4rem;
  }

  &.title {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
