<span (click)="panelShowSubject.next(null)"
      (mouseenter)="panelShowSubject.next($event)"
      (mouseleave)="panelShowSubject.next(null)"
      [routerLink]="['/task', _taskId]"
      class="like-link">#{{_taskId}}</span>

<!--Панель для предварительного просмотра связанной задачи-->
<p-overlayPanel #previewConnectedTask appendTo="body" >
    <ng-template pTemplate="content">
        <ng-container *ngIf="(task$ | async) as task else loadingTemplate">
            <app-task-list-element [isHover]="false" [item]="task" [inlined]="true"
                                   [style]="{width:'40vw',minWidth:'min-content'}"></app-task-list-element>
        </ng-container>
    </ng-template>
</p-overlayPanel>

<ng-template #loadingTemplate>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
