<div pRipple (click)="workPanel.toggle($event)"
     class="bg-white text-primary border-circle shadow-3 p-3 flex relative cursor-pointer transition-colors transition-duration-150 hover:bg-primary hover:text-white">
    <span class="mds-work text-4xl"></span>
</div>
<p-overlayPanel #workPanel appendTo="body" [dismissable]="false" [showCloseIcon]="true" styleClass="overlay-panel-unpadding">
    <div class="p-4 surface-overlay shadow-2 border-round flex flex-column gap-3">
        <span class="text-bluegray-500 font-bold">Подтверждение завершения работ</span>
        <div class="flex flex-column overflow-y-auto overflow-x-hidden max-h-30rem w-fit overscroll-none" [style.max-width]="'60vw'">
            <ng-container *ngFor="let workLog of afterWorks">
                <ng-container *ngTemplateOutlet="workLogItemTemplate; context:{workLog}"></ng-container>
            </ng-container>
        </div>
    </div>
</p-overlayPanel>
<ng-container>
    <div *ngIf="afterWorks.length > 0" class="absolute flex justify-content-center bg-primary border-round-3xl p-2 line-height-1 text-xs font-semibold top-0 left-100 pointer-events-none"
         [style.translate]="'-100% -25%'" [style.min-width]="'1.8rem'">
        {{afterWorks.length}}
    </div>
</ng-container>

<ng-template #workLogItemTemplate let-workLog="workLog">
    <div class="flex align-items-center gap-1 terminated p-3">
        <div class="flex flex-column gap-2 w-min">
            <div class="flex justify-content-between align-items-center gap-3">
                <app-task-link [task]="workLog.task"></app-task-link>
                <app-avatar-list [employees]="workLog.employees"></app-avatar-list>
                <app-label label="Отдана/Завершена" styleClass="font-bold translate-x-0">
                    <div class="flex align-items-center gap-1 white-space-nowrap">
                        <span class="white-space-nowrap">{{workLog.created | date:'dd-MM-yyyy HH:mm'}}</span>
                        <span>-</span>
                        <span class="white-space-nowrap">{{workLog.closed | date:'dd-MM-yyyy HH:mm'}}</span>
                    </div>
                </app-label>
            </div>
            <div class="flex align-items-center gap-1 text-orange-400 font-bold" *ngIf="workLog.isForceClosed">
                <span class="mdi-warning"></span>
                <span>Завершена принудительно</span>
            </div>
            <app-label label="Завершена с отчетом" styleClass="font-bold translate-x-0">
                <span>{{workLog.report}}</span>
            </app-label>
        </div>
        <div class="flex-grow-1"></div>
        <div class="flex flex-column gap-3">
            <ng-container *ngIf="workLog.isForceClosed">
                <ng-container *ngTemplateOutlet="forceClosedButtonsTemplate; context:{workLog}"></ng-container>
            </ng-container>
            <ng-container *ngIf="!workLog.isForceClosed">
                <ng-container *ngTemplateOutlet="normalButtonsTemplate; context:{workLog}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #normalButtonsTemplate let-workLog="workLog">
    <p-button label="Отметить как завершенную" styleClass="p-button-sm" (onClick)="contractsOverlay.toggle($event); targetWorkLog = workLog"></p-button>
    <p-button label="Переоткрыть и перейти" styleClass="p-button-sm p-button-secondary p-button-outlined" (onClick)="afterWorkService.markAsUncompleted(workLog, true)"></p-button>
</ng-template>

<ng-template #forceClosedButtonsTemplate let-workLog="workLog">
    <p-button label="Отметить как незавершенную" styleClass="p-button-sm" (onClick)="afterWorkService.markAsUncompleted(workLog)"></p-button>
    <p-button label="Закрыть как завершенную" styleClass="p-button-sm p-button-warning p-button-outlined" (onClick)="contractsOverlay.toggle($event); targetWorkLog = workLog"></p-button>
    <p-button label="Закрыть как незавершенную" styleClass="p-button-sm p-button-secondary p-button-outlined" (onClick)="afterWorkService.closeAndMarkAsUncompleted(workLog)"></p-button>
</ng-template>

<p-overlayPanel #contractsOverlay [dismissable]="true" styleClass="flex flex-column gap-3" (onShow)="concludedContractsControl.reset([])">
    <div class="flex flex-column gap-4 max-w-30rem" (click)="$event.stopPropagation()">
        <span class="text-bluegray-500 text-lg font-semibold">Какие договоры должен сдать монтажник?</span>
        <div class="flex flex-column gap-2">
            <app-types-contracts-multi-selector [formControl]="concludedContractsControl" (onAfterChange)="contractsOverlay.overlayVisible && contractsOverlay.align()"></app-types-contracts-multi-selector>
            <div class="flex gap-3">
                <p-button label="Перечисленные" class="flex-grow-1" styleClass="p-button-success w-full"
                          [disabled]="concludedContractsControl.invalid"
                          (onClick)="markAsCompleted(contractsOverlay)"></p-button>
                <p-button label="Без договоров" class="flex-grow-1" styleClass="p-button-info w-full"
                          [disabled]="!concludedContractsControl.invalid"
                          (onClick)="markAsCompleted(contractsOverlay)"></p-button>
            </div>
        </div>
    </div>
</p-overlayPanel>
