<div appExtendPageHeight class="flex justify-content-center">
    <div class="responsive-wrapper" [style]="{display: 'grid', grid:'1fr / min-content 1fr'}">
        <app-main-menu-panel class="pt-1"></app-main-menu-panel>
        <div class="flex flex-column gap-3 flex-grow-1 p-3 pt-1 overflow-hidden">
            <div class="flex flex-column panel overflow-hidden">
                <div [formGroup]="cache.filtrationForm" class="flex gap-3 p-2">
                    <div class="p-inputgroup w-max">
                        <span class="p-inputgroup-addon"><i class="mdi-calendar_month"></i></span>
                        <p-calendar [readonlyInput]="true" appendTo="body" dateFormat="MM yy"
                                    formControlName="date" inputStyleClass="border-noround-left"
                                    view="month"></p-calendar>
                    </div>
                    <div *ngIf="cache.positions$|async as pos" class="flex gap-2 align-items-center">
                        <span class="caption wt-black f-color-500 size-small with-icon">
                            <i class="mdi-group"></i>
                            <span>Должность</span>
                        </span>
                        <p-dropdown [options]="pos" appendTo="body" formControlName="position"
                                    placeholder="Должность"></p-dropdown>
                    </div>
                    <div class="flex-grow-1"></div>
                    <p-toggleButton [formControl]="cache.ndflSwitch" offLabel="БЕЗ НДФЛ" onLabel="С НДФЛ"></p-toggleButton>
                </div>
                <ng-container *ngIf="cache.salaryTable$|async as salaryTable">
                    <ng-container *ngIf="cache.tableLoadingState==='READY'">
                        <p-table [columns]="salaryTable.headers" [value]="salaryTable.payload" [scrollable]="true" scrollHeight="50rem" scrollDirection="horizontal"
                                 styleClass="p-datatable-sm">
                            <ng-template let-columns pTemplate="header">
                                <tr>
                                    <th *ngFor="let name of columns; let i = index" class="caption size-tiny" pFrozenColumn [frozen]="i === 0 || i === columns.length-1" [alignFrozen]="i === columns.length-1 ? 'right' : ''">
                                        {{name}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template let-columns="columns" let-i="rowIndex" let-rowData pTemplate="body">
                                <tr>
                                    <td pFrozenColumn>
                                        <app-employee-label [employee]="salaryTable.employees[i]"></app-employee-label>
                                    </td>
                                    <td (click)="cache.selectDay(cell, i, colI)"
                                        *ngFor="let cell of rowData; let colI = index; trackBy: cache.trackByCell"
                                        [ngClass]="{'text-bluegray-200': cell.sumWithNDFL === 0, 'text-primary-400 bg-blue-50': cache.isSelected(i, colI) }"
                                        class="caption size-tiny f-inline cursor-pointer hover:text-primary-400">
                                        {{((cache.ndflValue$|async) ? cell.sumWithNDFL : cell.sumWithoutNDFL) | number: '1.0-2'}}
                                    </td>
                                    <td class="caption size-tiny" pFrozenColumn alignFrozen="right">
                                        {{(cache.ndflValue$|async) ? salaryTable.totalSum[i].sumWithNDFL : salaryTable.totalSum[i].sumWithoutNDFL}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="flexed gap5 vend caption size-big wt-tiny p10">
                            <span>Итог:</span>
                            <span>{{(cache.ndflValue$|async) ? salaryTable.totalSumAllEmployees.sumWithNDFL : salaryTable.totalSumAllEmployees.sumWithoutNDFL}}
                                руб.</span>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="cache.tableLoadingState!=='READY'" [ngSwitch]="cache.tableLoadingState">
                    <div *ngSwitchCase="'LOADING'" [style.width]="'64rem'"
                         class="flex align-items-center justify-content-center p-3">
                        <p-progressSpinner class="custom-spinner custom-spinner-8xl custom-spinner-primary" strokeWidth="1"></p-progressSpinner>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="cache.selectedDay$|async as selectedDay" class="flex flex-column panel p-3 gap-3">
                <div class="flex align-items-center gap-3">
                    <app-employee-label [employee]="selectedDay.employee"></app-employee-label>
                    <span class="caption text-sm text-bluegray-400">{{selectedDay.date | date: 'EEEE, dd MMMM yyyy' | titlecase}}</span>
                </div>
                <div class="flex flex-column gap-1">
                    <span class="text-bluegray-400 text-lg font-semibold">Подсчитанные работы</span>
                    <ng-container *ngIf="cache.workingDay$|async as workingDay">
                        <p-table *ngIf="cache.calculatedLoadingState === 'READY'"
                                 [value]="workingDay.calculations" dataKey="workCalculationId"
                                 styleClass="border-round-md border-1 border-bluegray-100 overflow-hidden">
                            <ng-template pTemplate="header">
                                <tr class="text-sm">
                                    <th>
                                    </th>
                                    <th>
                                        ИД
                                    </th>
                                    <th>
                                        Задача
                                    </th>
                                    <th>
                                        Отчёт
                                    </th>
                                    <th>
                                        Доля
                                    </th>
                                    <th>
                                        Считал
                                    </th>
                                    <th>
                                        Сумма
                                    </th>
                                    <th>
                                        Сумма без НДФЛ
                                    </th>
                                    <th>
                                        Пересчитать
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template let-expanded="expanded" let-rowData pTemplate="body">
                                <tr class="text-bluegray-500">
                                    <td>
                                        <button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                                [pRowToggler]="rowData" *ngIf="rowData.lastEdit"
                                                class="p-button-text p-button-rounded p-button-plain" pButton
                                                pRipple
                                                type="button"></button>
                                    </td>
                                    <td>
                                        {{rowData.workCalculationId}}
                                    </td>
                                    <td>
                                        <app-task-link [task]="rowData.workLog.task"></app-task-link>
                                    </td>
                                    <td>
                                        <span [style.max-width]="'20rem'" appTooltip class="text-max-lines-3 text-sm">
                                            {{cache.getReport(rowData.workLog.workReports, selectedDay.employee.login)}}
                                        </span>
                                    </td>
                                    <td>
                                        {{rowData.ratio * 100 | number:'1.2-2'}}%
                                    </td>
                                    <td>
                                        <app-employee-label
                                                [employee]="rowData.lastEdit ? rowData.lastEdit.employee : rowData.creator"></app-employee-label>
                                    </td>
                                    <td>
                                        {{rowData.sum | number: '1.0-2'}}руб.
                                    </td>
                                    <td>
                                        {{rowData.sumWithoutNDFL | number: '1.0-2'}}руб.
                                    </td>
                                    <td>
                                        <p-button [queryParams]="{'workLogId': rowData.workLog.workLogId}"
                                                  [routerLink]="['/salary','estimation']"
                                                  icon="mdi-edit"
                                                  styleClass="p-button-icon p-button-warning p-button-text"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-rowData>
                                <tr>
                                    <td colspan="9">
                                        <div class="flex flex-column">
                                            <div class="grid split-line py-3" *ngFor="let intervention of rowData.editedBy">
                                                <div class="col-10 gap-2 flex flex-column">
                                                    <div class="flex align-items-center font-bold text-bluegray-500">
                                                        <span class="mdi-autorenew"></span>
                                                        <span>Пересчитан</span>
                                                    </div>
                                                    <span class="text-sm text-primary-400 ml-3" [style.max-width]="'50rem'">{{intervention.description}}</span>
                                                </div>
                                                <div class="col-2">
                                                    <app-employee-label [employee]="intervention.employee"></app-employee-label>
                                                    <span class="text-xs text-bluegray-400 font-semibold">{{intervention.timestamp | date : 'EEEE, dd MMMM yyyy HH:mm' | titlecase}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    <div *ngIf="cache.calculatedLoadingState !== 'READY'"
                         class="flex align-items-center justify-content-center p-3 border-round-md border-1 border-bluegray-100 overflow-hidden">
                        <ng-container [ngSwitch]="cache.calculatedLoadingState">
                            <p-progressSpinner *ngSwitchCase="'LOADING'" class="custom-spinner custom-spinner-8xl custom-spinner-primary"
                                               strokeWidth="1"></p-progressSpinner>
                            <div *ngSwitchCase="'ERROR'"
                                 class="flex flex-column text-danger align-items-center text-xl">
                                <span class="mds-error"></span>
                                <span>Ошибка загрузки</span>
                            </div>
                            <div *ngSwitchCase="'EMPTY'"
                                 class="flex flex-column text-bluegray-400 align-items-center text-xl">
                                <span class="mds-error"></span>
                                <span>Нет данных</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
