:host{
  height: fit-content;
}

.select-all-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  cursor: pointer;
  border-radius: var(--br-100);
  background-color: transparent;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

  &:hover{
    color: var(--mc-400);
    background-color: var(--bgc-100);
  }

  &.disabled{
    opacity: .3;
    cursor: default;
    pointer-events: none;
  }
}

.template-selector {
  display: grid;
  grid: auto-flow / 1fr;
  //gap: .5rem;
  padding: .5rem;


  &-title {
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 500;
    color: var(--tc-700);
    gap: .4rem;
    padding: .4rem;
    margin: 0 .3rem .3rem .3rem;
    border-bottom: 1px solid var(--bgc-100);
  }

  &-message{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    user-select: none;
    border-radius: .5rem;
    transition: all .1s ease-in-out;
    color: var(--tc-700);

    i{
      padding: .5rem 0 .5rem .8rem;
      &:hover {
        color: var(--mc-400);
      }
    }

    span{
      padding: .5rem .8rem .5rem 0;
      flex: 1;
      &:hover {
        color: var(--mc-400);
      }
    }

    &.selected{
      color: var(--mc-500);
    }

    &.un-target{
      color: var(--tc-200);
    }

    &.disabled{
      opacity: .3;
      cursor: default;
      pointer-events: none;
    }

  }
}

.expand-button{
  //flexed hcenter gap3
  display: flex;
  align-items: center;
  gap: .3rem;
  padding: .3rem .5rem .3rem .7rem;
  border-top: 1px solid var(--bgc-100);
  //border-bottom: 1px solid var(--bgc-100);
  cursor: pointer;
  color: var(--tc-600);
  font-size: .85rem;
  margin: .3rem 0;
  transition: color 0.1s ease-in-out;
  user-select: none;

  &:hover{
    color: var(--mc-400);
  }

  &>i{
    transition: all 0.1s ease-in-out;
    transform-origin: 50% 40%;
    transform: rotate(180deg) translateY(-.2rem);
  }

  &.closed>i{
    transform: rotate(0deg) translateY(.1rem);
  }
}

.expand-list{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height .1s ease-in-out;
}
