<span *ngIf="!inline" class="flexed gap4 hcenter">
    <ng-container [ngSwitch]="loadStatus">
        <ng-container *ngSwitchCase="'ready'">
            <app-avatar *ngIf="showStatus" [deleted]="_employee?.deleted" [name]="_employee?.fullName ?? ''" [shape]="'circle'" [size]="size"
                        [src]="_employee?.avatar" [status]="_employee?.status"></app-avatar>
            <app-avatar *ngIf="!showStatus" [deleted]="_employee?.deleted" [name]="_employee?.fullName ?? ''" [shape]="'circle'" [size]="size"
                        [src]="_employee?.avatar"></app-avatar>
            <span class="caption size-small one-line">
                {{_employee?.fullName}}
            </span>
        </ng-container>
        <ng-container *ngSwitchCase="'loading'">
            <p-skeleton [shape]="'circle'" [size]="size+'rem'"></p-skeleton>
            <p-skeleton height=".8rem" width="8rem"></p-skeleton>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
            <span class="">Пользователь не найден</span>
        </ng-container>
        <ng-container *ngSwitchCase="'empty'">
        </ng-container>
    </ng-container>
</span>

<ng-container *ngIf="inline">
    <ng-container [ngSwitch]="loadStatus">
        <ng-container *ngSwitchCase="'ready'">
            <span class="like-link" (mouseenter)="showPreview($event)" (mouseleave)="hidePreview()">{{_employee?.fullName}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'loading'">
            <p-skeleton [style.display]="'inline-block'" height=".8rem" width="5rem"></p-skeleton>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
            <span class="">Пользователь не найден</span>
        </ng-container>
        <ng-container *ngSwitchCase="'empty'">
        </ng-container>
    </ng-container>
</ng-container>

<!--Панель для предварительного просмотра карточки сотрудника в inline режиме-->
<p-overlayPanel #preview appendTo="body" showTransitionOptions="0ms" hideTransitionOptions="0ms">
    <ng-template pTemplate="content">
        <div class="employee-preview">
            <app-avatar class="avatar" [size]="6" shape="square" [deleted]="_employee?.deleted"
                        [src]="_employee?.avatar" [name]="_employee?.fullName ?? ''" [status]="_employee?.status"></app-avatar>
            <div class="name caption size-big">
                {{_employee?.fullName}}
            </div>
            <div class="status">
                <span *ngIf="status" class="caption size-small wt-bold f-color-500" [style]="statusStyle">{{status}}</span>
                <span class="caption size-small" *ngIf="_employee?.deleted">(удален)</span>
            </div>
            <div class="department caption size-small f-color-500">{{_employee?.department?.name}}</div>
            <div class="position caption size-small f-color-500">{{_employee?.position?.name}}</div>
        </div>
    </ng-template>
</p-overlayPanel>
