<div class="flex flex-column flex-grow-1">
    <ng-container *ngIf="!selectedWorkLog">
        <ng-container *ngTemplateOutlet="uncalculatedListTemp"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedWorkLog">
        <ng-container *ngTemplateOutlet="selectedWorkTemp"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedWorkLog">
        <div class="flexed column gap15 stretched p20">
            <ng-container *ngIf="worksPickerForm$ | async as pickerValue">
                <div class="flexed gap10 hcenter spbtw">
                            <span class="caption size-huge">
                                Распределение по сотрудникам
                            </span>
                    <p-button (onClick)="sumDistr?.equalize()" icon="mdi-equalizer" label="Равные доли"
                              styleClass="p-button-text p-button-secondary"></p-button>
                </div>
                <app-employee-sum-distribution #sumDistr (onRemoveFactorAction)="onRemoveFactorAction($event)"
                                               [actionPicker]="worksPickerForm$"
                                               [employees]="selectedWorkLog.employees"
                                               [formControl]="employeeRatioForm"></app-employee-sum-distribution>
            </ng-container>
            <div class="flex gap-3 align-items-center align-self-end">
                <div class="flex gap-2 align-items-center" [formGroup]="paidWorkForm">
                    <span class="text-sm text-bluegray-400 font-bold white-space-nowrap">Платная работа</span>
                    <p-inputSwitch class="line-height-0" formControlName="isPaidWork"></p-inputSwitch>
                    <p-inputNumber formControlName="amountOfMoneyTaken" class="touched-error" *ngIf="paidWorkForm.value.isPaidWork"
                                   placeholder="Сумма" mode="currency" currency="RUB"></p-inputNumber>
                </div>
                <ng-container *ngIf="recalculate$ | async as recalculate">
                    <p-button (onClick)="sendCalculation()" *ngIf="recalculate === 'CALCULATE'" [loading]="isSendingCalculation"
                              icon="mdi-currency_exchange" label="Рассчитать"></p-button>
                    <p-button (onClick)="openRecalculationConformationDialog()" *ngIf="recalculate === 'RECALCULATE'" [loading]="isSendingCalculation"
                              icon="mdi-currency_exchange" label="Пересчитать"></p-button>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #uncalculatedListTemp>
    <div class="flex align-items-center px-5 py-4 border-bottom-1 border-bluegray-100">
        <span class="text-2xl text-bluegray-500 font-semibold">
            Список не посчитанных работ
        </span>
    </div>
    <p-table [value]="uncalculatedWorkLogs" dataKey="workLogId" [loading]="loadingState === 'LOADING'">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Задача</th>
                <th>Админ</th>
                <th>Монтажники</th>
                <th>Назначена</th>
                <th>Завершена</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workLog>
            <tr (click)="!workLog.isReportsUncompleted && selectWork(workLog)"
                [pTooltip]="workLog.isReportsUncompleted ? getUncompletedMessage(workLog) : ''"
                tooltipPosition="bottom"
                [ngClass]="workLog.isReportsUncompleted ? 'opacity-50' : 'cursor-pointer hover:bg-bluegray-50'">
                <td>{{workLog.workLogId}}</td>
                <td><app-task-link [task]="workLog.task"></app-task-link></td>
                <td><app-employee-label [employee]="workLog.creator"></app-employee-label></td>
                <td>
                    <div class="flex flex-wrap gap-2">
                        <app-employee-label *ngFor="let employee of workLog.employees" [employee]="employee"></app-employee-label>
                    </div>
                </td>
                <td>{{workLog.created | date:"EEEE, dd MMMM yyyy HH:mm" | titlecase}}</td>
                <td>{{workLog.closed | date:"EEEE, dd MMMM yyyy HH:mm" | titlecase}}</td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>

<ng-template #selectedWorkTemp>
    <div class="flex align-items-center px-5 py-4 gap-3 border-bottom-1 border-bluegray-100">
        <p-button (onClick)="unselectWork()" [disabled]="isSendingCalculation" icon="mdi-arrow_back"
                  styleClass="p-button-text p-button-icon"></p-button>
        <span class="text-2xl text-bluegray-500 font-semibold">
            Работа по задаче #{{selectedWorkLog?.task?.taskId}}
        </span>
        <span *ngIf="selectedWorkLog?.isForceClosed" class="caption f-color-danger wt-bold size-big">(Принудительно закрыта)</span>
    </div>
    <div class="flexed column p-sides-20 gap10">
        <app-task-fields-table-view [task]="selectedWorkLog?.task" [isTaskBody]="false"></app-task-fields-table-view>
        <div class="flexed column gap3">
            <div *ngIf="selectedWorkLog?.targetDescription" class="caption f-color-700 size-big with-icon">
                <span class="mdi-radar"></span>
                <span>
                Цель
            </span>
            </div>
            <div *ngIf="selectedWorkLog?.targetDescription" class="flexed column p-sides-20">
                {{selectedWorkLog?.targetDescription}}
            </div>
        </div>
        <div class="flexed column gap3">
            <div class="caption f-color-700 size-big with-icon">
                <span class="mdi-feed"></span>
                <span>
                    {{selectedWorkLog?.isForceClosed ? 'Причина закрытия' : 'Отчет'}}
                </span>
            </div>
            <div class="caption prewrap p-sides-20">
                {{selectedWorkLog?.report}}
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <app-label label="Назначил монтажников" styleClass="translate-x-0">
                <app-employee-label [employee]="selectedWorkLog?.creator"></app-employee-label>
            </app-label>
            <app-label label="Время выполнения" styleClass="translate-x-0">
                <app-duration [short]="false" [ms]="selectedWorkLog?.leadTime"></app-duration>
            </app-label>
        </div>
        <div class="terminator-bottom"></div>
        <app-works-picker [employees]="selectedWorkLog?.employees" [formControl]="worksPickerForm"
                          class="mb-4"></app-works-picker>
    </div>
</ng-template>

<!--Диалог подтверждения пустого расчета работы-->
<p-dialog [(visible)]="emptyCalculationConformationDialogVisible"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '50vw', minWidth: 'fit-content'}"
          header="Отправить пустой расчет?">
    <ng-template pTemplate="content">
        <div class="flexed column gap10">
            <div class="input-label-wrapper">
                <label>Причина пустого расчета работы</label>
                <textarea [(ngModel)]="emptyCalculationDescription" [autoResize]="true" [rows]="5" class="stretched"
                          pInputTextarea></textarea>
            </div>
            <div class="flexed hcenter vend gap10">
                <p-button (onClick)="emptyCalculationConformationDialogVisible = false; emptyCalculationDescription=''"
                          [disabled]="isSendingCalculation"
                          icon="mdi-close"
                          label="Отменить"
                          styleClass="p-button-secondary p-button-text"></p-button>
                <p-button (onClick)="sendEmptyCalculation()" [disabled]="!emptyCalculationDescription"
                          [loading]="isSendingCalculation"
                          icon="mdi-check"
                          label="Отправить" styleClass="p-button-danger"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<!--Диалог подтверждения перерасчета работы-->
<p-dialog [(visible)]="recalculationConformationDialogVisible"
          [dismissableMask]="true" [draggable]="false" [modal]="true" [resizable]="false"
          [style]="{width: '50vw', minWidth: 'fit-content'}"
          header="Причина пересчета работ?">
    <ng-template pTemplate="content">
        <div class="flexed column gap10">
            <div class="input-label-wrapper">
                <label>Причина пересчета работы</label>
                <textarea [(ngModel)]="recalculationDescription" [autoResize]="true" [rows]="5" class="stretched"
                          pInputTextarea></textarea>
            </div>
            <div class="flexed hcenter vend gap10">
                <p-button (onClick)="recalculationConformationDialogVisible = false; recalculationDescription=''"
                          [disabled]="isSendingCalculation"
                          icon="mdi-close"
                          label="Отменить"
                          styleClass="p-button-secondary p-button-text"></p-button>
                <p-button (onClick)="sendRecalculation()" [disabled]="!recalculationDescription"
                          [loading]="isSendingCalculation"
                          icon="mdi-check"
                          label="Отправить" styleClass="p-button-success"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>
