<div class="sticky z-5 top-0 h-screen flex flex-column bg-white border-right-1 border-bluegray-100 shadow-1 overflow-hidden">
    <div class="flex flex-column p-3 gap-3">
        <div *ngIf="menuService.currentUser$ | async as user" class="flex gap-2 align-items-center">
            <app-avatar [name]="user.fullName" [size]="2.2" [src]="user.avatar" shape="square"></app-avatar>
            <div class="flex-grow-1 white-space-nowrap">{{ user.fullName }}</div>
            <button (click)="menu.toggle($event)" class="p-button-secondary p-button-icon p-button-text w-fit" icon="mdi-more_vert"
                    pButton></button>
        </div>
        <button (click)="menuService.createTask()" class="p-button-success white-space-nowrap" icon="mdi-add_task" label="Новая задача"
                pButton></button>
    </div>
    <div class="flex flex-grow-1">
        <div class="flex flex-column" [ngClass]="(menuService.currentSubmenu$ | async) ? '': 'flex-grow-1'">
            <ng-container *ngFor="let item of menuService.menuModel">
                <app-extended-menu-item *ngIf="menuService.hasAccess(item)" [caption]="item.caption"
                                        [exact]="item.exactMatch ?? false" [icon]="item.icon" [link]="item.link"
                                        [onlyIcon]="!!(menuService.currentSubmenu$ | async)" [counter]="item.counterObserver"></app-extended-menu-item>
            </ng-container>
            <div class="flex-grow-1"></div>
            <div (click)="openNotificationSidebar($event)" [ngClass]="this.notificationsService.statusColorClass$ | async"
                 class="flex gap-2 align-items-center px-3 py-3 white-space-nowrap select-none outline-none
                        transition-colors transition-duration-150 text-xl cursor-pointer border-white">
                <span [ngClass]="this.notificationsService.statusIcon$ | async"></span>
                <span *ngIf="!(menuService.currentSubmenu$ | async)">Уведомления</span>
            </div>
        </div>
        <div *ngIf="menuService.currentSubmenu$ | async as currentSubmenu" class="flex flex-column flex-grow-1">
            <ng-container *ngFor="let item of currentSubmenu">
                <app-extended-menu-item *ngIf="menuService.hasAccess(item)" [caption]="item.caption" [exact]="item.exactMatch ?? false"
                                        [icon]="item.icon" [link]="item.link" [counter]="item.counterObserver"></app-extended-menu-item>
            </ng-container>
        </div>
    </div>
</div>

<p-menu #menu [alignFn]="menu.alignOverlay.bind(menu)" [baseZIndex]="2000" [isVisible]="menu.visible" [model]="menuService.userMenuOptions"
        [popup]="true" appCloseIfScroll appendTo="body"></p-menu>

<ng-template #buttonTemplate let-caption="caption" let-click="click" let-ext="ext" let-icon="icon"
             let-styleClass="styleClass">
    <div (click)="click"
         [ngClass]="'flex gap-2 align-items-center p-2 white-space-nowrap select-none outline-none transition-colors' +
          ' transition-duration-150 text-2xl justify-content-center cursor-pointer ' +
           (styleClass ? styleClass : 'text-bluegray-300 hover:bg-bluegray-50 hover:text-bluegray-500')"
    >
        <span [class]="icon"></span>
        <span *ngIf="ext">{{ caption }}</span>
    </div>
</ng-template>

<p-dialog [(visible)]="menuService.avatarChangeDialogVisible" [dismissableMask]="true" [draggable]="false" [modal]="true"
          [resizable]="false"
          appendTo="body" header="Изменить аватар">
    <div class="flex flex-column">
        <div class="flex gap-3 align-items-center justify-content-center p-2">
            <div class="flex gap-2 bg-bluegray-50 border-round-xl text-bluegray-500 align-items-center p-3 font-bold">
                <div *ngIf="!menuService.croppedImage"
                     class="w-6rem h-6rem border-circle fit-content object-fit-cover bg-bluegray-400 border-1
                 border-bluegray-500 text-white text-xl flex align-items-center justify-content-center"><i class="mdi-image"></i></div>
                <img *ngIf="menuService.croppedImage" [src]="menuService.croppedImage"
                     alt="" class="w-6rem h-6rem border-circle fit-content object-fit-cover"/>
                <span>
                    Предпросмотр
                </span>
            </div>
            <div class="flex flex-column gap-2">
                <p-button (onClick)="menuService.selectFile(fileInput)" [disabled]="menuService.avatarUpload" icon="mdi-image"
                          label="Выбрать"
                          styleClass="p-button-text p-button-secondary"></p-button>
                <p-button (onClick)="menuService.saveAvatar()" [disabled]="!menuService.croppedImage" [loading]="menuService.avatarUpload"
                          icon="mdi-upload" label="Сохранить"></p-button>
            </div>
            <input #fileInput (change)="menuService.imageChangedEvent = $event" [style.display]="'none'" accept="image/jpeg, image/png, image/jpg, image/bmp"
                   type="file"/>
        </div>
        <image-cropper
                (imageCropped)="menuService.imageCropped($event)"
                [aspectRatio]="1"
                [cropperMinHeight]="64"
                [cropperMinWidth]="64"
                [imageChangedEvent]="menuService.imageChangedEvent"
                [maintainAspectRatio]="true"
                [style]="{maxWidth: '40vw', minWidth: '15rem', height: 'fit-content'}"
                format="png"
        ></image-cropper>
    </div>
</p-dialog>

<p-dialog [(visible)]="menuService.phyPhoneSelectionDialogVisible" [dismissableMask]="true" [draggable]="true" [modal]="true"
          [resizable]="false"
          appendTo="body" contentStyleClass="flex gap-3 align-items-center pt-1" header="Привязать телефон">
    <ng-template pTemplate="content">
        <p-dropdown [disabled]="menuService.isPhyPhoneIsBinding" [formControl]="menuService.phyPhoneControl"
                    [options]="(menuService.phones$ | async) ?? []"
                    appendTo="body"></p-dropdown>
        <p-button (onClick)="menuService.bindPhone()" [loading]="menuService.isPhyPhoneIsBinding"
                  label="Привязать"></p-button>
    </ng-template>
</p-dialog>

<p-sidebar [(visible)]="notificationSidebarVisible" position="left" appendTo="body" [showCloseIcon]="false"
           [blockScroll]="true" [style]="{width: '30vw'}" styleClass="p-sidebar-only-content"
           (onShow)="notificationsService.loadFirst(); notificationsService.sidebarOpenStatus = true"
           (onHide)="notificationsService.sidebarOpenStatus = false">
    <ng-template pTemplate="content">
        <div class="flex justify-content-end p-3" *ngIf="notificationsService.unreadNum as unreadNum">
            <p-button label="Прочитать" icon="mdi-done_all"
                      [loading]="notificationsService.readingNotifications"
                      (onClick)="notificationsService.readAll()" [badge]="unreadNum.toString()"></p-button>
        </div>
        <div class="flex flex-column flex-grow-1 overflow-y-auto" appScrollToBottomEmitter (onScrollToBottom)="notificationsService.loadNext()">
            <ng-container *ngIf="notificationsService.notifications as notifications">
                <app-notification-item *ngFor="let notify of notifications" appObserveVisibility
                                       [notification]="notify" (visible)="notificationsService.inView(notify)"></app-notification-item>
            </ng-container>
            <ng-container *ngIf="notificationsService.loadingNotifications" [ngTemplateOutlet]="notificationSkeletonTemplate"></ng-container>
        </div>
        <div class="flex flex-wrap align-items-center gap-2 p-3" [formGroup]="notificationsService.notificationSettingsForm">
            <p-toggleButton onLabel="Отключены" offLabel="Включены"
                    onIcon="mdi-notifications_off" offIcon="mdi-notifications" formControlName="muted"></p-toggleButton>
            <p-multiSelect appendTo="body" [options]="(notificationsService.notificationTypes$ | async) ?? []"
                           formControlName="passedTypes" selectedItemsLabel="{0} типов уведомлений"></p-multiSelect>
            <p-progressSpinner *ngIf="notificationsService.savingNotificationSettings" styleClass="w-2rem h-2rem"></p-progressSpinner>
        </div>
    </ng-template>
</p-sidebar>

<ng-template #notificationSkeletonTemplate>
    <div class="flex flex-column gap-1 p-2">
        <div class="flex align-items-center gap-2 text-bluegray-400 text-sm font-bold">
            <p-skeleton width="0.875rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="7rem" height="0.875rem"></p-skeleton>
            <div class="flex-grow-1"></div>
            <p-skeleton width="4rem" height="0.875rem"></p-skeleton>
        </div>
        <div class="flex flex-column gap-1">
            <p-skeleton width="17rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="14rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="9rem" height="0.875rem"></p-skeleton>
        </div>
    </div>
    <div class="flex flex-column gap-1 p-2">
        <div class="flex align-items-center gap-2 text-bluegray-400 text-sm font-bold">
            <p-skeleton width="0.875rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="7rem" height="0.875rem"></p-skeleton>
            <div class="flex-grow-1"></div>
            <p-skeleton width="4rem" height="0.875rem"></p-skeleton>
        </div>
        <div class="flex flex-column gap-1">
            <p-skeleton width="15rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="9rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="13rem" height="0.875rem"></p-skeleton>
        </div>
    </div>
    <div class="flex flex-column gap-1 p-2">
        <div class="flex align-items-center gap-2 text-bluegray-400 text-sm font-bold">
            <p-skeleton width="0.875rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="7rem" height="0.875rem"></p-skeleton>
            <div class="flex-grow-1"></div>
            <p-skeleton width="4rem" height="0.875rem"></p-skeleton>
        </div>
        <div class="flex flex-column gap-1">
            <p-skeleton width="18rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="12rem" height="0.875rem"></p-skeleton>
            <p-skeleton width="15rem" height="0.875rem"></p-skeleton>
        </div>
    </div>
</ng-template>
