<div class="menu-panel">
    <ng-container [ngSwitch]="category">
        <ng-container *ngSwitchCase="'main'">
            <ng-container *ngTemplateOutlet="main"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'tasks'">
            <ng-container *ngTemplateOutlet="tasks"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'salary'">
            <ng-container *ngTemplateOutlet="salary"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'addresses'">
            <ng-container *ngTemplateOutlet="addresses"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'system'">
            <ng-container *ngTemplateOutlet="system"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'clients'">
            <ng-container *ngTemplateOutlet="clients"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="main"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #main>
    <app-extended-menu-item [link]="(lastCatalogRoute$ | async)??['/tasks','catalog']" caption="Задачи" icon="mdi-task"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/clients','billing','search']" caption="Абоненты" icon="mdi-group"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/addresses','list']" caption="Адреса" icon="mdi-home_work"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/commutators','list']" caption="Коммутаторы" icon="mdi-dns"></app-extended-menu-item>
<!--    <app-extended-menu-item caption="Склад" icon="mdi-warehouse"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/employees']" caption="Сотрудники" icon="mdi-account_circle"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','table']" caption="Зарплата" icon="mdi-currency_ruble"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/files']" caption="Файлы" icon="mdi-insert_drive_file"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','billing']" caption="Система" icon="mdi-settings"></app-extended-menu-item>
</ng-template>

<ng-template #tasks>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Задачи'}"></ng-container>
<!--    <app-extended-menu-item [link]="['/tasks','incoming']" caption="Входящие" icon="mdi-inbox" [badge]="(incomingCount$ | async)??''"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="(lastCatalogRoute$ | async)??['/tasks','catalog']" caption="Каталог" icon="mdi-inventory_2"></app-extended-menu-item>
<!--    <app-extended-menu-item [link]="['/tasks','list']" caption="Все задачи" icon="mdi-format_list_bulleted"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/tasks','calendar']" caption="Календарь" icon="mdi-calendar_month"></app-extended-menu-item>
<!--    <app-extended-menu-item [elements]="stagesMenuItems" [isExtended]="stageMenuExtended" [extendable]="true" caption="Доска"-->
<!--                            icon="mdi-checklist"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/tasks','templates']" caption="Теги/Шаблоны" icon="mdi-ballot"></app-extended-menu-item>
</ng-template>

<ng-template #salary>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Зарплата'}"></ng-container>
    <app-extended-menu-item [link]="['/salary','table']" caption="Зарплатная таблица" icon="mdi-table_chart"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','estimation']" [exact]="true" caption="Подсчет работ" icon="mdi-exposure_plus_2"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','estimation','bypass']" caption="Подсчет работ (альт.)" icon="mdi-auto_awesome"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','works']" caption="Список работ" icon="mdi-construction"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','paid-actions']" caption="Платные действия" icon="mdi-toc"></app-extended-menu-item>
</ng-template>

<ng-template #clients>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Абоненты'}"></ng-container>
    <app-extended-menu-item [link]="['/clients','billing','search']" caption="Биллинг" icon="mdi-manage_accounts"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/clients','sessions']" caption="Сессии" icon="mdi-stream"></app-extended-menu-item>
</ng-template>

<ng-template #addresses>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Адреса'}"></ng-container>
    <app-extended-menu-item [link]="['/addresses','list']" caption="Список" icon="mdi-view_list"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/addresses','schemes']" caption="Схемы домов" icon="mdi-schema"></app-extended-menu-item>
</ng-template>

<ng-template #system>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Система'}"></ng-container>
    <app-extended-menu-item [link]="['/system','billing']" caption="Биллинг" icon="mdi-person_search"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','telegram']" caption="Telegram" icon="pi pi-telegram text-2xl"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','acp']" caption="ACP" icon="mdi-developer_board"></app-extended-menu-item>
</ng-template>

<ng-template #backButton let-name="name">
    <div>
        <div [routerLink]="['/']" class="back-button">
            <span class="material-icons-round parent-inherit">navigate_before</span>
            <span>{{name}}</span>
        </div>
        <hr [style.margin]="'.7rem 1rem 1rem 1rem'" class="h-divider">
    </div>
</ng-template>
