<div class="menu-panel">
    <ng-container [ngSwitch]="category">
        <ng-container *ngSwitchCase="'main'">
            <ng-container *ngTemplateOutlet="main"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'tasks'">
            <ng-container *ngTemplateOutlet="tasks"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'salary'">
            <ng-container *ngTemplateOutlet="salary"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'addresses'">
            <ng-container *ngTemplateOutlet="addresses"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'system'">
            <ng-container *ngTemplateOutlet="system"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'clients'">
            <ng-container *ngTemplateOutlet="clients"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'contracts'">
            <ng-container *ngTemplateOutlet="contracts"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="main"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #main>
    <app-extended-menu-item [link]="(lastCatalogRoute$ | async)??['/tasks','catalog']" caption="Задачи" icon="mdi-task"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/clients','billing','search']" caption="Абоненты" icon="mdi-group" *ngIf="personality.isHasAccess(AccessFlag.BILLING)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/addresses','list']" caption="Адреса" icon="mdi-home_work" *ngIf="personality.isHasAccess(AccessFlag.EDIT_ADDRESS_BOOK, AccessFlag.EDIT_HOUSE_ADDRESS_BOOK)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/commutators','list']" caption="Коммутаторы" icon="mdi-dns" *ngIf="personality.isHasAccess(AccessFlag.VIEW_SWITCH, AccessFlag.EDIT_SWITCH)"></app-extended-menu-item>
<!--    <app-extended-menu-item caption="Склад" icon="mdi-warehouse"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/employees']" caption="Сотрудники" icon="mdi-account_circle" *ngIf="personality.isHasAccess(AccessFlag.MANAGE_EMPLOYEES, AccessFlag.MANAGE_DEPARTMENTS, AccessFlag.MANAGE_POSITIONS)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','table']" caption="Зарплата" icon="mdi-currency_ruble" *ngIf="personality.isHasAccess(AccessFlag.COUNT_SALARY, AccessFlag.EDIT_PRICE)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/contracts','inspection']" caption="Договора" icon="mdi-description"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/files']" caption="Файлы" icon="mdi-insert_drive_file" *ngIf="personality.isHasAccess(AccessFlag.READ_WRITE_FILES)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','billing']" caption="Система" icon="mdi-settings" *ngIf="personality.isHasAccess(AccessFlag.MANAGE_SYSTEM_SETTINGS)"></app-extended-menu-item>
</ng-template>

<ng-template #tasks>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Задачи'}"></ng-container>
<!--    <app-extended-menu-item [link]="['/tasks','incoming']" caption="Входящие" icon="mdi-inbox" [badge]="(incomingCount$ | async)??''"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="(lastCatalogRoute$ | async)??['/tasks','catalog']" caption="Каталог" icon="mdi-inventory_2"></app-extended-menu-item>
<!--    <app-extended-menu-item [link]="['/tasks','list']" caption="Все задачи" icon="mdi-format_list_bulleted"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/tasks','calendar']" caption="Календарь" icon="mdi-calendar_month"></app-extended-menu-item>
<!--    <app-extended-menu-item [elements]="stagesMenuItems" [isExtended]="stageMenuExtended" [extendable]="true" caption="Доска"-->
<!--                            icon="mdi-checklist"></app-extended-menu-item>-->
    <app-extended-menu-item [link]="['/tasks','templates']" caption="Теги/Шаблоны" icon="mdi-ballot" *ngIf="personality.isHasAccess(AccessFlag.EDIT_TASK_TEMPLATES, AccessFlag.EDIT_TASK_TAGS, AccessFlag.EDIT_DEVICES)"></app-extended-menu-item>
</ng-template>

<ng-template #salary>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Зарплата'}"></ng-container>
    <app-extended-menu-item [link]="['/salary','table']" caption="Зарплатная таблица" icon="mdi-table_chart" *ngIf="personality.isHasAccess(AccessFlag.COUNT_SALARY)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','estimation']" [exact]="true" caption="Подсчет работ" icon="mdi-exposure_plus_2" *ngIf="personality.isHasAccess(AccessFlag.COUNT_SALARY)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','estimation','bypass']" caption="Подсчет работ (альт.)" icon="mdi-auto_awesome" *ngIf="personality.isHasAccess(AccessFlag.COUNT_SALARY)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','works']" caption="Список работ" icon="mdi-construction" *ngIf="personality.isHasAccess(AccessFlag.EDIT_PRICE)"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/salary','paid-actions']" caption="Платные действия" icon="mdi-toc" *ngIf="personality.isHasAccess(AccessFlag.EDIT_PRICE)"></app-extended-menu-item>
</ng-template>

<ng-template #clients>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Абоненты'}"></ng-container>
    <app-extended-menu-item [link]="['/clients','billing','search']" caption="Биллинг" icon="mdi-manage_accounts"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/clients','sessions']" caption="Сессии" icon="mdi-stream"></app-extended-menu-item>
</ng-template>

<ng-template #contracts>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Договора'}"></ng-container>
    <app-extended-menu-item [link]="['/contracts','inspection']" caption="Приемка" icon="mdi-verified"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/contracts','types']" caption="Типы договоров" icon="mdi-plagiarism"></app-extended-menu-item>
</ng-template>

<ng-template #addresses>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Адреса'}"></ng-container>
    <app-extended-menu-item [link]="['/addresses','list']" caption="Список" icon="mdi-view_list"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/addresses','schemes']" caption="Схемы домов" icon="mdi-schema"></app-extended-menu-item>
</ng-template>

<ng-template #system>
    <ng-container *ngTemplateOutlet="backButton; context:{name:'Система'}"></ng-container>
    <app-extended-menu-item [link]="['/system','billing']" caption="Биллинг" icon="mdi-person_search"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','telegram']" caption="Telegram" icon="pi pi-telegram text-2xl"></app-extended-menu-item>
    <app-extended-menu-item [link]="['/system','acp']" caption="ACP" icon="mdi-developer_board"></app-extended-menu-item>
</ng-template>

<ng-template #backButton let-name="name">
    <div>
        <div [routerLink]="['/']" class="back-button">
            <span class="mdi-navigate_before"></span>
            <span>{{name}}</span>
        </div>
        <div [style.margin]="'.7rem 1rem 1rem 1rem'" class="border-bottom-1 border-bluegray-100"></div>
    </div>
</ng-template>
