.blink_me {
  color: var(--bluegray-300);
  animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    color: var(--orange-500);
  }
}

.wrapper{
  overflow: hidden;
  transition: height 0.2s ease-out;
  border-radius: .5rem;
}

.title {
  padding: .7rem;
  font-size: 1.2rem;
  color: var(--tc-700);
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  outline: none;

  &.active{
    color: var(--mc-0);
    background-color: var(--mc-500);

    cursor: default;
  }
  &:not(.active):hover {
    color: var(--mc-500);
  }
  &:not(.active):active{
    color: var(--mc-500);
    background-color: var(--mc-0);
  }
  &-icon {
    font-size: 1.5rem;
  }
  &-expanded-icon{
    transition: transform 0.3s cubic-bezier(1.000, -0.600, 0.000, 1.650);
    &.rotated{
      transform: rotate(180deg);
    }
  }
}
