.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-panel {
    width: max-content;
    height: max-content;
    min-width: 27rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //justify-content: center;
    //align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: var(--shadow-200)
  }
}

.error-message{
  position: absolute;
  background-color: #f56262;
  color: white;
  border-radius: .5rem;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  bottom: 10%;
}
