:root {
  --bgc-000: #FFFFFF;
  --bgc-001: #fdfdff;
  --bgc-100: #F6F8FA;
  --bgc-200: #edf1f6;
  --bgc-300: #dfe5ec;
  --bgc-400: #c6cdd5;
  --bgc-500: #b8c0c9;
  --bgc-600: #646E78;
  --bgc-900: #3B4C5B;

  --tc-100: #EDEFF1;
  --tc-200: #CCD3D7;
  --tc-300: #AFBBC0;
  --tc-400: #96A6AC;
  --tc-500: #80939B;
  --tc-600: #6B8088;
  --tc-700: #5C6E75;
  --tc-800: #4F5F65;
  --tc-900: #445257;

  --mc-0: #F4F9FE;
  --mc-100: #C3DFFA;
  --mc-200: #97C7F7;
  --mc-300: #6FB2F4;
  --mc-400: #4C9FF1;
  --mc-500: #2C8EEF;
  --mc-600: #127DE7;
  --mc-700: #106ECB;
  --mc-800: #0E61B3;
  --mc-900: #0C559E;

  --scs-000: #FBFFFC;
  --scs-100: #CFFDDC;
  --scs-200: #A7FBBE;
  --scs-300: #83F9A3;
  --scs-400: #62F88A;
  --scs-500: #44F774;
  --scs-600: #26F65E;
  --scs-700: #0BF54A;
  --scs-800: #09DD42;
  --scs-900: #08C73B;


  --warm-100: #FFECDE;
  --warm-200: #FFC499;
  --warm-300: #FFA15E;
  --warm-400: #FF842B;
  --warm-500: #FF6B00;
  --warm-600: #D45900;
  --warm-700: #B04A00;
  --warm-800: #923D00;
  --warm-900: #793300;

  --danger-100: #fef2f2;
  --danger-200: #fcd9d9;
  --danger-300: #fbb3b3;
  --danger-400: #f99a9a;
  --danger-500: #f87171;
  --danger-600: #f75555;
  --danger-700: #f63a3a;
  --danger-800: #f5222d;
  --danger-900: #f40a0a;

  --fast-in: cubic-bezier(.05, .72, .38, .91);

  --top-panel-height: 6.15rem;

  --shadow-0: 0px 0px 0.2px rgba(0, 0, 0, 0.024),
  0px 0px 0.6px rgba(0, 0, 0, 0.035),
  0px 0px 1.5px rgba(0, 0, 0, 0.046),
  0px 0px 5px rgba(0, 0, 0, 0.07);
  --shadow-100: 0px 0px 0.3px rgba(0, 0, 0, 0.024),
  0px 0px 0.9px rgba(0, 0, 0, 0.035),
  0px 0px 2.1px rgba(0, 0, 0, 0.046),
  0px 0px 7px rgba(0, 0, 0, 0.07);
  --shadow-200: 0px 0.3px 0.7px rgba(0, 0, 0, 0.024),
  0px 0.8px 1.9px rgba(0, 0, 0, 0.035),
  0px 1.8px 4.5px rgba(0, 0, 0, 0.046),
  0px 6px 15px rgba(0, 0, 0, 0.07);

  --br-0: 0px;
  --br-100: 0.25rem;
  --br-200: 0.5rem;
  --br-300: 0.75rem;
  --br-400: 1rem;
  --br-500: 1.5rem;
  --br-600: 2rem;
  --br-700: 2.5rem;
  --br-800: 3rem;
  --br-900: 100%;
}

html:not(.whited), body:not(.whited) {
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--bgc-001) !important;
  font-size: 13px !important;
  font-family: var(--font-family) !important;
  color: var(--tc-700) !important;
  //line-height: 1 !important;
  //overflow-x: hidden;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.p-button {
  & > .p-button-label {
    transform: translateY(3%);
  }

  & > .p-button-icon {
    line-height: 0 !important;
    font-size: 1.3em;

    &.p-button-icon-left {
      margin-right: 0.2rem;
    }

    &.p-button-icon-right {
      margin-left: 0.2rem;
    }
  }
}

.p-button.b-stretched {
  width: 100%;
  justify-content: center;

  .p-button-label {
    flex: 0;
  }
}

.sticky {
  position: sticky;
  //top: 1rem;
  //align-self: flex-start;
  &.top {
    &0 {
      top: 0;
    }

    &1 {
      top: 1rem;
    }
  }

  &.bottom {
    &0 {
      bottom: 0;
    }

    &1 {
      bottom: 1rem;
    }
  }
}

.back-blured {
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(8px);
}

.indent {
  &05 {
    padding-left: .5rem;
  }

  &1 {
    padding-left: 1rem;
  }

  &2 {
    padding-left: 2rem;
  }
}

* {
  line-height: 1 !important;
}

.center-of {
  &-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.like-link {
  color: var(--mc-500);
  cursor: pointer;
  transition: color .2s ease-out;

  &:hover {
    color: var(--mc-600);
  }
}

.ur-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transform-origin: center;
  transform: translate(25%, -25%);
  font-size: .85rem;
  pointer-events: none;
}

.line-height-0{
  line-height: 0 !important;
}

.flexed {
  display: flex;

  &.inline {
    display: inline-flex;
  }

  &.wrapped {
    flex-wrap: wrap;
  }

  &.column {
    flex-direction: column;

    &.hcenter {
      justify-items: center;
    }

    &.vcenter {
      align-items: center;
    }

    &.vend {
      align-items: flex-end;
    }

    &.hend {
      justify-items: flex-end;
    }

    &.vstart {
      align-items: flex-start;
    }

    &.hstart {
      justify-items: flex-start;
    }

    &.speven {
      justify-content: space-evenly;
    }

    &.spbtw {
      justify-content: space-between;
    }

    &.sparnd {
      justify-content: space-around;
    }
  }

  &:not(.column).bline {
    align-items: baseline;
  }

  &:not(.column).hcenter {
    align-items: center;
  }

  &:not(.column).vcenter {
    justify-content: center;
  }

  &:not(.column).hend {
    align-items: flex-end;
  }

  &:not(.column).vend {
    justify-content: flex-end;
  }

  &:not(.column).hstart {
    align-items: flex-start;
  }

  &:not(.column).vstart {
    justify-content: flex-start;
  }

  &:not(.column).speven {
    justify-content: space-evenly;
  }

  &:not(.column).spbtw {
    justify-content: space-between;
  }

  &:not(.column).sparnd {
    justify-content: space-around;
  }

  &:not(.column).hstretched {
    justify-content: stretch;
  }

}

.grided {
  display: grid;

  &.vcenter {
    justify-items: center;
  }

  &.hcenter {
    align-content: center;
  }
}

.gap {
  &20 {
    gap: 2rem;
  }

  &19 {
    gap: 1.9rem;
  }

  &18 {
    gap: 1.8rem;
  }

  &17 {
    gap: 1.7rem;
  }

  &16 {
    gap: 1.6rem;
  }

  &15 {
    gap: 1.5rem;
  }

  &14 {
    gap: 1.4rem;
  }

  &13 {
    gap: 1.3rem;
  }

  &12 {
    gap: 1.2rem;
  }

  &11 {
    gap: 1.1rem;
  }

  &10 {
    gap: 1rem;
  }

  &9 {
    gap: .9rem;
  }

  &8 {
    gap: .8rem;
  }

  &7 {
    gap: .7rem;
  }

  &6 {
    gap: .6rem;
  }

  &5 {
    gap: .5rem;
  }

  &4 {
    gap: .4rem;
  }

  &3 {
    gap: .3rem;
  }

  &2 {
    gap: .2rem;
  }

  &1 {
    gap: .1rem;
  }
}

.p {
  &1 {
    padding: .1rem;
  }

  &2 {
    padding: .2rem;
  }

  &3 {
    padding: .3rem;
  }

  &4 {
    padding: .4rem;
  }

  &5 {
    padding: .5rem;
  }

  &6 {
    padding: .6rem;
  }

  &7 {
    padding: .7rem;
  }

  &8 {
    padding: .8rem;
  }

  &9 {
    padding: .9rem;
  }

  &10 {
    padding: 1rem;
  }

  &11 {
    padding: 1.1rem;
  }

  &12 {
    padding: 1.2rem;
  }

  &13 {
    padding: 1.3rem;
  }

  &14 {
    padding: 1.4rem;
  }

  &15 {
    padding: 1.5rem;
  }

  &16 {
    padding: 1.6rem;
  }

  &17 {
    padding: 1.7rem;
  }

  &18 {
    padding: 1.8rem;
  }

  &19 {
    padding: 1.9rem;
  }

  &20 {
    padding: 2rem;
  }

  &25 {
    padding: 2.5rem;
  }

  &30 {
    padding: 3rem;
  }
}

.p-sides {
  &-1 {
    padding: 0 .1rem;
  }

  &-2 {
    padding: 0 .2rem;
  }

  &-3 {
    padding: 0 .3rem;
  }

  &-4 {
    padding: 0 .4rem;
  }

  &-5 {
    padding: 0 .5rem;
  }

  &-6 {
    padding: 0 .6rem;
  }

  &-7 {
    padding: 0 .7rem;
  }

  &-8 {
    padding: 0 .8rem;
  }

  &-9 {
    padding: 0 .9rem;
  }

  &-10 {
    padding: 0 1rem;
  }

  &-11 {
    padding: 0 1.1rem;
  }

  &-12 {
    padding: 0 1.2rem;
  }

  &-13 {
    padding: 0 1.3rem;
  }

  &-14 {
    padding: 0 1.4rem;
  }

  &-15 {
    padding: 0 1.5rem;
  }

  &-16 {
    padding: 0 1.6rem;
  }

  &-17 {
    padding: 0 1.7rem;
  }

  &-18 {
    padding: 0 1.8rem;
  }

  &-19 {
    padding: 0 1.9rem;
  }

  &-20 {
    padding: 0 2rem;
  }
}

.m-sides {
  &-1 {
    margin: 0 .1rem;
  }

  &-2 {
    margin: 0 .2rem;
  }

  &-3 {
    margin: 0 .3rem;
  }

  &-4 {
    margin: 0 .4rem;
  }

  &-5 {
    margin: 0 .5rem;
  }

  &-6 {
    margin: 0 .6rem;
  }

  &-7 {
    margin: 0 .7rem;
  }

  &-8 {
    margin: 0 .8rem;
  }

  &-9 {
    margin: 0 .9rem;
  }

  &-10 {
    margin: 0 1rem;
  }

  &-11 {
    margin: 0 1.1rem;
  }

  &-12 {
    margin: 0 1.2rem;
  }

  &-13 {
    margin: 0 1.3rem;
  }

  &-14 {
    margin: 0 1.4rem;
  }

  &-15 {
    margin: 0 1.5rem;
  }

  &-16 {
    margin: 0 1.6rem;
  }

  &-17 {
    margin: 0 1.7rem;
  }

  &-18 {
    margin: 0 1.8rem;
  }

  &-19 {
    margin: 0 1.9rem;
  }

  &-20 {
    margin: 0 2rem;
  }
}

.list-view {
  display: grid;
  grid: auto-flow/1fr;
  align-content: flex-start;
  overflow-y: auto;
  height: 100%;

  &-item.bordered:not(:last-child) {
    border-bottom: 1px solid var(--bgc-200);
  }

  &-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: default;
    transition: background-color 0.2s ease-out;

    &.selected {
      outline: 1px solid var(--mc-500);
    }

    &.hovered {
      cursor: pointer;

      &:hover {
        background-color: var(--bgc-200);
      }
    }
  }
}

.overlay {
  background-color: white;
  box-shadow: 0px 0px 0.4px rgba(0, 0, 0, 0.02),
  0px 0px 0.9px rgba(0, 0, 0, 0.028),
  0px 0px 1.8px rgba(0, 0, 0, 0.035),
  0px 0px 3.1px rgba(0, 0, 0, 0.042),
  0px 0px 5.8px rgba(0, 0, 0, 0.05),
  0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: .5rem;
  overflow: hidden;
  transform: translateY(.3rem);

  &-list {

    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 15vh;
    padding: 0.25rem 0;

    &-item {
      padding: .75rem 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      transition: background-color 0.2s ease-out, color 0.2s ease-out;
      background-color: white;
      color: var(--tc-500);
      font-size: .85rem;

      &.selected {
        background-color: var(--mc-0);
        color: var(--mc-500);
      }
    }
  }
}

.overflow {
  overflow: hidden;
}

.v-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.h-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.stretched {
  flex-grow: 1;
  flex-basis: fit-content;
  flex-shrink: 1;
}

.self-center {
  align-self: center;
}

.p-input-icon-left > i, .p-input-icon-right > i {
  margin-top: -0.8rem !important;
}

.input-label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  label {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--tc-500);
    transform: translateX(.3rem);
  }
}

.fit-content {
  width: max-content;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.p-steps ul {
  gap: 1rem;
}

.p-steps .p-steps-item:before {
  width: calc(100% + 1rem) !important;
  transform: translateX(-0.5rem);
}

.p-steps-item {
  .p-menuitem-link {
    cursor: pointer !important;
    user-select: none !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.panel {
  border-radius: var(--br-200) !important;
  box-shadow: var(--shadow-0) !important;
  background-color: white !important;
}

fieldset.node {
  border: 1px solid #ced4da;
  border-radius: .5rem;
  padding: 1rem;

  & > legend {
    font-size: 1rem;
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
    line-height: normal;
  }
}

.error-border.ng-dirty.ng-invalid {
  border-color: #e24c4c !important;
}

//.error-border.ng-touched.ng-invalid {
//  border-color: #e24c4c !important;
//}

fieldset.ng-dirty.ng-invalid {
  border-color: #e24c4c;
}

.header {

  &300 {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--tc-600);
    line-height: normal;
    //margin-top: .5rem;
  }

  &400 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--tc-800);
    line-height: normal;
    //margin-top: .5rem;
  }

  &500 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--tc-800);
    line-height: normal;
    //margin-top: .5rem;
  }

}

.text-max-lines {

  &-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &-4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &-5 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  &-6 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }

  &-7 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }

  &-8 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }

  &-9 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
  }

  &-10 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
  }
}

.caption {
  font-size: 1rem;
  font-weight: 400;
  color: var(--tc-700);
  line-height: normal;

  &.size {
    &-tiny {
      font-size: .7rem;
    }

    &-small {
      font-size: .85rem;
    }

    &-big {
      font-size: 1.15rem;
    }

    &-huge {
      font-size: 1.4rem;
    }

    &-xlarge {
      font-size: 2rem;
    }
  }

  &.f-color {
    &-100 {
      color: var(--tc-100);
    }

    &-200 {
      color: var(--tc-200);
    }

    &-300 {
      color: var(--tc-300);
    }

    &-400 {
      color: var(--tc-400);
    }

    &-500 {
      color: var(--tc-500);
    }

    &-600 {
      color: var(--tc-600);
    }

    &-700 {
      color: var(--tc-700);
    }

    &-800 {
      color: var(--tc-800);
    }

    &-900 {
      color: var(--tc-900);
    }

    &-danger {
      color: var(--danger-600);
    }

    &-warning {
      color: var(--warm-400);
    }

    &-success {
      color: var(--green-400);
    }

    &-primary {
      color: var(--mc-400);
    }
  }

  &.wt {
    &-tiny {
      font-weight: 200;
    }

    &-bold {
      font-weight: 600;
    }

    &-black {
      font-weight: 800;
    }
  }

  &.f-inline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.with-icon {
    display: flex;
    align-items: center;
    gap: .25em;
  }

  &.prewrap {
    white-space: pre-line;
  }
}

.not-selectable {
  user-select: none;
}

.drop-zone {
  outline: 2px solid var(--mc-400);
}

.p-tabview.tab-content-unpadding > .p-tabview-panels {
  padding: 0;
}

.min {
  &-w-1 {
    min-width: 1rem;
  }

  &-w-3 {
    min-width: 3rem;
  }

  &-w-5 {
    min-width: 5rem;
  }

  &-w-7 {
    min-width: 7rem;
  }

  &-w-10 {
    min-width: 10rem;
  }

  &-w-12 {
    min-width: 12rem;
  }

  &-w-15 {
    min-width: 15rem;
  }

  &-w-17 {
    min-width: 17rem;
  }

  &-w-20 {
    min-width: 20rem;
  }

  &-w-25 {
    min-width: 25rem;
  }

  &-h-0-8 {
    min-height: .8rem;
  }

  &-h-1 {
    min-height: 1rem;
  }

  &-h-1-5 {
    min-height: 1.5rem;
  }

  &-h-2 {
    min-height: 2rem;
  }

  &-h-3 {
    min-height: 3rem;
  }

  &-h-4 {
    min-height: 4rem;
  }

  &-h-5 {
    min-height: 5rem;
  }

  &-h-10 {
    min-height: 10rem;
  }

  &-h-15 {
    min-height: 15rem;
  }

  &-h-20 {
    min-height: 20rem;
  }
}

.one-line {
  white-space: nowrap;
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bounded {
  &5 {
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &10 {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &15 {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &20 {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &100p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.bg {
  &-white {
    background-color: white;
  }
}

.p-timeline-event-opposite {
  //display: none !important;
  width: max-content !important;
  height: max-content !important;
  flex: 0 !important;
  transform: translateY(-40%);
}

.md-editor > textarea {
  padding: 1rem !important;
}

.custom-spinner {
  display: block;

  &.custom-spinner-xs {
    width: .75rem;
    height: .75rem;
  }

  &.custom-spinner-sm {
    width: .875rem;
    height: .875rem;
  }

  &.custom-spinner-md {
    width: 1rem;
    height: 1rem;
  }

  &.custom-spinner-lg {
    width: 1.125rem;
    height: 1.125rem;
  }

  &.custom-spinner-xl {
    width: 1.25rem;
    height: 1.25rem;
  }

  &.custom-spinner-2xl {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.custom-spinner-3xl {
    width: 1.75rem;
    height: 1.75rem;
  }

  &.custom-spinner-4xl {
    width: 2rem;
    height: 2rem;
  }

  &.custom-spinner-5xl {
    width: 2.5rem;
    height: 2.5rem;
  }

  &.custom-spinner-6xl {
    width: 3rem;
    height: 3rem;
  }

  &.custom-spinner-7xl {
    width: 4rem;
    height: 4rem;
  }

  &.custom-spinner-8xl {
    width: 6rem;
    height: 6rem;
  }
}

.custom-spinner > .p-progress-spinner {
  width: inherit !important;
  height: inherit !important;
  display: block !important;
}

.custom-spinner.custom-spinner-primary .p-progress-spinner-circle {
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite, primary-spinner-color 6s ease-in-out infinite !important;
}

.custom-spinner.custom-spinner-white .p-progress-spinner-circle {
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite, white-spinner-color 6s ease-in-out infinite !important;
}

.custom-spinner.custom-spinner-gray .p-progress-spinner-circle {
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite, gray-spinner-color 6s ease-in-out infinite !important;
}

@keyframes white-spinner-color {
  100%,
  0% {
    stroke: var(--gray-50);
  }
}

@keyframes primary-spinner-color {
  100%,
  0% {
    stroke: var(--primary-400);
  }
}

@keyframes gray-spinner-color {
  100%,
  0% {
    stroke: var(--bluegray-400);
  }
}

markdown > p:last-child {
  margin-bottom: 0 !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7c7c7c #ffffff;
  line-height: normal !important;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.h-divider {
  margin: 0;
  color: var(--tc-400);
}

.tags-view {
  display: flex;
  gap: .5rem;
  align-items: center;
  line-height: normal;

  &.max {
    max-width: 20rem;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.tags-view-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem .6rem;
  border-radius: 999px;
  background-color: var(--gray-600);
  color: var(--tc-100);
  white-space: nowrap;
  font-size: .74rem;
  font-weight: bold;
  line-height: normal;

  &.small {
    font-size: .6rem;
  }

  &.clickable {
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }

  .material-icons-round {
    font-size: 1rem;
    color: var(--tc-100);
    line-height: normal;
  }
}

.tags-view-placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--tc-500);
}

.ngx-quill-view-html > .ql-editor {
  padding: 0;
}

.ngx-quill-view-html.ql-container {
  height: auto;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 .5rem;
  position: sticky;
  top: calc(var(--top-panel-height) + 1rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.simple-message {
  padding: .5rem;
  font-size: .9rem;
  font-weight: 500;
  color: var(--tc-500);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.info {
    color: var(--tc-600);
  }

  &.warning {
    color: var(--orange-500);
  }

  &.error {
    color: var(--red-500);
  }
}

.emoji {
  font-family: Noto Color Emoji, serif;
  font-size: 1.2rem;
}

.p-dialog {
  box-shadow: 0px 0.8px 1.7px rgba(0, 0, 0, 0.02),
  0px 2px 4px rgba(0, 0, 0, 0.028),
  0px 3.8px 7.5px rgba(0, 0, 0, 0.035),
  0px 6.7px 13.4px rgba(0, 0, 0, 0.042),
  0px 12.5px 25.1px rgba(0, 0, 0, 0.05),
  0px 30px 60px rgba(0, 0, 0, 0.07) !important;
}

.p-ripple.primary .p-ink {
  background: var(--mc-100)
}

.overlay-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: white;
  width: fit-content;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.024),
  0px 0px 2.1px rgba(0, 0, 0, 0.035),
  0px 0px 5.1px rgba(0, 0, 0, 0.046),
  0px 0px 17px rgba(0, 0, 0, 0.07);
}

//.p-overlay {
//  width: 20rem;
//}

.p-overlaypanel {
  display: grid !important;
  border-radius: .5rem !important;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.024),
  0px 0px 2.1px rgba(0, 0, 0, 0.035),
  0px 0px 5.1px rgba(0, 0, 0, 0.046),
  0px 0px 17px rgba(0, 0, 0, 0.07) !important;

  &:before, &:after {
    display: none !important;
    content: none !important;
  }
}

.no-paddings {
  padding: 0 !important;

  & > .p-overlaypanel-content {
    padding: 0 !important;
  }
}

.p-toast-message-chatmsg {
  background-color: white;
  color: var(--tc-600);
  border-radius: .5rem !important;
  box-shadow: 0px 0.4px 0.7px rgba(0, 0, 0, 0.024),
  0px 1.1px 2px rgba(0, 0, 0, 0.035),
  0px 2.7px 4.8px rgba(0, 0, 0, 0.046),
  0px 9px 16px rgba(0, 0, 0, 0.07) !important;
}

.p-toast-message-dark {
  background-color: var(--bluegray-700);
  color: var(--bluegray-50);
  border: solid 1px var(--bluegray-500);
  border-radius: .75rem !important;
  .p-toast-icon-close {
    color: var(--bluegray-50);
  }
}

.responsive-wrapper {
  width: 100vw;

  @media screen and (min-width: 320px) {
    width: 100vw;
  }

  @media screen and (min-width: 480px) {
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    width: 100vw;
  }

  @media screen and (min-width: 1024px) {
    width: 100vw;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.sticky-type-selector {
  position: sticky;
  top: calc(var(--top-panel-height) + 1.5rem);
}

.borderless-text-field {
  padding: 1.4rem;
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.p-autocomplete.transparent-ac-token > .p-autocomplete-multiple-container {
  & > .p-autocomplete-token {
    background-color: transparent;
    border: none;
    padding: .375rem 0;
    margin-right: .3rem;

    & > .p-autocomplete-token-icon {
      margin-left: .2rem;
    }
  }
}

.split-line:not(:last-child) {
  border-bottom: 1px solid var(--bgc-200);
}

.terminator {
  &-bottom {
    border-bottom: 1px solid var(--bgc-200);
  }

  &-right {
    border-right: 1px solid var(--bgc-200);
  }
}

.p-breadcrumb {
  .p-menuitem-link {
    display: flex;
  }
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.work-tree {
  border: none !important;
  border-right: 1px solid var(--bgc-200) !important;
  border-radius: 0 !important;
  height: 100%;
}

.p-inputgroup-addon > i {
  font-size: 1.35rem !important;
}

.active-element {
  transition: background-color .1s ease-in-out;
  user-select: none;
  cursor: pointer;

  & * {
    transition: color .1s ease-in-out;
  }

  &:hover * {
    color: var(--mc-400) !important;
  }

  &:hover {
    background-color: var(--mc-0);
  }
}

.cover-element {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-duration: .2s;
    animation-name: flow;
    backdrop-filter: brightness(.7);
  }
}

.cursor-default {
  cursor: default !important;
}

@keyframes flow {
  from {
    backdrop-filter: brightness(1);
  }
  to {
    backdrop-filter: brightness(.8);
  }
}

.danger-menu-button > a span{
  color: var(--red-400) !important;
}

.warning-menu-button > a span{
  color: var(--orange-400) !important;
}

.success-menu-button > a span{
  color: var(--green-400) !important;
}
