<div appExtendPageHeight class="flex justify-content-center">
    <div class="responsive-wrapper flex gap-3">
<!--        <app-main-menu-panel></app-main-menu-panel>-->
        <div class="flex flex-column flex-grow-1 h-fit gap-3 panel overflow-hidden mb-3">
            <ng-container *ngIf="!isLoading">
                <span class="text-xl font-light text-bluegray-600 p-3">Конфигурация подключения к биллингу</span>
                <div [formGroup]="billingConfigForm" class="flex flex-column gap-3 px-5">
                    <div class="input-label-wrapper">
                        <label>Хост</label>
                        <input formControlName="host" pInputText type="text"/>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Порт</label>
                        <p-inputNumber [max]="65538" [min]="1" formControlName="port"></p-inputNumber>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Логин</label>
                        <input formControlName="login" pInputText type="text"/>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Пароль</label>
                        <input formControlName="password" pInputText type="text"/>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Имя демона</label>
                        <input formControlName="daemonName" pInputText type="text"/>
                    </div>
                    <div class="input-label-wrapper">
                        <label>IP Машины</label>
                        <app-ip-input formControlName="selfIp"></app-ip-input>
                    </div>
                </div>
                <div class="flex px-5 pb-5 justify-content-end">
                    <p-button (onClick)="saveConf()" [loading]="isSaving" [disabled]="!billingConfigForm.valid" icon="mdi-save" label="Сохранить"
                              styleClass="p-button-success"></p-button>
                </div>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <span class="text-xl font-light text-bluegray-600 p-3">Конфигурация подключения к биллингу</span>
                <div class="flex flex-column gap-3 px-5">
                    <div class="input-label-wrapper">
                        <label>Хост</label>
                        <p-skeleton height="3rem"></p-skeleton>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Порт</label>
                        <p-skeleton width="15rem" height="3rem"></p-skeleton>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Логин</label>
                        <p-skeleton height="3rem"></p-skeleton>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Пароль</label>
                        <p-skeleton height="3rem"></p-skeleton>
                    </div>
                    <div class="input-label-wrapper">
                        <label>Имя демона</label>
                        <p-skeleton height="3rem"></p-skeleton>
                    </div>
                    <div class="input-label-wrapper">
                        <label>IP Машины</label>
                        <p-skeleton width="16rem" height="3rem"></p-skeleton>
                    </div>
                </div>
                <div class="flex px-5 pb-5 justify-content-end">
                    <p-skeleton height="3rem" width="10rem"></p-skeleton>
                </div>
            </ng-container>
        </div>
    </div>
</div>
