<div appExtendPageHeight class="flexed vcenter">
    <div [style.padding-bottom]="'2rem'" class="responsive-wrapper flexed gap10">
<!--        <app-main-menu-panel></app-main-menu-panel>-->

        <p-tabView class="stretched panel overflow">
            <p-tabPanel *ngIf="personality.isHasAccess(AccessFlag.MANAGE_EMPLOYEES)">
                <ng-template pTemplate="header">
                    <div class="flexed gap3 hcenter">
                        <i class="mdi-person"></i>
                        <span>
                            Сотрудники
                        </span>
                    </div>
                </ng-template>
                <div class="flexed column">
                    <div [formGroup]="employeeFiltrationForm" class="flexed gap10 vcenter hcenter">
                        <span class="p-input-icon-left">
                            <i class="mdi-search"></i>
                            <input formControlName="query" pInputText placeholder="Поиск..." type="text">
                        </span>
                        <span class="caption size-small f-color-500 flexed column hcenter">
                            <p-inputSwitch [falseValue]="false"
                                           [ngStyle]="{lineHeight:'0'}" [trueValue]="true"
                                           formControlName="showDeleted"></p-inputSwitch>
                            Показывать удаленные?
                        </span>
                        <span>
                            <app-button (onClick)="openEmployeeCreator()" icon="person_add" label="Создать"
                                        model="p-button-text p-button-success"></app-button>
                        </span>
                    </div>
                    <div class="employee-list">
                        <div *ngFor="let employee of employees; trackBy: trackByEmployee" class="employee-list-item">
                            <app-avatar [deleted]="employee.deleted ?? false" [name]="employee.fullName" [size]="2.5"
                                        [src]="employee.avatar"></app-avatar>
                            <div class="flexed column">
                                <span class="caption">{{employee.fullName}}</span>
                                <div class="flexed gap5 hcenter">
                            <span appColorize>
                                {{employee.department?.name}}
                            </span>
                                    <span appColorize>
                                {{employee.position?.name}}
                            </span>
                                </div>
                            </div>
                            <div class="stretched"></div>
                            <p-button icon="mdi-edit" styleClass="p-button-text p-button-warning"
                                      label="Редактировать"
                                      (onClick)="openEmployeeEditor(employee.login)" [disabled]="employee.deleted ?? false"></p-button>
                            <p-button icon="mdi-delete" styleClass="p-button-text p-button-danger"
                                      (onClick)="employeeDeleteConfirm(employee)" [disabled]="employee.deleted ?? false"
                                      label="Удалить"
                                        [loading]="employee.login ? isBeingDeleteEmployee[employee.login] : false"></p-button>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="personality.isHasAccess(AccessFlag.MANAGE_DEPARTMENTS)">
                <ng-template pTemplate="header">
                    <div class="flexed gap3 hcenter">
                        <i class="mdi-groups"></i>
                        <span>
                            Отделы
                        </span>
                    </div>
                </ng-template>
                <div class="flexed column gap10">
                    <div>
                        <app-button (onClick)="openDepartmentCreator()" icon="add" label="Создать"
                                    model="p-button-success"></app-button>
                    </div>
                    <div class="list-view">
                        <div *ngFor="let department of departments; trackBy: trackByDepartment" class="list-view-item bordered">
                            <div class="flexed column gap5">
                                    <span appColorize class="caption size-small f-color-500">
                                        {{department.name}}
                                    </span>
                                <div *ngIf="department.description" [style]="{maxWidth:'20rem',marginLeft:'.5rem'}"
                                     class="caption size-small">
                                    {{department.description}}
                                </div>
                            </div>
                            <div class="stretched"></div>
                            <p-button icon="mdi-edit" styleClass="p-button-text p-button-warning"
                                      label="Редактировать"
                                      (onClick)="openDepartmentEditor(department.name, department.description??'', department.departmentId)"
                                      [disabled]="department.deleted ?? false"></p-button>
                            <p-button icon="mdi-delete" styleClass="p-button-text p-button-danger"
                                      (onClick)="departmentDeleteConfirm(department)"
                                      [loading]="department.departmentId ? isBeginDeleteDepartment[department.departmentId] : false"
                                      label="Удалить"></p-button>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="personality.isHasAccess(AccessFlag.MANAGE_POSITIONS)">
                <ng-template pTemplate="header">
                    <div class="flexed gap3 hcenter">
                        <i class="mdi-badge"></i>
                        <span>
                            Должности
                        </span>
                    </div>
                </ng-template>
                <div class="flexed gap10 column">
                    <app-button (onClick)="openPositionCreator()" icon="add" label="Создать"
                                model="p-button-success"></app-button>
                    <div class="list-view">
                        <div *ngFor="let position of positions; trackBy: trackByPosition" class="list-view-item bordered">
                            <div class="flexed column gap5">
                                    <span appColorize class="caption size-small f-color-500">
                                        {{position?.name}}
                                    </span>
                                <div *ngIf="position.description" [style]="{maxWidth:'20rem',marginLeft:'.5rem'}"
                                     class="caption size-small">
                                    {{position.description}}
                                </div>
                            </div>
                            <div class="stretched"></div>
                            <p-button icon="mdi-edit" styleClass="p-button-text p-button-warning"
                                      label="Редактировать"
                                      (onClick)="openPositionEditor(position.name, position.description??'', position.access??0, position.positionId)"
                                      [disabled]="position.deleted ?? false"></p-button>
                            <p-button icon="mdi-delete" styleClass="p-button-text p-button-danger"
                                      (onClick)="positionDeleteConfirm(position)"
                                      [loading]="position.positionId ? isBeginDeletePosition[position.positionId] : false"
                                      label="Удалить"></p-button>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<p-dialog [(visible)]="showCreateDepartmentDialog" [modal]="true" [dismissableMask]="true"
          [resizable]="false" header="Создание отдела">
    <ng-template pTemplate="content">
        <form [formGroup]="departmentForm" class="flexed column gap5">
            <span class="input-label-wrapper">
                <label>Название</label>
                <input formControlName="name" pInputText type="text">
            </span>
            <span class="input-label-wrapper">
                <label>Описание</label>
                <textarea [autoResize]="true" [cols]="50" [rows]="5" formControlName="description"
                          pInputTextarea></textarea>
            </span>
            <app-button (onClick)="departmentCreate()" [disabled]="!departmentForm.valid" icon="add"
                        [loading]="isBeginCreatingDepartment" label="Создать"></app-button>
        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showEditDepartmentDialog" [modal]="true" [dismissableMask]="true"
          [resizable]="false" header="Редактирование отдела">
    <ng-template pTemplate="content">
        <form [formGroup]="departmentForm" class="flexed column gap5">
            <span class="input-label-wrapper">
                <label>Название</label>
                <input formControlName="name" pInputText type="text">
            </span>
            <span class="input-label-wrapper">
                <label>Описание</label>
                <textarea [autoResize]="true" [cols]="50" [rows]="5" formControlName="description"
                          pInputTextarea></textarea>
            </span>
            <app-button (onClick)="departmentEdit()" [disabled]="!departmentForm.valid" icon="save"
                        [loading]="isBeginEditingDepartment" label="Сохранить"></app-button>
        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showCreatePositionDialog" [modal]="true" [dismissableMask]="true"
          [resizable]="false" header="Создание должности">
    <ng-template pTemplate="content">
        <form [formGroup]="positionForm" class="flex flex-column gap-2" [style.max-width]="'40rem'">
            <span class="input-label-wrapper">
                <label>Название</label>
                <input formControlName="name" pInputText type="text">
            </span>
            <span class="input-label-wrapper">
                <label>Описание</label>
                <textarea [autoResize]="true" [cols]="50" [rows]="5" formControlName="description"
                          pInputTextarea></textarea>
            </span>
            <p-panel header="Параметры доступа">
                <p-toggleButton (onChange)="checkAllAccessPosition($event)"
                                offLabel="Выделить всё"
                                onLabel="Снять выделение"></p-toggleButton>
                <div class="flex gap-3 flex-wrap max-h-15rem p-2 overflow-y-auto">
                    <p-checkbox *ngFor="let flag of accessFlags(); trackBy: AccessFlag.trackByFlag" [label]="flag.name" [value]="flag.value"
                                [formControl]="positionForm.controls.access" name="access"></p-checkbox>
                </div>
            </p-panel>
            <app-button (onClick)="positionCreate()" [disabled]="!positionForm.valid" icon="add"
                        [loading]="isBeginCreatingPosition" label="Создать"></app-button>
        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showEditPositionDialog" [modal]="true" [dismissableMask]="true"
          [resizable]="false" header="Редактирование должности">
    <ng-template pTemplate="content">
        <form [formGroup]="positionForm" class="flex flex-column gap-2" [style.max-width]="'40rem'">
            <span class="input-label-wrapper">
                <label>Название</label>
                <input formControlName="name" pInputText type="text">
            </span>
            <span class="input-label-wrapper">
                <label>Описание</label>
                <textarea [autoResize]="true" [cols]="50" [rows]="5" formControlName="description"
                          pInputTextarea></textarea>
            </span>
            <p-panel header="Параметры доступа">
                <p-toggleButton (onChange)="checkAllAccessPosition($event)"
                                offLabel="Выделить всё"
                                onLabel="Снять выделение"></p-toggleButton>
                <div class="flex gap-3 flex-wrap max-h-15rem p-2 overflow-y-auto">
                    <p-checkbox *ngFor="let flag of accessFlags(); trackBy: AccessFlag.trackByFlag" [label]="flag.name" [value]="flag.value"
                                [formControl]="positionForm.controls.access" name="access"></p-checkbox>
                </div>
            </p-panel>
            <app-button (onClick)="positionEdit()" [disabled]="!positionForm.valid" icon="save"
                        [loading]="isBeginEditingPosition" label="Сохранить"></app-button>
        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showCreateEmployeeDialog" [modal]="true" [dismissableMask]="true" contentStyleClass="flex flex-column gap-3"
          [resizable]="false" header="Создание сотрудника">
    <ng-template pTemplate="content">
        <ng-container *ngTemplateOutlet="employeeFormTemplate"></ng-container>
        <app-button (onClick)="employeeCreate()" [disabled]="!employeeForm.valid" [loading]="isBeingCreatingEmployee" icon="person_add"
                    label="Создать"></app-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showEditEmployeeDialog" [modal]="true" [dismissableMask]="true" contentStyleClass="flex flex-column gap-3"
          [resizable]="false" header="Редактирование сотрудника">
    <ng-template pTemplate="content">
        <ng-container *ngTemplateOutlet="employeeFormTemplate"></ng-container>
        <app-button (onClick)="employeeEdit()" [disabled]="!employeeForm.valid" [loading]="isBeingEditingEmployee" icon="save"
                    label="Сохранить"></app-button>
    </ng-template>
</p-dialog>

<ng-template #employeeFormTemplate>
    <form [formGroup]="employeeForm" class="flex flex-column gap-2" [style.max-width]="'55rem'">
        <div class="flex gap-3 align-items-center">
            <span class="input-label-wrapper full-width">
                <label>Фамилия</label>
                <input appRegexPatternChecker patternRx="^[А-я]+$" formControlName="lastName" pInputText
                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
            </span>
            <span class="input-label-wrapper full-width">
                <label>Имя</label>
                <input appRegexPatternChecker formControlName="firstName" pInputText patternRx="^[А-я]+$"
                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
            </span>
            <span class="input-label-wrapper full-width">
                <label>Отчество</label>
                <input appRegexPatternChecker formControlName="secondName" pInputText patternRx="^[А-я]+$"
                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
            </span>
        </div>
        <div class="flex gap-3 align-items-center">
            <span class="input-label-wrapper full-width">
                <label>Логин</label>
                <input appRegexPatternChecker formControlName="login" pInputText patternRx="^[\w\.]+$$"
                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee || showEditEmployeeDialog" type="text">
            </span>
            <span class="input-label-wrapper full-width">
                <label>Пароль</label>
                <input appRegexPatternChecker formControlName="password" pInputText patternRx="^[\w\.]+$$"
                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="password">
            </span>
        </div>
        <div class="flex gap-3 align-items-center">
                <span class="input-label-wrapper full-width">
                    <label>Внутренний номер телефона</label>
                    <input appRegexPatternChecker formControlName="internalPhoneNumber" pInputText patternRx="^\d+$"
                           [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                </span>
            <span class="input-label-wrapper full-width">
                    <label>Telegram ID</label>
                    <input appRegexPatternChecker formControlName="telegramUserId" pInputText patternRx="^\d+$"
                           [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                </span>

        </div>
        <div class="flex gap-3 align-items-center">
                <span class="input-label-wrapper">
                    <label>Отдел</label>
                    <p-dropdown [options]="departments" formControlName="department"
                                [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" optionLabel="name" optionValue="departmentId" placeholder="Выбрать">
                        <ng-template let-department pTemplate="selectedItem">
                            <div [colorString]="department.name" appColorize>{{department.name}}</div>
                        </ng-template>
                        <ng-template let-department pTemplate="item">
                            <div appColorize>{{department.name}}</div>
                        </ng-template>
                    </p-dropdown>
                </span>
            <span class="input-label-wrapper">
                    <label>Должность</label>
                    <p-dropdown (onChange)="positionSelecting($event)" [options]="positions" formControlName="position"
                                [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" optionLabel="name" optionValue="positionId" placeholder="Выбрать">
                        <ng-template let-position pTemplate="selectedItem">
                            <div [colorString]="position.name" appColorize>
                                {{position.name}}
                            </div>
                        </ng-template>
                        <ng-template let-position pTemplate="item">
                            <div appColorize>
                                {{position.name}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </span>
            <span class="input-label-wrapper flexed vcenter">
                    <label>Монтажник?</label>
                    <p-inputSwitch [falseValue]="false" [ngStyle]="{lineHeight:'0'}" [trueValue]="true"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" formControlName="offsite"></p-inputSwitch>
                </span>
            <span class="input-label-wrapper full-width" *ngIf="employeeForm.value.offsite">
                    <label>ID Рабочей группы</label>
                    <input appRegexPatternChecker formControlName="telegramGroupChatId" pInputText patternRx="^\d+$"
                           [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                </span>
        </div>
        <p-panel header="Реквизиты авторизации" [toggleable]="true" [collapsed]="true">
            <div class="flex flex-column gap-2">
                <div class="flex flex-column">
                    <span class="text-bluegray-400 font-bold">Реквизиты от старого трекера</span>
                    <div class="flex gap-3 align-items-center" formGroupName="oldTrackerCredentials">
                        <ng-container *ngIf="!employeeForm.value.offsite">
                            <app-label label="Логин">
                                <input appRegexPatternChecker formControlName="username" pInputText patternRx="^[\w\.]+$"
                                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                            </app-label>
                            <app-label label="Пароль">
                                <input appRegexPatternChecker formControlName="password" pInputText patternRx="^[\w\.]+$"
                                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                            </app-label>
                        </ng-container>
                        <ng-container *ngIf="employeeForm.value.offsite">
                            <app-label label="ID Монтажника в трекере">
                                <input appRegexPatternChecker formControlName="installerId" pInputText patternRx="^[\d]+$"
                                       [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                            </app-label>
                        </ng-container>
                    </div>
                </div>
                <div class="flex flex-column">
                    <span class="text-bluegray-400 font-bold">Реквизиты биллинга 1785</span>
                    <div class="flex gap-3 align-items-center" formGroupName="base1785Credentials">
                        <app-label label="Логин">
                            <input appRegexPatternChecker formControlName="username" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                        <app-label label="Пароль">
                            <input appRegexPatternChecker formControlName="password" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                    </div>
                </div>
                <div class="flex flex-column">
                    <span class="text-bluegray-400 font-bold">Реквизиты биллинга 781</span>
                    <div class="flex gap-3 align-items-center" formGroupName="base781Credentials">
                        <app-label label="Логин">
                            <input appRegexPatternChecker formControlName="username" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                        <app-label label="Пароль">
                            <input appRegexPatternChecker formControlName="password" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                    </div>
                </div>
                <div class="flex flex-column">
                    <span class="text-bluegray-400 font-bold">Реквизиты биллинга 1783</span>
                    <div class="flex gap-3 align-items-center" formGroupName="base1783Credentials">
                        <app-label label="Логин">
                            <input appRegexPatternChecker formControlName="username" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                        <app-label label="Пароль">
                            <input appRegexPatternChecker formControlName="password" pInputText patternRx="^[\w\.]+$"
                                   [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" type="text">
                        </app-label>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel header="Параметры доступа" [toggleable]="true" [collapsed]="true">
            <div class="flex gap-3 flex-column">
                <div class="flex gap-3 align-items-center">
                    <p-toggleButton (onChange)="checkAllAccessEmployee($event)"
                                    [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee || !isAccessOverride" offLabel="Выделить всё"
                                    onLabel="Снять выделение"></p-toggleButton>
                    <p-toggleButton (ngModelChange)="accessOverrideChange($event)" [(ngModel)]="isAccessOverride"
                                    [ngModelOptions]="{standalone:true}" offLabel="Переопределить"
                                    [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" onLabel="Из должности"></p-toggleButton>
                </div>
                <div *ngIf="isAccessOverride" class="flex gap-3 flex-wrap max-h-15rem p-2 overflow-y-auto">
                    <p-checkbox *ngFor="let flag of accessFlags(); trackBy: AccessFlag.trackByFlag" [label]="flag.name" [value]="flag.value"
                                [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee" [formControl]="employeeForm.controls.access" name="access"></p-checkbox>
                </div>
                <div *ngIf="!isAccessOverride" class="flex gap-3 flex-wrap max-h-15rem p-2 overflow-y-auto">
                    <p-checkbox *ngFor="let flag of accessFlags(); trackBy: AccessFlag.trackByFlag"
                                [disabled]="isBeingCreatingEmployee || isBeingEditingEmployee || true" [label]="flag.name"
                                [ngModelOptions]="{standalone:true}" [ngModel]="accessOfSelectedPosition"
                                [value]="flag.value" name="accessPosition"></p-checkbox>
                </div>
            </div>
        </p-panel>
    </form>
</ng-template>
