<div (click)="onClick.emit(item)" [ngClass]="{processing: item?.taskStatus === 'PROCESSING', inlined, hovered: isHover}"
     [routerLink]="!viewExample && !customClickHandler ? ['/task', item?.taskId] : null"
     class="flex flex-column bg-white outline-none cursor-pointer hover:bg-gray-50">
    <div class="flex gap-3 p-3 border-bottom-1 border-bluegray-50">
        <p-checkbox (click)="$event.stopPropagation()" (ngModelChange)="checkChange.emit($event)" [(ngModel)]="check"
                    [name]="checkGroup" *ngIf="check"
                    [value]="item?.taskId"></p-checkbox>
        <ng-container *ngTemplateOutlet="headerItem; context:{label: 'Тип', value: item?.modelWireframe?.name}"></ng-container>
        <ng-container *ngTemplateOutlet="headerItem; context:{label: 'Стадия', value: item?.currentStage?.label}"></ng-container>
        <ng-container *ngIf="item?.actualFrom || item?.actualTo">
            <ng-container *ngIf="item?.actualFrom">
                <ng-container *ngTemplateOutlet="headerItem; context:{label: 'Запланирована', value: item?.actualFrom | date:'dd/MM/yyyy HH:mm'}"></ng-container>
            </ng-container>
            <ng-container *ngIf="item?.actualTo && !item?.actualFrom">
                <ng-container *ngTemplateOutlet="headerItem; context:{label: 'Срок', value: item?.actualTo | date:'dd/MM/yyyy HH:mm'}"></ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="statusTags"></ng-container>
        <div class="stretched"></div>
        <ng-container *ngIf="item?.taskStatus === 'PROCESSING'; then workersEmployee; else responsibleEmployee"></ng-container>
    </div>
<!--    <ng-container *ngTemplateOutlet="(isWide$ | async) ? tableBodyView : bodyView; context: {$implicit: taskFields}"></ng-container>-->
    <app-task-fields-table-view [task]="item"></app-task-fields-table-view>
    <div *ngIf="item?.lastComment" class="flex gap-2 border-top-1 border-bottom-1 border-bluegray-100 p-3">
        <span class="text-sm white-space-nowrap text-primary-600">
            {{item?.lastComment?.creator?.fullName}}:
        </span>
        <div class="text-bluegray-500" [style]="{whiteSpace:'pre-wrap', wordWrap:'break-word', textAlign:'left'}">
            {{item?.lastComment?.simpleText}}
        </div>
    </div>
    <div class="flex relative" *ngIf="isCommentInput">
        <textarea pInputTextarea [autoResize]="true" placeholder="Новый комментарий" [rows]="1" (keydown.control.enter)="sendComment()"
                  (click)="$event.stopPropagation()" class="mt-2 mx-3 flex-grow-1" [formControl]="commentInputControl" [disabled]="commentSending"></textarea>
        <p-button icon="mdi-send" class="absolute bottom-0 right-0 mr-3" (onClick)="$event.stopPropagation(); sendComment()"
                  styleClass="p-button-text p-button-icon" [loading]="commentSending"></p-button>
    </div>
    <div class="flex p-3 gap-2">
        <div class="flex-grow-1"></div>
        <span class="text-bluegray-500 text-sm font-semibold">Создатель: {{item?.creator?.fullName}}</span>
        <span [ngClass]="statusColor" class="font-semibold text-sm">{{item | taskStatus}}</span>
        <span class="text-bluegray-500 text-sm font-semibold">{{item?.created | date:'dd/MM/yyyy HH:mm'}}</span>
    </div>
</div>


<!--Дополнительная информация о статусе и тегах задачи-->
<ng-template #statusTags>
    <div class="tags-view">
        <div *ngFor="let tag of item?.tags|slice:0:2; trackBy: trackByTag" [style.background-color]="tag.color"
             class="tags-view-item small">{{tag.name}}</div>
        <div (mouseenter)="tagsPreviewShow($event)" (mouseleave)="tagsPreviewHide()" *ngIf="isMoreTwoTags"
             class="tags-view-item small">{{remainingNumberOfTags}}+
        </div>
    </div>
</ng-template>


<p-overlayPanel #tagsPreview [appendTo]="'body'" hideTransitionOptions="0ms" showTransitionOptions="0ms">
    <div class="tags-view wrap max">
        <div *ngFor="let tag of item?.tags|slice:2; trackBy: trackByTag" [style.background-color]="tag.color"
             class="tags-view-item">{{tag.name}}</div>
    </div>
</p-overlayPanel>

<ng-template #bodyView>
    <div [ngClass]="this.item?.modelWireframe?.listViewType" class="task-item-body">
        <ng-container *ngIf="!viewExample">
            <ng-container *ngFor="let field of item?.listItemFields; let i = index; trackBy: trackByField">
                <span *ngIf="i<fieldCountArray.length">{{field?.textRepresentation}}</span>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="viewExample">
            <ng-container *ngFor="let field of fieldCountArray; trackBy: trackByIndex">
                <app-select-field-to-view-button (selectView)="selectFieldToView.emit($event)"
                                                 [fields]="wireframeFieldsList"
                                                 [index]="field"></app-select-field-to-view-button>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #tableBodyView let-listItemFields>
    <div class="p-3 bg-bluegray-50">
        <ng-container *ngIf="listItemFields.inline.length>0">
            <table class="w-full">
                <thead>
                    <tr class="text-sm text-bluegray-500">
                        <th *ngFor="let field of listItemFields.inline; let i = index; trackBy: trackByField">{{field?.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let field of listItemFields.inline; let i = index; trackBy: trackByField">
                            <ng-container [ngSwitch]="field.wireframeFieldType">
                                <span class="flex flex-column" *ngSwitchCase="'PHONE_ARRAY'">
                                    <app-dial-buttons-list [phoneData]="field.phoneData"></app-dial-buttons-list>
                                </span>
                                <span *ngSwitchDefault>{{field.textRepresentation}}</span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="listItemFields.block.length>0">
            <table class="w-full" *ngFor="let field of listItemFields.block; let i = index; trackBy: trackByField">
                <thead>
                    <tr class="text-sm text-bluegray-500">
                        <th>{{field?.name}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>{{field?.textRepresentation}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</ng-template>

<ng-template #headerItem let-label="label" let-value="value">
    <span class="flex flex-column text-sm">
        <span>{{label}}</span>
        <span class="font-semibold" [ngClass]="statusColor">{{value}}</span>
    </span>
</ng-template>

<ng-template #responsibleEmployee>
    <ng-container *ngIf="item?.responsible">
        <ng-container *ngTemplateOutlet="headerItem; context:{label:'Ответственный', value: item?.responsible?.fullName}"></ng-container>
    </ng-container>
</ng-template>

<ng-template #workersEmployee>
    <ng-container *ngIf="item?.responsible">
        <ng-container *ngTemplateOutlet="headerItem; context:{label:'Монтажники', value: actualWorkLogWorkers}"></ng-container>
    </ng-container>
</ng-template>
