<p-tabView class="flex-grow-1" styleClass="tabview-unpadding">
    <p-tabPanel header="Шаблоны" leftIcon="mdi-list_alt" *ngIf="personality.isHasAccess(AccessFlag.EDIT_TASK_TEMPLATES)">
        <ng-template pTemplate="content">
            <ng-container *ngIf="templates$ | async as templates">
                <p-table [value]="templates.value" [loading]="templates.loadingState === LoadingState.LOADING" dataKey="wireframeId">
                    <ng-template pTemplate="caption">
                        <div class="flex gap-3">
                            <p-button [routerLink]="['constructor']" icon="mdi-add" label="Создать"
                                      styleClass="p-button-outlined p-button-success"></p-button>
                            <p-toggleButton [formControl]="deletedTemplatesSwitcher" offLabel="Показать удаленные"
                                            onLabel="Скрыть удаленные"></p-toggleButton>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Создатель</th>
                            <th>Создан</th>
                            <th>Наблюдатели</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-template>
                        <tr>
                            <td>{{template.name}}</td>
                            <td>{{template.description}}</td>
                            <td>{{template.creator?.fullName}}</td>
                            <td>{{template.created | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>
                                <span *ngFor="let observer of template.defaultObservers">
                                    {{observer?.name}}
                                </span>
                            </td>
                            <td>
                                <div class="flex gap-3">
                                    <p-button [disabled]="template.deleted" [queryParams]="{editingId:template.wireframeId}" [routerLink]="['constructor']"
                                              icon="mdi-edit"
                                              label="Редактировать" styleClass="p-button-warning p-button-text">
                                    </p-button>
                                    <p-button (onClick)="confirmDeleteWireframe($event, template.wireframeId)"
                                              [disabled]="template.deleted" icon="mdi-delete" label="Удалить"
                                              styleClass="p-button-danger p-button-text"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Теги" leftIcon="mdi-local_offer" *ngIf="personality.isHasAccess(AccessFlag.EDIT_TASK_TAGS)">
        <ng-template pTemplate="content">
            <ng-container *ngIf="tags$ | async as tags">
                <p-table [value]="tags.value" [loading]="tags.loadingState === LoadingState.LOADING" dataKey="taskTagId">
                    <ng-template pTemplate="caption">
                        <div class="flex gap-3">
                            <p-button (click)="openCreateTagDialog()" icon="mdi-add" label="Создать"
                                      styleClass="p-button-outlined p-button-success"></p-button>
                            <input pInputText placeholder="Поиск..." [formControl]="tagsNameQueryControl">
                            <p-toggleButton [formControl]="deletedTagsSwitcher" offLabel="Показать удаленные"
                                            onLabel="Скрыть удаленные"></p-toggleButton>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Название</th>
                            <th>Создатель</th>
                            <th>Создан</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tag>
                        <tr [ngClass]="{'text-bluegray-300':tag.deleted}">
                            <td>
                                <div [style.background-color]="tag.color" class="w-1rem h-1rem border-circle"></div>
                            </td>
                            <td>{{tag.name}}</td>
                            <td>{{tag.creator?.fullName}}</td>
                            <td>{{tag.created | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>
                                <div class="flex gap-3">
                                    <p-button (onClick)="openEditTagDialog(tag)" [disabled]="tag.deleted" icon="mdi-edit"
                                              label="Редактировать" styleClass="p-button-warning p-button-text">
                                    </p-button>
                                    <p-button (onClick)="confirmDeleteTag($event, tag.tagId)" [disabled]="tag.deleted" icon="mdi-delete"
                                              label="Удалить" styleClass="p-button-danger p-button-text"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Абон. оборудование" leftIcon="mdi-router" *ngIf="personality.isHasAccess(AccessFlag.EDIT_DEVICES)">
        <ng-template pTemplate="content">
            <ng-container *ngIf="equipments$ | async as equipments">
                <p-table [value]="equipments.value" [loading]="equipments.loadingState === LoadingState.LOADING" dataKey="clientEquipmentId">
                    <ng-template pTemplate="caption">
                        <div class="flex gap-3" [formGroup]="equipmentsFilterForm">
                            <p-button (click)="openCreateEquipmentDialog()" icon="mdi-add" label="Создать"
                                      styleClass="p-button-outlined p-button-success"></p-button>
                            <input pInputText placeholder="Поиск..." formControlName="query">
                            <p-toggleButton formControlName="isDeleted" offLabel="Показать удаленные"
                                            onLabel="Скрыть удаленные"></p-toggleButton>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Стоимость</th>
                            <th>Создан</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-equipment>
                        <tr>
                            <td>{{equipment.name}}</td>
                            <td>{{equipment.description}}</td>
                            <td>{{equipment.price}}</td>
                            <td>{{equipment.created | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>
                                <div class="flex gap-3">
                                    <p-button (onClick)="openEditEquipmentDialog(equipment)"
                                              [disabled]="equipment.deleted" icon="mdi-edit" label="Редактировать"
                                              styleClass="p-button-warning p-button-text">
                                    </p-button>
                                    <p-button (onClick)="confirmDeleteEquipment($event, equipment.equipmentId)"
                                              [disabled]="equipment.deleted" icon="mdi-delete" label="Удалить"
                                              styleClass="p-button-danger p-button-text"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </ng-template>
    </p-tabPanel>
</p-tabView>

<ng-template #templateItem let-item>
    <div class="template-item flex align-items-center gap-2">
        <div class="flex flex-column gap-2 flex-grow-1">
            <span [style.opacity]="item.deleted ? 0.5 : 1" class="flex align-items-center flex-grow-1 gap-1">
                <i *ngIf="item.deleted" class="mdi-not_interested"></i>
                <span>
                    {{item.name}}
                </span>
                <span class="caption size-tiny wt-bold f-color-500 indent1">
                    Создана: {{item.created|date:"dd MMMM yyyy HH:mm"}}
                </span>
            </span>
            <span *ngIf="item.description" class="caption size-small wt-bold f-color-500">
                {{item.description}}
            </span>
        </div>
        <p-button [disabled]="item.deleted" [queryParams]="{editingId:item.wireframeId}" [routerLink]="['constructor']"
                  icon="mdi-edit"
                  label="Редактировать" styleClass="p-button-warning p-button-text">
        </p-button>
        <p-button (onClick)="confirmDeleteWireframe($event, item.wireframeId)"
                  [disabled]="item.deleted" icon="mdi-delete" label="Удалить"
                  styleClass="p-button-danger p-button-text"></p-button>
    </div>
</ng-template>

<p-dialog [(visible)]="createTagDialogVisible" [breakpoints]="{'960px': '75vw'}" [draggable]="false" [modal]="true"
          [resizable]="false" [dismissableMask]="true" [style]="{width: 'max-content'}" header="Создать тег" contentStyleClass="flex flex-column gap-3 pt-1">
    <ng-template pTemplate="content">
        <ng-container *ngTemplateOutlet="tagFormTemplate"></ng-container>
        <app-button (onClick)="createTag()" [disabled]="tagDialogForm.invalid" [loading]="isTagSaving"
                    icon="check" label="Создать"></app-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editTagDialogVisible" [breakpoints]="{'960px': '75vw'}" [draggable]="false" [modal]="true"
          [resizable]="false" [dismissableMask]="true" [style]="{width: 'max-content'}" header="Редактировать тег" contentStyleClass="flex flex-column gap-3 pt-1">
    <ng-template pTemplate="content">
        <ng-container *ngTemplateOutlet="tagFormTemplate"></ng-container>
        <app-button (onClick)="editTag()" [disabled]="tagDialogForm.invalid" [loading]="isTagSaving"
                    icon="check" label="Сохранить"></app-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showEquipmentDialog" [breakpoints]="{'960px':'450px'}" [draggable]="false" [dismissableMask]="true"
          [header]="editionEquipmentId? 'Редактировать оборудование' : 'Создать оборудование'"
          [modal]="true"
          [resizable]="false"
          [style]="{width: '450px'}">
    <div [formGroup]="equipmentForm" class="flex flex-column gap-3 p-1">
        <div class="input-label-wrapper">
            <label>Название</label>
            <input formControlName="name" pInputText>
        </div>
        <div class="input-label-wrapper">
            <label>Описание</label>
            <textarea [autoResize]="true" [style.min-height]="'5rem'" formControlName="description"
                      pInputTextarea></textarea>
        </div>
        <div class="input-label-wrapper">
            <label>Стоимость</label>
            <p-inputNumber currency="RUB" formControlName="price" locale="ru-RU" mode="currency"></p-inputNumber>
        </div>
        <div class="flex justify-content-end">
            <p-button (onClick)="editionEquipmentId ? editEquipment() : createEquipment()"
                      [disabled]="!equipmentForm.valid"
                      [label]="editionEquipmentId ? 'Редактировать' : 'Создать'" [loading]="isEquipmentCreating" icon="mdi-add"
                      styleClass="p-button-success"></p-button>
        </div>
    </div>
</p-dialog>

<ng-template #tagFormTemplate>
    <div class="flex flex-column gap-2" [formGroup]="tagDialogForm">
        <span class="input-label-wrapper">
            <label>Название тега</label>
            <input formControlName="name" pInputText placeholder="Название..." type="text"/>
        </span>
        <span class="input-label-wrapper">
            <label>Фон тега</label>
            <p-colorPicker formControlName="color" appendTo="body"></p-colorPicker>
        </span>
        <span class="input-label-wrapper">
            <label>Открепить после закрытия</label>
            <p-inputSwitch formControlName="unbindAfterClose" class="w-fit h-fit"></p-inputSwitch>
        </span>
    </div>
</ng-template>
