.templates-scroller{
  height: 100%;
}

.template-item{
  padding: .8rem .8rem 1.1rem 1.1rem;
  font-size: 1.2rem;
  color: var(--tc-700);
  cursor: pointer;
  transition: background-color .2s ease-out;

  &:hover{
    background-color: var(--bgc-100);
    color: var(--tc-700);
  }

  &-main-info{
    &-description{
      font-size: .9rem;
      color: var(--tc-500);
    }
  }

  &-created-date{
    font-size:.8rem;
    color: var(--tc-500);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.title{
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--tc-600);
}

.task-tags-list{
  display: grid;
  grid: auto-flow / 1fr;
  //flex-wrap: wrap;
  //align-content: flex-start;
  //gap: .5rem;
  //padding: .5rem;
  overflow-y: auto;
  //height: 40vh;
}

.append-tag-button{
  background-color: white;
  color: var(--tc-500);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all .1s ease-out;

  &:hover{
    background-color: var(--mc-0);
    color: var(--mc-500);
  }
}

.template-create-button{
  background-color: white;
  color: var(--tc-500);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-out;
  &:hover{
    background-color: var(--mc-0);
    color: var(--mc-500);
  }
}
