<div class="flex align-items-center px-5 py-4 bg-white gap-3 sticky top-0 z-1 border-bottom-1 border-bluegray-100" [formGroup]="filterControls">
    <span class="text-2xl text-bluegray-500 font-semibold">
        Приемка договоров
    </span>
    <input pInputText id="searchInput" formControlName="searchQuery" placeholder="Логин / Адрес / Монтажник..." class="flex-grow-1"/>
    <button pButton id="searchButton" icon="mdi-search" label="Поиск"></button>
    <button pButton id="clearButton" icon="mdi-clear" label="Отчистить" class="p-button-secondary p-button-text"></button>
</div>
<div class="flex flex-column gap-2 relative flex-grow-1" *ngIf="workLogs$ | async as workLogs" [ngSwitch]="workLogs.loadingState">
    <div class="flex align-items-center justify-content-center flex-grow-1" *ngSwitchCase="LoadingState.LOADING">
        <p-progressSpinner class="custom-spinner custom-spinner-primary custom-spinner-8xl" strokeWidth="2"></p-progressSpinner>
    </div>
    <div class="flex flex-column align-items-center justify-content-center text-red-400 absolute top-50 left-50 -translate-50"
         *ngSwitchCase="LoadingState.ERROR">
        <span class="mds-error"></span>
        <span class="text-lg font-bold">Ошибка загрузки</span>
    </div>
    <div class="flex flex-column align-items-center justify-content-center text-bluegray-400 absolute top-50 left-50 -translate-50"
         *ngSwitchCase="LoadingState.EMPTY">
        <span class="mds-scan_delete"></span>
        <span class="text-lg font-bold">Нет договоров для приемки</span>
    </div>
    <ng-container *ngSwitchCase="LoadingState.READY">
        <app-contract-inspection-item *ngFor="let workLog of workLogs.value" [workLog]="workLog"></app-contract-inspection-item>
    </ng-container>
    <div *ngIf="workLogs.loadingState === LoadingState.READY" class="flex-grow-1"></div>
    <p-paginator [hidden]="workLogs.loadingState !== LoadingState.READY"
                 [first]="(pageControl.value ?? 0)*15"
                 (onPageChange)="pageControl.setValue($event.page)" class="sticky bottom-0 border-top-1 border-bluegray-100"
                 [totalRecords]="workLogs.totalElements" [alwaysShow]="true" [rows]="15" styleClass="border-noround"></p-paginator>
</div>
